@charset "utf-8";
/* CSS Document */
.border{
	border:1px solid #ccc;
}
.main_blk{
	width : 1055px;
	height: 350px;
	margin:2px;
	padding:0px;
	border:1px solid #ccc;
}
.left_blk{
	width:80%;
	height:350px;
	margin:1px;
	/*border:1px solid #ccc;*/
	overflow-y:auto;
}
.right_blk{
	width:19%;
	height:350px;
	margin:1px;
	overflow:hidden;
	overflow-y:auto;
	/*border:1px solid #ccc;*/
}
.left_thumb{
	width:250px;
	height:210px;
	/*border:1px solid #ccc;*/
	margin:3px;
	margin-top:3px;
	padding:0px;
	position:relative;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	padding:3px;
}
.full_img{
	/*border:1px solid #ccc;*/
	margin:3px;
	margin-top:3px;
	padding:0px;
	position:relative;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	padding:3px;
}
.img_border{
	/*border:1px solid #ccc;*/
	margin:3px;
	margin-top:3px;
	padding:0px;
	position:relative;
	border:solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	padding:3px;
}

.right_thumb{
	width:100px;
	height:83px;
	border:1px solid #ccc;
	margin:1px;
	position:relative;
}
.close{
	background:url(img/close_chart.gif) no-repeat;
	float:right;
	width:18px;
	height:18px;
	position:absolute;
}
.chkBox{
	float:right;
	position:absolute
}
.fl{
	float:left;
}
.btn_cont{
	margin:10px;
}
.button{ /*--FORM BUTTONS--*/
	background:#5A9DEC url(img/butt_bg.jpg) repeat-x; border:1px solid #292929;
	padding:2 3 2 3;
	color:#292929; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:15px; 
	font-weight:bold; 
	cursor:pointer;
}
.text_14{ 
	font-size:14px; 
	color:#333333;
	text-align:center;
	text-decoration:none;
	margin-top:100px;
}
.m10{
	margin:10px;
}
.p10{
	padding:10px;
}