.text_b_w{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
	background-color:#c7c7c7;
}
.rpt_headers{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFFFFF;
/*	background-color:#4684ab;*/
	border-color:#FFFFFF;
	text-align: left; 
	word-wrap: break-word;
	vertical-align:top;
}
.text_10b{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#FFFFFF;
	
}
.text_10{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
}
.info{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
}
.total-row{
	height:1px; padding: 0px; background: #009933;
}
.header1{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	background-color:#BCD5E1;
	
}
.table{
	border-collapse:separate; 
	border:none; 
	background-color:#FFF3E8;
	border-spacing:2px;
	width:100%;
}
.table td{
	padding-right:5px
}
.table th{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	background-color:#BCD5E1;
	padding:2px;
}
.table td{
	padding-right:5px;
}
#heading1 td{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#000000;
	background-color:#BCD5E1;
	vertical-align:top;
}
#heading_orange td{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left; 
	background-color:#727272; 
	color:#fff; 
	width:100%; 
	font-weight:bold;
}
.data_b td{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	padding-left:5px;
	text-align:left;
	vertical-align:top;
}
.data td{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	padding-left:5px;
	text-align:left;
	vertical-align:top;
}
.subtotal td{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	padding-right:5px;
	text-align:left;
	vertical-align:top;
}
.grandtotal td{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	padding-right:5px;
	text-align:left;
	vertical-align:top;
}
table.writeOffBorder, table.writeOffBorder td 
{
	border:1px solid #333333;
	border-collapse:collapse;	
}	
.rpt_padding td.rptbx1{background-color:#8bc24a; color:#fff; line-height:18px; padding: 1px 3px 1px 3px;}
.rpt_padding td.rptbx2{background-color:#3f51b5; color:#fff; line-height:18px; padding: 1px 3px 1px 3px;}
.rpt_padding td.rptbx3{background-color:#6e6e6e; color:#fff; line-height:18px; padding: 1px 3px 1px 3px;}

.rpt_table{
	max-width: 100%;
	width: 100%; 
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.rpt_table td, th{
	padding-left:3px;
	padding-right:3px;
}


.rpt_table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}