@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{ padding:0px; margin:0px; font-family: 'open_sansregular'; font-size:14px;}
.clearfix{ clear:both}

.tophead{ background-color:#f6f6f6; padding:5px; -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.38);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.38); text-align:center; margin-bottom:10px;}

.tophead button{ background-color:#6d5cae; position: relative; border:0px solid #b7b7b7; border-radius:4px; padding:5px 10px; color:#fff; text-align:left; text-transform:uppercase; font-weight:bold; min-height:40px}
.tophead button:hover{ background-color:#6d5cae; color:#fff; cursor:pointer}
.tophead button figure{ background-color:#8bc34a; padding:5px; border-radius:50px; color:#fff; border:1px solid #fff; display:inline-block; margin:0px}



.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: left;
}

.accordion dl {
  border: 1px solid #ddd;
}
.accordion dl:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #2ba659;
}

.accordion dd {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em; margin:0px; padding:0px; border-bottom:1px solid #c6c6c6;
}

.accordion p {
  padding:0px; margin:0px;
}

.accordion {
  position: relative;
  background-color: #eee; margin:0px 15px;
}

.accordion-box {

  margin: 0 auto;
  padding:0px;
}

.accordionTitle {
  background-color: #eeeeee;
  text-align: left;
  font-weight: 700;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #696969;
  -webkit-transition: background-color 0.5s ease-in-out;
          transition: background-color 0.5s ease-in-out;
/*  border-bottom: 1px solid #c6c6c6;*/
}
.accordionTitle:before {
  content: "+";
  font-size: 2em;
  line-height: 0.80em;
  float: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover {
  background-color: #673782; color:#fff
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #673782; color:#fff
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
		  color:#fff
}

.accordionItem {
  height: auto;
  overflow: hidden;
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
}

.accord_cont{ padding:10px; }
table {
  border-spacing: 0;
  border-collapse: collapse; width:100%; 
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th{ border:1px solid #ddd; padding:5px;}
.visionbx{ background-color:#fff; margin-bottom:10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41); width:31.60%; display:inline-block; margin:15px 10px; vertical-align:top}

.visionbx h2{ font-size:18px; color:#363636; padding:8px; border-bottom:2px solid #ec407a; margin:0px; text-transform:uppercase; font-family: 'open_sanslight';}


.followbx{ background-color:#fff; margin-bottom:10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41); width:45%; display:inline-block; margin:15px 10px; vertical-align:top; padding:5px}


@media screen and (min-width: 48em) {
  .accordionItem {
   
    -webkit-transition: max-height 0.5s;
            transition: max-height 0.5s;
  }
}

.accordionItemCollapsed,
.accordionItem.is-collapsed {
  max-height: 0;
}

@media (max-width: 767px) {
 .visionbx{ width:90%;}
}
@media (min-width: 768px) and (max-width: 991px) {
 .visionbx{ width:45%;}

}
@media (min-width: 992px) and (max-width: 1199px) {
   .visionbx{ width:47%;}
}