##################################################################
# Upload-settings
##################################################################

# We want to use POST
Upload.Http.Method=post

# Location of our upload-script
Upload.URL.Action=scripts/php/jupload-post.php

# We do not need a login
Upload.Auth.UserAuthRequired=false

# We want to redirect when finished
Upload.Complete.URL=uploaded/files


##################################################################
# Misc
##################################################################

# Since we redirect right after upload, we do not need a response-panel nor a success-dialog
Gui.Status.ShowSuccessDialog=false
Gui.ServerResponse.Enable=false

# The minimum required JAVA Version. If the user does not have this version, he is asked to go to Sun's download page and install it.
MinJavaVersion=1.4

# Increased verbosity and information-output?
Debug=true