##################################################################
#
# This configuration is an example that uses webdav and no GUI.
# It uploads some preselected files automatically right after startup.
#
##################################################################

##################################################################
# Upload and File-Settings and selection
##################################################################

# We want to use PUT-Method
Upload.Http.Method=put

# The location of the script which receives the files
# For webdav, the following 2 points are important
# - webdav:// - protocol prefix for webdav resources: Enables MKCOL to create directories
# - Also make sure that this folder exists on the webserver and is webdav-enabled
Upload.URL.Action=webdav://218-35-90-66.cm.dynamic.apol.com.tw/webdav/files/

# Require authentication
Upload.Auth.UserAuthRequired=true

# Automatically use these credentials for login
Upload.Auth.AutoLogin=domi:bla

# Automatically start the upload on startup
#Upload.Autostart=true



# Automatically select files or directories which will be recursively added
#Files.Preselected=c:/myfile.pdf,c:/my documents/

# Do not create subfolders - everything will be uploaded to "/" ("flat file structure")
#Files.Filter.Folders=true

# Also you can (must not) add a komma-seperated list of filters based on regular expressions (Title||expression,Title2||expression2) etc
# This will only add files whose names do not match any of the given expressions
#Files.Filter.Multi=PDF Files||.*\\.pdf



##################################################################
# Deactivate all unwanted parts of the GUI
##################################################################

# Leave this empty to disable the toolbar
#Gui.Toolbar.Buttons=

# No server-response
#Gui.ServerResponse.Enable=false

# No statusbar
#Gui.Status.ShowBar=false

# No context-menus
#Gui.ContextMenu.General=
#Gui.ContextMenu.Files=

# No way to see the added files
#Gui.Views.Display=

# No preparation status
#Gui.Status.ShowPrepare=


##################################################################
# Misc
##################################################################

# The minimum required JAVA Version. If the user does not have this version, he is asked to go to Sun's download page and install it.
MinJavaVersion=1.4

# Increased verbosity and information-output?
Debug=true