@font-face
{
	font-family: 'robotoregular';
    src: url('./fonts/roboto-regular.woff2') format('woff2'),
         url('./fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: webfontregular;
	src: url(./fonts/ufonts.com_hoefler-text-italic-webfont.eot);
	src: url(./fonts/ufonts.com_hoefler-text-italic-webfont.eot?#iefix) format('embedded-opentype'),
		 url(./fonts/ufonts.com_hoefler-text-italic-webfont.woff2) format('woff2'),
		 url(./fonts/ufonts.com_hoefler-text-italic-webfont.woff) format('woff'),
		 url(./fonts/ufonts.com_hoefler-text-italic-webfont.ttf) format('truetype'),
		 url(./fonts/ufonts.com_hoefler-text-italic-webfont.svg#webfontregular) format('svg');
	font-weight: normal;
	font-style: normal
}

*
{
	font-family: robotoregular;
}

body
{
	overflow-y: scroll;
	padding: 0 100px;
}

.logo-row
{
	/*border-bottom: 1px solid #77558b;*/
	margin-bottom: 20px;
}

img.logo
{
	width: 160px;
}

.text-right
{
	text-align: right;
}

.head-title
{
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 40px;
	font-weight: 700;
	color: #5c2a79;
}

.modal .head-title {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 21px;
    font-weight: 700;
    color: #5c2a79;
}

.font-hoew
{
	font-family: webfontregular;
	font-style: normal;
	font-weight: lighter;
	
	color: red!important;
	font-size: 64px;
	margin-right: 3px;
	line-height: 64px;
}

.modal .font-hoew {
    font-family: webfontregular;
    font-style: normal;
    font-weight: lighter;
    color: red!important;
    font-size: 38px;
    margin-right: 3px;
    line-height: 28px;
}

.title-row
{
	background-color: #77558b;
	color: white;
	padding: 18px 20px;
	
	font-size: 32px;
	
	border-radius: 5px 5px 0 0;
}

.authentication
{
	background-color: rgba(50, 158, 156, 0.42);
	color: #5c2a79;
	padding: 20px;
	font-size: 20px;
}

.row.apiList
{
	margin-top: 20px;
}

.row.apiList:last-child
{
	margin-bottom: 20px;
}

.clearfix
{
	clear: both;
}

.form-control, .form-control:focus, .form-control:active
{
	color: #5c2a79;
}

.form-control:focus
{
	
	box-shadow: 0 0 0 0.2rem rgba(92, 42, 121, 0.36);
}

input[disabled]
{
	cursor: not-allowed;
}

.apiName
{
	background-color: #77558b;
	color: white;
	padding: 8px 20px;
	font-size: 20px;
	font-weight: normal;
	cursor: pointer;
}

.apiName+div
{
	background-color: rgba(50, 158, 156, 0.42);
	padding: 8px 20px;
	font-size: 20px;
	color: #77558b;
}

.apiList>div.apiDetails
{
	background-color: rgba(50, 158, 156, 0.2);
	color: #34495e;
}

div.apiDetails > div.row
{
	padding-top: 12px;
	padding-bottom: 12px;
}


span.hr, span.whiteBorder
{
	background-color: #5c2a79;
	display: block;
	height: 1px;
	margin: 10px 0 15px;
}

.paramsTitle
{
	font-weight: bold;
}

span.whiteBorder
{
	background-color: white;
	margin: 8px 0;
}

span.required
{
    margin-left: 4px;
}

span.required:after
{
	content: 'This field is required.';
	color: #d43f3a;
}

.form-group
{
	margin: 0;
}

button
{
	cursor: pointer;
}


/*Loader*/
#loader
{
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.2);
	width:100%;
	height: 100%;
	padding-top: 20%;
}

#loader > img
{
	height: 150px;
	margin: 0px auto;
	display: block;
}

#modalRequestLogData
{
	overflow-y: auto;
	overflow-x: hidden;
}

.requestData
{
	padding-top: 20px;
}

pre.responseData
{
	/*max-height: 500px;*/
	overflow-x: auto;
	overflow-y: auto;
}

img#viewIcon
{
	height: 30px;
	cursor: pointer;
}

#CCDFrame
{
	width: 100%;
	min-height: 600px;
	border: 0px none;
}

.input-group-addon{
	background-color:transparent;
	border:1px solid transparent;
}

/****** Radio Css ******/

.radio { padding-left: 20px; }
.radio label {
	display: inline-block;
	font-weight: normal;
	position: relative;
	padding-left: 5px; }
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out; top: 6px; }
	
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 9px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
	
.radio input[type="radio"] {opacity: 0; }
.radio input[type="radio"]:checked + label::before {border-color: #5cb85c; }
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	background-color: #5cb85c;	}
	
.radio input[type="radio"]:disabled + label {opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {cursor: not-allowed; }
.radio.radio-inline {margin-top: 0; }
.radio-default input[type="radio"] + label::after {background-color: #5cb85c; }
.radio-default input[type="radio"]:checked + label::before {border-color: #555555; }
.radio-default input[type="radio"]:checked + label::after {background-color: #555555; }

.updateDiv{background-color:#aa64d4}