.ajaxTypeahead{
    position: absolute;
    z-index: 999;
}
.ajaxTypeahead>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ajaxTypeahead>ul>li{
    font-family: Verdana;
    padding: 4px 2px;
	cursor:pointer;
}