body{
	scrollbar-face-color:#408bc4; scrollbar-shadow-color:#afefff; scrollbar-highlight-color:#afefff;
	scrollbar-3dlight-color:#000000; scrollbar-darkshadow-color:#006399; scrollbar-track-color:#c8e5f5;
	scrollbar-arrow-color:#FFFFFF;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:75%; color:#333333; background:#ffffff;
}

table, form, div, label, frameset, span, p{ /*because table doesn't inherit body's font-size; */
	font-size:100%;
}

#main{ /*--main/first container after body tag.. it will control the application to desired resolution if client had a more resolution screen---*/
	width:1275px; height:expression(window.screen.availHeight - 100 +'px'); background-color:#fff; text-align:left;
}


/*---TOOLBAR ICONS---*/

a>span.icon_glow{ /*--FOR BROWSERS OTHER THAN ie--*/
	height:27px; display:inline-block; padding:5px 0px 0px 0px;
}


/*--GENERAL STYLES FOR PAGE/ELEMENT COLORS, LINKS, ALIGNMENTS, BORDERS, PADDINGS, MARGINS--*/

.a_clr1{ /*--PURPLE LINK COLOR--*/
	color:#9900CC; font-weight:bold; font-size:12px;
}
.m2{margin:2px;} .m5{margin:5px;} .m10{margin:10px;} /*--ALL SIDE MARGINS--*/
.mt15{margin-top:15px;}.mt10{margin-top:10px;} .mt7{margin-top:7px;} .mt5{margin-top:5px;} .mt2{margin-top:2px;} .mt4{margin-top:4px;} .mt3{margin-top:3px;} /*--TOP MARGINS--*/
.mr20{margin-right:20px;} .mr10{margin-right:10px;} .mr5{margin-right:5px;} .mr3{margin-right:3px;} .mr2{margin-right:2px;} /*--RIGHT MARGINS--*/
.ml20{margin-left:20px;} .ml10{margin-left:10px;} .ml5{margin-left:5px;} .ml3{margin-left:3px;} .ml2{margin-left:2px;} /*--LEFT MARGINS--*/
.mlr2{margin:0px 2px;} .mlr5{margin:0px 5px;} .mlr10{margin:0px 10px;}/*--MARGIN LEFT-RIGHT--*/

.padd2{padding:2px;} .padd5{padding:5px;} .padd10{padding:10px;} .padd0{padding:0px;} /*--ALL SIDE PADDING--*/
.pt4{padding-top:4px} .pt2{padding-top:2px} .pt5{padding-top:5px} .pt7{padding-top:7px} .pt15{padding-top:15px} /*--PADDING TOP--*/
.plr5{padding:0px 5px;} .plr10{padding:0px 10px;}  /*--PADDING LEFT AND RIGHT--*/
.pl10{padding-left:10px} .pl5{padding-left:5px} .pl2{padding-left:2px}  /*--PADDING LEFT--*/
.pr10{padding-right:10px} .pr5{padding-right:5px} .pr2{padding-right:2px}  /*--PADDING RIGHT--*/

.fl{float:left; display:block;} /*--FLOAT LEFT--*/
.fr{float:right; display:block;} /*--FLOAT RIGHT--*/

.border{border:1px solid #cccccc;} /*--ALL SIDE BORDER GRAY--*/
.noborder{border:0px solid #fff; border-style:none;}
.botborder{border-bottom:1px solid #cccccc;} /*--BOTTOM BORDER GRAY--*/
.topborder{border-top:1px solid #cccccc;} /*--top BORDER GRAY--*/
.leftborder{border-left:1px solid #cccccc;} /*--LEFT BORDER GRAY--*/
.border2{
	border:1px solid #333;
}
.border3{
	border:1px solid #B1C0D6;
}
.hide{display:none;} /*--TO HIDE AN ELEMENT--*/

/*--GENERAL TEXT SIZES FOR USE--*/
.text10{font-size:10px;}
.text9{font-size:9px;}
.text11{font-size:11px;}
.text11b{font-size:11px; font-weight:bold;}
.text12{font-size:12px;}
.text13{font-size:13px;}
.text14{font-size:14px;}
.text12b{font-size:12px; font-weight:bold;}
.text_small{font-size:90%}
.text_smaller{font-size:80%}
.text_big{font-size:110%}
.text_bigger{font-size:120%}

.textBold{ font-weight:bold;}
/*--HTML5 COMPLIANCE CSS TABLES & DIVs--*/
td.valignTop{
	vertical-align:top;
}
td.valignBottom{
	vertical-align:bottom;
}

.alignMiddle{vertical-align:middle;} .alignTop{vertical-align:top;}  .alignBottom{vertical-align:bottom;}
.alignLeft{text-align:left;} .alignRight{text-align:right;} .alignCenter{text-align:center;} .alignJustify{text-align:justify;}

/*-----top of main interface area-------*/
#row1{clear:both; overflow:hidden;}
#main div.name_div{width:250px; white-space:normal}
#main div.sec_tabs{width:800px;}

a{text-decoration:none; color:#9900DF;}


.hover_this:hover{background-color:#FFFFCC;}
.hover{background-color:#99Ff33;} /*  to show selected row in table or row -hover effect  */
.cellBorder td{border:1px solid #FFF3E8;}
.cellBorder2 td{border:1px solid #333333;}
.cellBorder3 td{border:1px solid #FFE2C6;}
.divBorder{border-right:1px solid #FFE2C6; border-bottom:1px solid #FFE2C6;}
.cellBorder4 td{border:1px solid #B1C0D6;}
.cellBorder5 td{border:1px solid #4684ab;}
.cellBorder6 td{border:none;}
.cellBorder7 td{border:1px solid #eee;}
table.resultset td{border-bottom:1px solid #cccccc;}
table.resultset tr:hover{background-color:#FFFFCC;}
.resultset td .description{font-size:90%; line-height:1.4; text-align:justify; margin:0px 20px; color:#666666;}
.resultset tr a{color:#333333; text-decoration:none; cursor:pointer;}
.formset{border-collapse:collapse;}
.formset tbody tr td{border-bottom:2px solid #E6E6E6; padding:5px 2px;}
.formset tbody tr.alt{background-color:#F0ECEC;}
.alt3{background-color:#F4F9EE;}
.result_data{
	border-collapse:collapse; font-size:100%;
}
.alt{background-color:#F0ECEC;} /*  ALTERNATE ROW COLOR FOR RESULTSET OR FORMS  */
.alpha{background:transparent;} /*  to remove any background color or image as transparent  */
.bg1{background-color:#ECF1EA;} /* page bgcolor where forms are displayed */
.bg2{background-color:#F4F9EE;} /* form block bgcolor */
.bg3{background-color:#FFFFCC;} /* when a block will be active then this color will be displayed */
.bg4{background-color:#4684AB; color:#FFFFFF;} /* block heading bg color */
.bg5{background-color:#B1C0D6;}
.white{background-color:#FFFFFF; overflow:hidden;}
.clr1{color:#9900CC;} /*purple text */

.section{ /*9FAB93 KS*/
	border-top:1px solid #c8e5f5; border-left:1px solid #c8e5f5; border-right:1px solid #c8e5f5; border-bottom:1px solid #c8e5f5;
	background-color:#c8e5f5;
}

.subheading{
	background-color:#c8e5f5; font-weight:bold; border-top:1px solid #cccccc; border-bottom:1px solid #dedede; padding:1px 5px; font-size:12px;
}
.subsection{
	border-top:1px solid #F1F8E8; border-left:1px solid #F1F8E8; border-right:1px solid #EBF4E1; border-bottom:1px solid #EBF4E1;
	background-color:#EAF2E0;
}
p{line-height:1.5; text-align:justify; margin:0px 0px 10px 0px;}
#divCon{/*custtomized alert msgbox */position:absolute; z-index:1000; width:350px; background-color:#ffffff; color:#000000; display:none; border:1px solid #999999;}


.closeBtn{display:block; float:right; height:16px; width:16px; background:transparent url(../../images/del.png) center no-repeat; cursor:pointer;}
.unBold{font-weight:normal;}
.btn_cls { padding:5px 20px 5px 20px; background:url(../../images/btnbg.png) repeat-x;  border:1px solid #0077B3; cursor:pointer; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; height:31px;}
.btn_cls:hover { padding:5px 20px; background:url(../../images/btnbghover.png) repeat-x; border:1px solid #0077B3; 
cursor:pointer; color:#fff; border-radius:5px; height:31px; }