@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'HELVETICALTCONDENSEDMEDIUM_4';
    src: url('fonts/HELVETICALTCONDENSEDMEDIUM_4.eot');
    src: url('fonts/HELVETICALTCONDENSEDMEDIUM_4.eot') format('embedded-opentype'),
         url('fonts/HELVETICALTCONDENSEDMEDIUM_4.woff2') format('woff2'),
         url('fonts/HELVETICALTCONDENSEDMEDIUM_4.woff') format('woff'),
         url('fonts/HELVETICALTCONDENSEDMEDIUM_4.ttf') format('truetype'),
         url('fonts/HELVETICALTCONDENSEDMEDIUM_4.svg#HELVETICALTCONDENSEDMEDIUM_4') format('svg');
}


.insurbox {
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-left: 3px solid #ff7b02;
    margin-bottom: 10px; font-family: 'HELVETICALTCONDENSEDMEDIUM_4';
}


.insurbox2 {
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-left: 3px solid #5c5c5c;
    margin-bottom: 10px; font-family: 'HELVETICALTCONDENSEDMEDIUM_4';
}


h2 {
    font-size: 24px;
    padding: 7px;
    margin: 0px 0px 10px 0px;
    font-weight: normal;
    border-bottom: 3px solid #1732ff;
    display: block;
}

.clearfix{ clear: both}

.selct img{ margin-right:10px;}

.grybox{
    background-color: #ededed;
	line-height:30px; padding-left:5px; 

}

.makebox {
    border: 1px solid #c4c4c4;
    margin: 8px 0px;
}

.makebox .head {
    font-size: 20px;
    background-color: #5c5c5c;
    margin: 0px;
    padding: 8px;
    text-align: center;
    color: #fff;
    display: block;
}
.advance_direc {
    background-color: #ff7b02;
    padding: 5px;
    color: #fff;
}

.advance_direc h3{ font-weight:normal; padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; border-bottom: 1px solid rgba(255,255,255,0.30)}
.advance_direc select{ width:100%; border-radius: 4px; padding: 4px; border: 0px;}
.text-right{ text-align:right}
.negativebut{ background-color:#e36204; border-radius: 4px; margin: 0px 8px 10px 0px; display: inline-block; padding: 5px; color: #fff}
.probbox table td { text-align:left!important; }
strong{ font-weight:normal}

/*table css */
.makebox table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.makebox table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.makebox table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.makeboxtable th,
.makebox table td {
  padding: .625em;
  text-align: left; font-size:14px
}
.makebox table th {
  font-size: 18px; font-weight:normal;

   text-align:left; padding:.225em .625em; background-color:#e0e0e0
}

.subopt table{ width:100%!important}
.histhed{ background-color:#8bc34a; color:#fff;  text-align:center}
@media screen and (max-width: 600px) {
  .makebox table {
    border: 0; width:97%; margin: 0px auto
  }
  .makebox table caption {
    font-size: 1.3em;
  }
  .makebox table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .makebox table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .makebox table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
	min-height:16px;
  }
  .makebox table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;

  }
  .makebox table td:last-child {
    border-bottom: 0;}
  .histhed{ text-align:left; padding-left:10px; line-height:18px!important}
  .makebox .head{ margin-bottom:10px}
}


/* Table Css End */