/* CSS for Sx Procedure Datepicker */

div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 250px;
	height: 200px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #fff;
    border:1px solid #cccccc; box-shadow:0 5px 15px -5px rgba(0,0,0,0.506);
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
/*	background: url(images/datepicker_t.png);*/
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
/*	background: url(images/datepicker_b.png);*/
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
/*	background: url(images/datepicker_l.png);*/
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
/*	background: url(images/datepicker_r.png);*/
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
/*	background: url(images/datepicker_tl.png);*/
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
/*	background: url(images/datepicker_tr.png);*/
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
/*	background: url(images/datepicker_bl.png);*/
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
/*	background: url(images/datepicker_br.png);*/
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	width: 230px;
	height: 180px;
}

div.datepicker a {
	/*color: #000!important;*/
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}
div.datepicker thead a {
	font-size: 14px;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}

div.datepicker th {
    text-align: center;
	color: #999;
	font-weight: normal;
	background-color: #fff;
}
div.datepicker tbody th {
	text-align: center!important;
	font-weight: bold;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #CCC;
	background-color:#fafafa;
}
tbody.datepickerDays td.datepickerSelected, tbody.datepickerDays td.datepickerSelected a{
	background: #136A9F;
	color: #FFF;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #136A9F;
	color: #FFF;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d; 
}
div.datepicker a:hover,
div.datepicker a:hover {
	color: #333333;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #999;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #CCC;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
}
td.datepickerSpecial.datepickerSelected a {
}
.datepickerWeek a, .datepickerDoW th span{
	font-weight:bold;
	font-size:13px;
}

.datepickerDays{ border:1px solid #dddddd}
.datepickerDoW { background-color:#f9f9f9; color:#7f7f7f; border:1px solid #dddddd; border-bottom: 0px; font-size:11px}

.datepickerDays th, td {border: 1px solid #dddddd; }
.datepickerNotInMonth{ background-color:#fafafa; color:#b3b3b3!important}
.datepickerDays{ background-color:#f5f5f5; color:#666666!important}
.datepickerYears td{background-color:#f5f5f5!important; font-size: 16px!important; font-weight: bold}
.datepickerMonths td{background-color:#fafafa!important; font-size: 16px!important; font-weight: bold}
