@charset "utf-8";
/* CSS Document */
/* slide in left  */
.slideinlEft {
	}

 .slideinlEft {
-webkit-animation: slideinlEft 1.2s 1 ease-in;
-moz-animation:  slideinlEft 1.2s 1 ease-in;
-o-animation: slideinlEft 1.2s 1 ease-in;
}
@-webkit-keyframes slideinlEft {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
 }
to {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
@-moz-keyframes slideinlEft {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
 }
to {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
@-o-keyframes slideinlEft {
from {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
 }
to {-webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
}

@-ms-keyframes slideinlEft {
from {-ms-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-ms-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(-100%) ;
 }
to {-ms-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-ms-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
-o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px) ;
 }
}
