

.custom_breadcrumbs li a ,  .custom_breadcrumbs li span{color:#aaa;-webkit-transition: all 500ms ease-out;    -moz-transition: all 500ms ease-out;    -o-transition: all 500ms ease-out;    transition: all 500ms ease-out;}
.custom_breadcrumbs li a:hover , .custom_breadcrumbs li a:focus, .custom_breadcrumbs li a:active{color:#f1f1f1;text-decoration:none;}
.custom_breadcrumbs li a:last-child{color:#fff !important;} 
.inner_middle_wrap{background:#fff;min-height:361px;}
.padding_0{padding:0px !important;}
.top_middle{background:#4d5359; padding: 25px 2px 0;}
.top_middle ul li a{padding:12px 2px 20px;color:#fff;  margin-bottom: -1px !important ;border-bottom:none !important;border:1px solid #fff;background:#117480;font-size:18px; font-family: 'RobotoCondensed-Regular';-webkit-transition: all 500ms ease-out;    -moz-transition: all 500ms ease-out;    -o-transition: all 500ms ease-out;    transition: all 500ms ease-out;top:12px; cursor:pointer;}
.top_middle ul { overflow-y: hidden;max-height:57px;}
.imp_tab_borders a{-moz-border-radius-topleft: 15px !important;-webkit-border-top-left-radius: 15px !important; border-top-left-radius: 15px !important;-moz-border-radius-topright: 15px !important;-webkit-border-top-right-radius: 15px !important;border-top-right-radius: 15px !important; }
.tab-pane.fade{display:none;}
.top_middle ul li{padding:0 3px;}
.tab-pane.fade.in{display:block !important;}
#sty_top_ul ul.nav li a:hover , 
#sty_top_ul ul.nav li a:focus , 
#sty_top_ul ul.nav li a:active{
cursor:pointer;
color:#117480;
background:#fff;
border:1px solid #fff;
/*top:5px !important;*/
padding:12px 2px 16px !important;
} 

.top_middle ul li.active a{color:#117480;}
.inner_middle_wrap{padding:15px;}
.middle_head{color:#333;font-size:21px;font-family: 'RobotoCondensed-Regular';float:left;width:100%;display:inline-block;border-top:2px solid #333; border-bottom:2px solid #333;}
.middle_head span{margin-top:5px;margin-bottom:5px;float:left;width:100%;display:inline-block;}
.margin_clear{margin-top:5px;margin-bottom:5px;float:left;width:100%;display:inline-block;}
.middle_sub_head{color:#333;font-size:19px;font-family: 'RobotoCondensed-Regular';float:left;width:65%;display:inline-block;}
.middle_sub_head span{margin-top:5px;margin-bottom:5px;float:left;width:100%;display:inline-block;}
.margin_line{float:left;display:inline-block;min-height:2px;width:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+75,ffffff+100,ffffff+100,ffffff+100 */
background: rgb(0,0,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
}
.sub_wrap{float:left;width:100%;display:inline-block;min-height:50px;padding:5px;}
.sub_wrap img{float:left;width:100%;max-width:480px;display:inline-block;}
.main_main_wrapper{float:left;width:100%;display:inline-block;min-height:500px;}


/* sidebar_nav */
.sidebar_nav{float:left;width:100%;display:inline-block;  margin-top: -12.6px;}
.sidebar_nav li.active a{background:#fff !important;color:#117480 !important;cursor:pointer;}
.sidebar_nav li a{ padding:8px 10px;color:#fff;  margin-bottom: -1px !important ;border-bottom:none !important;border:1px solid #fff;background:#117480;font-size:18px; font-family: 'RobotoCondensed-Regular';-webkit-transition: all 500ms ease-out;    -moz-transition: all 500ms ease-out;    -o-transition: all 500ms ease-out;    transition: all 500ms ease-out;top:12px; cursor:pointer;  margin-right:0px !important;border-radius:0px !important;-webkit-border-radius:0px !important;-moz-border-radius: 0px !important;}
.sidebar_nav li a:hover ,  .sidebar_nav li a:active , .sidebar_nav li a:focus{ cursor:pointer;background:#fff ;color:#117480 ; }
.sidebar_nav li.active a:hover{cursor:pointer !important;}
.sidebar_nav li {float:left !important;display:inline-block !important;width:100%;margin-top:0px !important;}
.padding_right{padding-right:0px !important;}
.sidebar_nav ul{display:inline-block;}
.bg_trans{background:transparent !important;}
.body_bg_jet{background:#4D5359;}
.middle_wrap_login{float:left;width:100%;display:inline-block; background:#4D5359;}
.login_inner{float:left ; width:100% ;display:inline-block;position:relative;padding:0px 0 20px ;background:#f1f1f1; min-height:350px;margin-top:40px;}
.abs_member_head{  top:0px ; position:relative;min-height:55px;background:#4d5359; width:100%;display:block;float:none; margin:0 auto;text-align:center;padding:12px 0px; color:#fff;border:2px solid #f1f1f1;	  }
.form_wrap{float:left;width:100%;display:inline-block;margin-top:15px;}
.form_wrap label{color:#333;font-weight:normal; font-size:18px;}
.form_wrap .btn.input-group-addon{background:#4d5359;color:#fff;}
.form_wrap .rob_btn{display:inline-block;}
.color_alert{font-size:18px; color:#cd532f;width:100%;text-align:center;float:left;}
.filter_area{background:#f9f9f9; min-height:50px; width:100%;margin-top:10px; text-align:center;display:block;padding:10px 25px 2px 25px; margin-left:auto;margin-right:auto;margin-bottom:15px;}
.bordered_div_inside{-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius:35px;-webkit-box-shadow:  0px 0px 5px 0px rgba(51, 51, 51, 0.5);-moz-box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.5);box-shadow: 0px 0px 5px 0px rgba(51, 51, 51, 0.5); }
/*.filter_area {-webkit-box-shadow: inset 0px -5px 10px 0px rgba(13, 93, 109, 0.75);-moz-box-shadow:    inset 0px -5px 10px 0px rgba(13, 93, 109, 0.75);box-shadow:         inset 0px -5px 10px 0px rgba(13, 93, 109, 0.75);} */
.filter_area small{float:left;width:100%;display:inline-block;text-align:left;padding-left:10px;font-size:14px;  margin-bottom:4px;font-family: 'RobotoCondensed-Regular'; }/* margin-top:5px; */
.filter_area .btn-group.bootstrap-select.form-control{height:24px;}
.filter_area button.dropdown-toggle{padding:3px 2px;}
.its_line{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+33,333333+47,333333+71&amp;0+15,0.65+47,0+90 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMC4zNyIvPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MSUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMC4yOSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(51,51,51,0) 15%, rgba(51,51,51,0.37) 33%, rgba(51,51,51,0.65) 47%, rgba(51,51,51,0.29) 71%, rgba(51,51,51,0) 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(15%,rgba(51,51,51,0)), color-stop(33%,rgba(51,51,51,0.37)), color-stop(47%,rgba(51,51,51,0.65)), color-stop(71%,rgba(51,51,51,0.29)), color-stop(90%,rgba(51,51,51,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 15%,rgba(51,51,51,0.37) 33%,rgba(51,51,51,0.65) 47%,rgba(51,51,51,0.29) 71%,rgba(51,51,51,0) 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(51,51,51,0) 15%,rgba(51,51,51,0.37) 33%,rgba(51,51,51,0.65) 47%,rgba(51,51,51,0.29) 71%,rgba(51,51,51,0) 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(51,51,51,0) 15%,rgba(51,51,51,0.37) 33%,rgba(51,51,51,0.65) 47%,rgba(51,51,51,0.29) 71%,rgba(51,51,51,0) 90%); /* IE10+ */
background: linear-gradient(to right,  rgba(51,51,51,0) 15%,rgba(51,51,51,0.37) 33%,rgba(51,51,51,0.65) 47%,rgba(51,51,51,0.29) 71%,rgba(51,51,51,0) 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#00333333',GradientType=1 ); /* IE6-8 */min-height:2px;}
.full_width{float:left;width:100%; display:inline-block;margin:2px 0;}
.bg_white{background:#fff !important;}
.abs_div_pad:before{content:"";display:table}
.abs_div_pad{position:relative;min-width:4%;max-width:4%;min-height:1px;display:inline-block;float:left; padding:5px;}
/* Gaurav */
/* Custom Dash Label With image must be given padding 8px from top */
.custom_dash_label{float:left;padding:12px 15px 8px;background:transparent; cursor:pointer;    display: table;    transition: all 500ms ease-out 0s;    vertical-align: bottom; width: auto;}
.abs_footer_btn{display:inline-block;width:100%; float:left; text-align:center; position:relative;}
.abs_footer_btn .rob_btn{ margin-right:0px;}
.abs_footer_text{ float:right; position:absolute; width:auto; text-align:right;  font-size:15px; color:#fff;font-family: 'RobotoCondensed-Regular'; font-weight:normal; top:15px; right:10px;}
.login_inner .rob_btn.btn_custom.btn_sign_out.btn-lg{   font-size: 18px;padding: 10px 16px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;   font-family: 'RobotoCondensed-Regular';}
.left_header .single_header_label{}
/* Gaurav */
/*.top_middle ul li a{position:relative;}*/
.padding_right2{padding-right:0px !important;}
.padding_left2{padding-left:0px !important;margin-left:0px !important;}	
.sidebar_nav .nav-tabs > li.active > a,.sidebar_nav .nav-tabs > li.active > a:hover, .sidebar_nav .nav-tabs > li.active > a:focus{ border-color:#fff !important;}
.new_wrap_ledger{position:relative;float:left; width::100%;display:inline-block; background:#fff;}
.ledger_wrap , .full_width2 , .pagination_div{float:left;width:100%;display:inline-block;}
.full_width2{word-wrap: break-word;}
.padding_15{padding:0px 15px;}


/*   PAnels     */
.panel.price{position:relative;  margin-top: 49px;} /* margin-top:40px; */
.panel.price,.panel.price>.panel-heading{	-webkit-border-radius: 0px ;-moz-border-radius: 0px ; border-radius: 0px ;	   -webkit-transition: all 500ms ease-out;    -moz-transition: all 500ms ease-out;    -o-transition: all 500ms ease-out;    transition: all 500ms ease-out; float:left;width:100%; }
.panel.price{-webkit-box-shadow: 0px 0px 10px 1px rgba(51, 51, 51, 0.5);-moz-box-shadow:    0px 0px 10px 1px rgba(51, 51, 51, 0.5);box-shadow:         0px 0px 10px 1px rgba(51, 51, 51, 0.5);}
.price.panel-green .panel-body .list-group-item	.full_width2 span{ font-size:19px;  font-family: 'RobotoCondensed-Regular'; color:#333; }
.price.panel-green .panel-body .list-group-item	.full_width2 span.high { font-size:23px;  font-family: 'RobotoCondensed-Regular';  color:#117480;text-shadow: 0px 1px 0px rgba(250,250,250, .75);}
.price.panel-green>.panel-heading {background-color:#FCFCFC; border:none !important; padding:0px;}
.price.panel-green>.panel-body {color: #4D5359;	background-color: #fff; padding:0px;}
.price.panel-green>.panel-body .rob{	text-shadow: 0px 3px 0px rgba(50,50,50, .3);}
.price.panel-green .list-group-item { padding:14px 0 7px;  color: #333;background-color: rgba(50,50,50, .01);	text-shadow: 0px 1px 0px rgba(250,250,250, .75); position:relative; border-top:none;  border-right:#CCC 1px solid}
.panel-heading h3{ margin:5px 0px;}
.abs_div_led{ position:absolute;top:16px; right:4px;}
.abs_div_led.left_aligned_abs{right:auto; left:15px;}
.abs_div_led a{padding:2px 4px;}	
.abs_div_led a span{ font-size:23px;}
.price.panel-green .list-group{margin-bottom:0px;}
.panel.price>.panel-heading h3{ background: #fff none repeat scroll 0 0;   bottom: 114%;    color: #333;    left: 39.5%;    padding: 15px;    position: absolute;    z-index: 9;-webkit-box-shadow: inset 0 1px 16px -4px rgba(51, 51, 51, 0.45);-moz-box-shadow:    inset 0 1px 16px -4px rgba(51, 51, 51, 0.45);box-shadow:         inset 0 1px 16px -4px rgba(51, 51, 51, 0.45);
text-align:center;}
.balance_div_wrap h3{ background: #fff none repeat scroll 0 0;   color: #333;  padding: 15px;   z-index: 9;-webkit-box-shadow: inset 0 0 16px -4px rgba(51, 51, 51, 0.45);-moz-box-shadow:    inset 0 0 16px -4px rgba(51, 51, 51, 0.45);box-shadow:         inset 0 0 16px -4px rgba(51, 51, 51, 0.45);text-align:center;}
.pagination{ margin:5px 0 !important;}
.padding_adjust_led{ padding:0px 10px !important;}
.balance_div_wrap{ position:relative;min-height:10px; margin:0px; float:left;width:100%; display:inline-block;}
.footer_wrap{ position:fixed;  z-index:99999; }
.sidebar_nav ul{min-height:686px; background:#117480; margin-top:11px !important;}
.middle_sub_head strong{color:#117480;}
.middle_wrap{ padding-bottom:50px;}
.sidebar_nav{ margin-bottom:-13px;}

/* Panels */

/* Filter Area  */
.filter_area  .btn-group .btn-default[data-toggle="dropdown"]{width:100%; float:left; display:inline-block;position:relative;overflow-x: hidden;}
.filter_area  .btn-group{width:100%; float:left; display:inline-block;position:relative;}

/* Search Styles */
.btn-group.open .dropdown-menu{width:100%;}
.btn-group.open .dropdown-menu label{padding-left:32px;}
.clearfix.green_tape {
    background: #117480 none repeat scroll 0 0;
    display: inline-block;
    float: left;
    margin-top: -1.6px;
    min-height: 11.6px;
    width: 100%;
}
.page_btn{
	position:absolute; float:left; width:100%; display:inline-block; text-align:center; left:0px; top:6px;
}
/* Filter Area  */
/* CHARTS */
/*.middle_inner .rel_chart_div .sub_wrap{ top:0px; left:-10%; position:absolute !important;} */
.middle_inner .rel_chart_div{ padding:0px;float:left; width:100%;  display: inline-block; min-height: 318px;}
.rel_chart_div{position:relative; overflow:visible; z-index:0;}
.middle_sub_head{ z-index:999;;}
.abs_head_total_charges{ padding: 0; float:left;width:100%; display:inline-block;}
.abs_head_total_charges h3{background: #fff none repeat scroll 0 0; color: #333;     padding: 15px;    position: relative;    z-index: 9;-webkit-box-shadow: inset 0 1px 16px -4px rgba(51, 51, 51, 0.45);-moz-box-shadow:    inset 0 1px 16px -4px rgba(51, 51, 51, 0.45);box-shadow:         inset 0 1px 16px -4px rgba(51, 51, 51, 0.45);     margin: 0px 0 5px; display:inline-block;}
.margin_0{margin:0px !important;}
.panel.price.margin_0{margin:0px !important;}
/* CHARTS */
.panel.price.margin_adjust_panel_ledger{margin-top:15px;}
.panel .list-group-item{vertical-align:middle;}
.margin_adjust_panel_ledger{margin-top:15px;}
table.cf th, table.cf td{padding:5px 1px !important; word-wrap:break-word;}
.abs_head_total_charges h3{min-width:250px;}
.margin_adj_led{margin-left:-10px !important; margin-right:-10px !important;}
.full_width2 table.cf caption{background:#4B5055; color:#fff;  font-size: 17px;}
.full_width2 table.cf caption , .table_with_caption{-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px; border-top-left-radius: 10px;-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;border-top-right-radius: 10px;}
.full_width2 .table-hover.cf > tbody > tr:hover{background:#fff; cursor:pointer;-webkit-box-shadow: 0px 0px 7px 0px rgba(153, 153, 153, 0.5);-moz-box-shadow:    0px 0px 7px 0px rgba(153, 153, 153, 0.5);box-shadow:         0px 0px 7px 0px rgba(153, 153, 153, 0.5);}
.sub_wrap .adj_pad_table td,.sub_wrap .adj_pad_table th{padding-left:3px !important; padding-right:3px !important;}
.top_middle ul li a.other_tab.sch_tab{min-width:107px;}
.top_middle ul li a.other_tab.ref_tab{min-width:71px;}
.float_none{float:none !important;}
.display_block{ display:block !important}
