/*
The MIT License (MIT)
Distribute, Modify and Contribute under MIT License
Use this software under MIT License
*/
/* CSS Document */

.text_printb { font-family:"verdana"; font-size:11px; color:#000000; font-weight:bold;  }
.text_print { font-family:"verdana"; font-size:11px; color:#000000; font-weight:normal;}