/*
Under MIT License
Use, Modify, Distribute under MIT License.
MIT License 2019
*/
/* CSS Document */

.text_printb { font-family:"verdana"; font-size:11px; color:#000000; font-weight:bold;  }
.text_print { font-family:"verdana"; font-size:11px; color:#000000; font-weight:normal;}