/*
Under MIT License
Use, Modify, Distribute under MIT License.
MIT License 2019
*/
.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0px;
padding: 0px;
margin-left:2px; /*5px; */
font-size:11px;
font-family:verdana;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
list-style-type: none;
padding-left: 33px; /* 43*/
margin-bottom: 1px;
background-color:#BCD2B0;
font-size:11px;
font-family:verdana;

}

.treeview li.sub_li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
list-style-type: none;
padding-left: 0px;
margin-bottom: 1px;
font-family:verdana;
background-color:#BCD2B0;}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(../images/closed1.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}
.black{
text-decoration:none;
color:#000000;
}
.black:hover{
text-decoration:underline;
color:#000000;
}

.scrol_div
{
scrollbar-face-color: #6FA939;
scrollbar-shadow-color: #A4A4A4;
scrollbar-highlight-color: #808080;
scrollbar-3dlight-color: #6FA939;
scrollbar-darkshadow-color: #0a7225;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #ffffff

}