/*
Under MIT License
Use, Modify, Distribute under MIT License.
MIT License 2019
*/
/*
.text_10 { font-family:"verdana"; font-size:11px; color:#000000; font-weight:normal;}
.text_10b { font-family:"verdana"; font-size:11px; color:#000000; font-weight:bold;  }
.text_10b1 {font-family:"verdana"; font-size:11px; color:#000000; font-weight:bold;  }
*/
.text_10 { font-family:"verdana"; font-size:14px; color:#000000; font-weight:normal;}
.text_10b { font-family:"verdana"; font-size:14px; color:#000000; font-weight:bold;  }
.text_10b1 { font-family:"verdana"; font-size:15px; color:#000000; font-weight:bold;  }
.text_homeb { font-family:"verdana"; font-size:11px; color:#000000; font-weight:bold;  }
.text_form { font-family:"verdana"; font-size:11px; color:#000000; margin:-1.55em 0 0 25px;}
.text_small { font-family:"verdana"; font-size:9px; color:#000000; font-weight:normal;}

.text_printb { font-family:"verdana"; font-size:11px; color:#000000; font-weight:bold;  }
.text_print { font-family:"verdana"; font-size:11px; color:#000000; font-weight:normal;}
.label11{
	font-size:11px; 
	font-family:Calibri, Arial, Helvetica, sans-serif; 
	vertical-align:top; 
	padding-left:4px; 
	font-style:italic; 
/*	font-weight:bold;*/
	display:block;
	color:#000000;
}
	
	textarea
	{
	resize:none;
	}

	.text
	{
	font-family:arial;
	font-size:12px;
	text-shadow:#D9B3FF;
	
	}
	.text1
	{
	font-family:arial;
	font-size:12px;
	text-shadow:#D9B3FF;
	
	}
	
	.purple
	{
	
	font-weight:bold;
	font-stretch:extra-expanded;
	
	}
	.bold
	{
	font-weight:bolder;
	font-size:11px;
	}
	.boldl
	{
	font-weight:bolder;
	font-size:14px;
	text-decoration:underline;
	}
	.boldl1
	{
	font-weight:bolder;
	font-size:14px;
	
	}
	.boldll
	{
	font-weight:bolder;
	font-size:14px;
	text-decoration:underline;
	
	}
	.boldlls
	{
	font-weight:bolder;
	font-size:12px;

	}
	.title
	{
	font-family:arial;
	font-style:italic;
	font-size:16px;
	font-weight:bolder;
	}
	.bor
	{
	border-bottom:none;
	border-left:none;
	border-top:none;
	border-right:none;
	font-weight:bolder;
	font-size:14px;
	text-decoration:underline;
	
	
	}
	.bors
	{
	border-bottom:none;
	border-left:none;
	border-top:none;
	border-right:none;
	font-weight:bolder;
	font-size:12px;
	
	
	
	}
	.txt
	{
	font-family: Arial;
	font-size:13px;
	
	}
/*********new style******/

.login_bg{background-image:url(../images/center.jpg);background-repeat:repeat-x;  }
.tab_bg{background-image:url(../images/bg_tab.jpg);background-repeat:repeat-x; height:30px;  }
.tab_bg_orange{background-image:url(../images/bg_tab_orange.png);background-repeat:repeat-x; height:30px;  }

.tab_bg_pre_nurse{ background-color:#C0AA1E;  }
.tab_bg_pre_nurse > a { color:white; }
.tab_bg_pre_nurse:hover a { color:#333;}

.tab_bg_operating{ background-color:#316EA8;  }
.tab_bg_operating > a { color:white; }
.tab_bg_operating:hover a { color:#333;}

.tab_bg_post_nurse{ background-color:#5CB14D; }
.tab_bg_post_nurse > a { color:white; }
.tab_bg_post_nurse:hover a { color:#333;}

.top_bg{background-image:url(../images/center_bg.jpg);background-repeat:repeat-x;  }
.text_10b2 { font-family:"verdana"; font-size:12px; color:#000000; font-weight:bold;  }
.link_a{color:#FFFFFF;font-size:11px; text-decoration:none;}
.link_a:hover{color:#9BFB82;text-decoration:none;}

.link_top{color:#cc0000;font-size:11px; text-decoration:none;}
.link_top:hover{color:#cccccc;text-decoration:none;}
.link_home{ color:#000000; text-decoration:none;}
.link_home:hover{ color:#cccccc;text-decoration:none; }

.link_ptInfo{color:#cc0000;text-decoration:none;font-size:11px;}
.link_ptInfo:hover{color:#0033CC;text-decoration:none;font-size:12px;}
.link_ptInfoBack{color:#0033CC;text-decoration:none;font-size:12px;}
.link_ptInfoBack:hover{color:#cc0000;font-size:11px; text-decoration:none;}

.top_headding{ background-image:url(../images/top_headding1.jpg); background-repeat:no-repeat; width:253px; height:26px}
.top_headdingMain{ background-image:url(../images/top_mid.jpg); background-repeat:repeat-x;  height:26px;}

.lftPad 
{
	padding:0 0 0 3;
}
.colorWhiteChkBx
{
	background-color:#FFFFFF;
}
.clpChkBx 
{
	width:18px;
	height:18px;
	clip:rect(20 7 7 30);
	overflow:hidden;
}

html* .colorChkBx
{
	background-color:#F6C67A;
	position:relative;
	top:-3px;left:-3px;
	padding: 0;
}
html* .opctyChkBx
{
	top:0px;left:0px;
	FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=60);  -moz-opacity:0.5
}
.colorChkBx
{
	border:solid 1px transparent;
	background-color:#F6C67A;
	padding:4px;
	border-radius:5px;
	
}

.opctyChkBx
{
	position:relative;
	top:5px;
}
.table_collapse{
 width:100%; padding:0px; border-collapse:collapse;
}
.table_separate{
 width:100%; padding:0px; border-collapse:separate;
}
.table_pad_bdr{
 padding:0px; border-collapse:collapse;
}
.table100Per{
	height:100%;
}
.valignTop{
 vertical-align:top;
}
.valignMiddle{
 vertical-align:middle;
}
.valignBottom{
 vertical-align:bottom;
}
.valignBaseline{
 vertical-align:baseline;
}
.nowrap{
 white-space:nowrap;
}
.underLine{ 
 text-decoration:underline;
}
.alignLeft{text-align:left;} 
.alignRight{text-align:right;}
.alignCenter{text-align:center;}

.m2{margin:2px;} .m5{margin:5px;} .m10{margin:10px;} /*--ALL SIDE MARGINS--*/
.mt10{margin-top:10px;} .mt7{margin-top:7px;} .mt5{margin-top:5px;} .mt2{margin-top:2px;} .mt4{margin-top:4px;} /*--TOP MARGINS--*/
.mr20{margin-right:20px;} .mr10{margin-right:10px;} .mr5{margin-right:5px;} .mr3{margin-right:3px;} .mr2{margin-right:2px;} /*--RIGHT MARGINS--*/
.ml20{margin-left:20px;} .ml10{margin-left:10px;} .ml5{margin-left:5px;} .ml3{margin-left:3px;} .ml2{margin-left:2px;}  /*--LEFT MARGINS--*/
.mlr2{margin:0px 2px;} .mlr5{margin:0px 5px;} .mlr10{margin:0px 10px;}/*--MARGIN LEFT-RIGHT--*/

.padd2{padding:2px;} .padd5{padding:5px;} .padd10{padding:10px;} .padd0{padding:0px;} /*--ALL SIDE PADDING--*/
.pt4{padding-top:4px} .pt5{padding-top:5px} .pt7{padding-top:7px} .pt15{padding-top:15px} /*--PADDING TOP--*/
.plr5{padding:0px 5px;} .plr10{padding:0px 10px;}  /*--PADDING LEFT AND RIGHT--*/
.pl10{padding-left:10px} .pl5{padding-left:5px}  /*--PADDING LEFT--*/
.pr10{padding-right:10px} .pr5{padding-right:5px}  /*--PADDING RIGHT--*/
.ht10{ height:10px;}  /*--HEIGHT--*/
.blue_txt{
	color:#3232F0;
}
.blue_txtb{
	font-family:"verdana"; 
	font-size:14px; 
	font-weight:bold;
	color:#3232F0;
}
.white_border1 {
	border:1px; 
	border-style:solid; 
	border-color:#FFFFFF;	
}

.closeBtnAdmin{display:block; float:right; height:16px; width:16px; padding-right:5px; background:transparent url(../images/chk_off1.gif) center no-repeat; cursor:pointer;}
.warning{
	color:#FF0000; 
	text-align:center;
}
.dff_button_sm{ /*--FORM BUTTONS--*/
	background:#5A9DEC url(../images/butt_bg.jpg) repeat-x; border:1px solid #006699;
	margin:0px; padding:0px 2px; 
	color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; 
	cursor:pointer;
}
.dff_button:hover, .dff_button_sm:hover{
	background:#FDAB1B url(images/buttog_bg.jpg) repeat-x; 
	border:1px solid #FF6600; 
	color:#1b1b1b;	
}