/*
The MIT License (MIT)
Distribute, Modify and Contribute under MIT License
Use this software under MIT License
*/
@charset "utf-8";
/* CSS Document */

#divCanvas{
	background:url(images/bgTest.jpg) no-repeat; 
}
.no-copy {
	-webkit-user-select: none;
}
.timerWidth{
	width:34px;
	display:inline-block;
	/*border:#09C 1px solid;*/
}
.timerPad{
	width:14px;
	display:inline-block;
	/*border:#00F 1px solid;*/
}
.timerText{ 
	font-family:"verdana"; 
	font-size:10px; 
	color:#000000; 
	font-weight:lighter;
}