##################################################################
# Upload-settings
##################################################################

# We want to use PUT (not POST)
Upload.Http.Method=put

# Where to PUT the files
Upload.URL.Action=uploaded/files/

# We want to upload thumbnails, too.
Upload.Thumbnails.Enable=true

# The location of the script file which receives the thumbnails of images (if enabled).
Upload.Thumbnails.TargetURL=uploaded/thumbnails/

# We do not need a login
Upload.Auth.UserAuthRequired=false


##################################################################
# Misc
##################################################################

# The minimum required JAVA Version. If the user does not have this version, he is asked to go to Sun's download page and install it.
MinJavaVersion=1.4

# Increased verbosity and information-output?
Debug=true