@charset "utf-8";
/* CSS Document */

.text-danger { text-decoration: line-through !important;}
.grythead th{ text-align:center;}
.white_bar { background-color: #ffffff !important;}
.red_border { border:2px #f00 solid !important;}
.headinghd {
    border-bottom: 1px solid #c7c7c7;
    padding: 0px 0px 5px 0px;
    margin-bottom: 5px;
}
.text-warning{color:#F00 !important;}
.recall_desp_table td a{word-break: break-word!important;}
label .checkbox{ margin:0px !important;}
.label_fw{width:100%;} 
textarea.form-control{padding: 2px 5px!important;}
.text_green{color:#009900;font-weight:bold;}
.proc_red_bg{background:#F00;color:#FFF;font-weight:bold;}
tr.valign-top td{vertical-align:top !important;}
.enter_pay_wd input{width:68px !important;}
.table-bordered tr.border_none td{border:none !important;}
.cltech{ background-color:#fbfbfb; padding:5px; margin-bottom:5px; border:1px solid rgba(0,0,0,0.10)}
.cltech2{ background-color:#fbfbfb; padding:5px; margin-bottom:5px; border:1px solid rgba(0,0,0,0.10); min-height:140px}
.cladocrec{ margin-bottom:5px;}
.cladocrec input{ width:100%;}

.cltech2 span{ font-size:14px; text-transform:uppercase; font-family: 'robotobold';}
.ptinstru textarea{ width:100%; margin-top:5px;}
.techhead{ border-bottom:1px solid rgba(255,255,255,1.00); margin-bottom:5px; padding-bottom:5px; font-weight:bold}
.techadmin{ background-color:#8bc34a; margin:5px 0px; padding:5px; color:#fff}
.claptned select{ background-color:#673782; padding:3px;}
#era_type_th > .btn-group > .btn.dropdown-toggle,#era_status_th > .btn-group > .btn.dropdown-toggle
{
	width: auto;
	padding-left: 5px;
	padding-right: 16px;
}
#era_type_th > .btn-group > .dropdown-toggle .caret,#era_status_th > .btn-group > .dropdown-toggle .caret
{
	right: 5px;
}
#era_frm > div.row > div.col-sm-3
{
	padding-right: 0 !important;
}

/*.dropdownfix .adjust_hg{ left:0px!important}*/
.dropdownfix .adjust_hg > li > a{ white-space:inherit!important}
.dropdownfix .bootstrap-select.btn-group .adjust_hg li a {
    cursor: pointer;
    white-space: normal;
}

#acc_notes textarea{
    resize:none;
}

.text-red { color: #d02020; font-weight:bold;}
.grand-total{ background-color:#3f51b5; color:#fff;font-size: 16px;}

/* Total CSS */
.acctotal{ background-color:#f9f9f9; padding: 4px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; /*position: fixed; bottom: 44px; width: 98.60%; left: 10px; z-index: 9999*/}
.acctotal ul { padding:0px; margin:0px; list-style:none}
.acctotal ul li  { padding:0px; margin:0px; list-style:none; display:inline-block; width:19%;}
.acctotal ul li:nth-child(2) h2{padding:0px; margin: 0px; font-size: 16px; text-transform: uppercase; color:#1b9e95; border-bottom: 1px solid #1b9e95} 
.acctotal ul li:nth-child(3) h2{padding:0px; margin: 0px; font-size: 16px; text-transform: uppercase; color:#ff7a5a; border-bottom: 1px solid #ff7a5a} 
.acctotal ul li:nth-child(4) h2{padding:0px; margin: 0px; font-size: 16px; text-transform: uppercase; color:#462066; border-bottom: 1px solid #462066}
.acctotal ul li:nth-child(5) h2{padding:0px; margin: 0px; font-size: 16px; text-transform: uppercase; color:#462066; border-bottom: 1px solid #462066}

.acctotal ul li:nth-child(1) h2{padding:0px; margin: 0px; font-size: 16px; text-transform: uppercase; color:#F11519; border-bottom: 1px solid #F11519;}
.acctotal ul li:nth-child(1) span, .acctotal ul li:nth-child(2) span, .acctotal ul li:nth-child(3), .acctotal ul li:nth-child(4), .acctotal ul li:nth-child(5) span{font-size:16px; color:#727272;}

.acctotal ul li{border-right:1px solid #dbdbdb}
.acctotal ul li:last-child{border-right:0px!important} 
.bs-searchbox .form-control{border-radius:4px !important; width:100% !important;}