@charset "utf-8";
/* CSS Document */

/* Temp. Classes */
select.form-control{height:inherit!important;}

/* Admin table header css */
.adminnw thead th{ text-transform:uppercase; font-family: 'robotobold';color:#616161; font-weight: 500}
.adminnw thead tr:hover{background:none!important;cursor:auto!important}
.adminnw tr:hover{ background-color:#deeff3!important; cursor:pointer}
.adminnw thead tr th:nth-child(1){ border-bottom:2px solid #1b9e95}
.adminnw thead tr th:nth-child(2){ border-bottom:2px solid #ffb85f}
.adminnw thead tr th:nth-child(3){ border-bottom:2px solid #ff7a5a}
.adminnw thead tr th:nth-child(4){ border-bottom:2px solid #462066}
.adminnw thead tr th:nth-child(5){ border-bottom:2px solid #00aaa0}
.adminnw thead tr th:nth-child(6){ border-bottom:2px solid #e45641}
.adminnw thead tr th:nth-child(7){ border-bottom:2px solid #5d4c46}
.adminnw thead tr th:nth-child(8){ border-bottom:2px solid #7b8d8e}
.adminnw thead tr th:nth-child(9){ border-bottom:2px solid #f1a94e}
.adminnw thead tr th:nth-child(10){ border-bottom:2px solid #00f00f}
.adminnw thead tr th:nth-child(11){ border-bottom:2px solid #1800aa}
.adminnw thead tr th:nth-child(12){ border-bottom:2px solid #df00f0}
.adminnw thead tr th:nth-child(13){ border-bottom:2px solid #e68400}
.adminnw thead tr th:nth-child(14){ border-bottom:2px solid #008896}
.adminnw thead tr th:nth-child(15){ border-bottom:2px solid #f37115}
.adminnw thead tr th:nth-child(16){ border-bottom:2px solid #e5f315}
.adminnw thead tr th:nth-child(17){ border-bottom:2px solid #4e83e4}
.adminnw thead tr th:nth-child(18){ border-bottom:2px solid #e50dff}
.adminnw thead tr th:nth-child(19){ border-bottom:2px solid #0dffd2}


/* Common classes in Admin */
label{font-weight:400!important;}
.auto_height{ height:auto !important; min-height:1px !important;}
.no-min { min-height:auto !important; }
.head{
    font-family: 'robotobold';
    padding: 5px;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
	border-bottom: 1px solid #e9e9e9;
	font-weight: normal;
    color: #616161;	
	font-size:14px!important;
}

.spin{
	-webkit-transform-origin: 50% 50%;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-animation: spin .8s infinite linear;
	-moz-animation: spin .8s infinite linear;
	-o-animation: spin .8s infinite linear;
	animation: spin 0.8s infinite linear;
}
.border_box{    
	border-radius: 50%;
    width: 49%;
    margin: 0px auto;
    border: 9px solid transparent;
    padding: 19px;
    background: #1b9e95;
    height: auto;
}

.border_box img {
    max-height: 50px;
    max-width: 50px;
    width: 50px;
    height: auto;
}

.border_box .circle_del{
	position: absolute;
    top: 16%;
    font-size: 19px;
    color: #9c2a27;
    margin-left: -4%;
}

.border_box .hover_danger:hover{
	color:red;
}

.content_box{font-family: 'robotolight'!important;}
.ad_modal_footer{padding-top:5px;}
.checkbox{margin:0px;}
.checkbox label{overflow:inherit!important;}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{margin-left:2px}
textarea.form-control{padding:1px 5px!important}
.content_disable {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1001;
    background-color: #fff;
    opacity: 0.6;
    display: none;
}
.tblBg{padding:0px 10px 10px 10px;}
.tbl_fixed{table-layout: fixed;}
.no_pad{padding:0px!important}
.no_pad_top{padding-top:0px!important}
.no_pad_bottom{padding-bottom:0px!important}
.no_pad_left{padding-left:0px!important}
.no_pad_right{padding-right:0px!important}

.lock_stat{background-color:#FF0000;font-weight:600;}
.unlock_stat{background-color:#339966;font-weight:600;}
.reset_stat{background-color:#339966;font-weight:600;}
.glyphicon.text-success{background-color:#5cb85c!important;border-color:#5cb85c;color:#5cb85c!important}
.glyphicon.text-danger{background-color:#d9534f!important;border-color:#d9534f;color:#d9534f!important}
.reset_stat a,.lock_stat a,.unlock_stat a{color:#fff!important;}


/* Pagination CSS */
.pagingcs{min-height:40px}
.pagingcs .pagination{ margin:0px; padding-left:10px;}
.paging{ font-size:16px; color:#000000; margin-top:10px;}
.pagingcs .pagination a { color:#646464; text-decoration:none}
.pagingcs .pagination > .active > a { color:#fff;}
.pagination{ margin:0px!important;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{ background-color:#5c2a79!important }
.pagination > li:first-child > a, .pagination > li:first-child > span{ border-radius:50px!important; color:#000000 }
.pagination > li.active:first-child > a, .pagination > li.active:first-child > span{color:#ffffff;}
.pagination > li > a, .pagination > li > span{border-radius:50px!important; margin-right:5px; color:#000000}
.recodpag{ text-align:right}
.recodpag select.form-control{ width:60px; }
.activuser select.form-control{ width:100px}
.activuser{ text-align:right}


/* Admin > Groups CSS */
.remadhead{ background-color:#5c2a79; font-size:18px; color:#fff; padding:12px 0px; text-align:center; height:51px}
.grpbox{ border:1px solid #e1e1e1; margin-bottom:10px; min-height:280px;}
.grpbox .zipcod .form-control{ width:48%}
#group_form .grpbox{min-height:220px;margin-bottom:	10px;}
#group_form  .form_extension .form-control{width:48%!important;}
.remadd .zipcod .form-control{ width:48%}


/* Admin > Facility CSS */
.adminbox{min-height:inherit;padding:0px!important;}
.adminbox .checkbox label,.adminbox .radio label{overflow:initial;}
.adminbox .head .checkbox.checkbox-inline{margin-top:-6px}
#addNew_div .adminbox{min-height:228px;}

/*  Admin > Providers CSS */
.recbox{ border:1px solid #e1e1e1; margin-bottom:10px;}
.recbox .checkbox{margin:0px 0px 1px 0px;}
.provopti ul{ padding:0px; margin:0px; list-style:none; text-align:right}
.provopti ul li{ padding:0px; margin:0px 15px 0px 0px; list-style:none; display:inline-block; color:#a2a0a0;text-transform:initial;}
.provopti ul li .checkbox{color:#616161}
.provopti ul li:last-child{ margin-right:0px  }
.provopti ul li strong{ color:#000000}
.head #pr_div{color:#9900CC}
#new_priv_div .modal-lg{width:65%!important;}
#new_priv_div table {margin-bottom:0px;}
#new_priv_div table td {border-top:0px;}
#new_priv_div table label {white-space:nowrap;}
.sig_btn span {padding-right: 2%;font-size: 24px;}


/* Admin > Site Care Plan */
.boxheadertop{margin-bottom:0px;padding-bottom:0px}



/* Admin > Iportal */
.optioninp select.form-control{ width:80%; display:inline-block; margin-right:5px}
.optioninp label{ display:block; font-size:16px; font-weight:normal}
.optioninp .form-control{ width:90%; display:inline-block; margin-right:5px; border-radius:0px}
.iportal_pf_img_cl { float:left; padding: 10px; margin:10px; border:1px solid #666666; border-radius: 10px; text-align: center; }
.iportal_pf_img_cl img { display: block; margin-bottom:10px;width: 100px;height: 50px;max-height: 100%; }
.iportal_pf_img_cl a { padding: 3px 7px 3px 7px; background-color: red; color:#FFFFFF; border-radius: 5px; }
[id^=questionDetails_]{
	border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.variable_list input[type=text]{
	background:transparent;
	border:none;
	width:100%
}

.selection_box input::selection {
    color: #ffffff; 
    background: #449d44;
}

.auto_resp_dp li{
	width:50%;
	padding:5px;
	text-align:center;
	border: 1px solid #ccc;
}
.auto_resp_dp.single_li li{
	width:100%;
}
.auto_resp_dp .btn{border-radius:0px}
.auto_resp_dp li:nth-child(1){ border-right:none}
#temp_data .list-group{margin-bottom:0px}


/* Admin > Documents */
.documents_sec .panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item{word-wrap:break-word;}

/* Admin > Documents > Logos */
#preview_div img{height:100%!important;}

.prodsign{ text-align:right}
.prodsign label{ text-align:right; margin-top:18px}
.recdlt{ margin-top:8px; display:block}

.colrinput .input-group-addon{ background-color:#673782; color:#fff}
.sig_applet {width:100%; height:100px; border:solid 1px #FF9900;background-color:white;display:block}

.resetpassword {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0); 
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #3f51b5 ;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; font-size:16px; padding:4px 12px; text-transform:uppercase; margin:0px 5px
}
.resetpassword:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.resetpassword:hover, .resetpassword:focus, .resetpassword:active {
  color: white;
}
.resetpassword:hover:before, .resetpassword:focus:before, .resetpassword:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


.policybx{ background-color:#ffffff; border-radius:2px;-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 1px 1px 0.3px	 rgba(0,0,0,0.1);
box-shadow: 0px 1px 1px 0.3px rgba(0,0,0,0.1); padding:5px;/* margin:5px*/ margin-bottom:10px; border:1px solid #CCC; min-height:460px} 

.policybx .boxheadertop h2{ padding:0px 0px 0px 35px; margin:0px; color:#616161; text-transform:uppercase; font-size:16px; font-weight:normal; font-family: 'robotobold'; position:relative; line-height:25px }
.policybx .boxheadertop h2 figure{ position:absolute; top:0px; left:0px;}

.policybx label{ font-weight:normal; font-size:12px;}
.rvu h3{ padding:0px; margin:0px; font-size:16px; font-weight:bold}

.supbill{ margin-top:5px; line-height:25px; margin-bottom:0px}
.supbill label{ margin-bottom:5px} 

.polsub .boxheadertop h2{ padding:0px 0px 0px 55px; margin:0px; color:#616161; font-size:26px; font-weight:normal;  position:relative; line-height:42px }
.polsub .boxheadertop h2 figure{ position:absolute; top:0px; left:0px;}

.subhead{ border-bottom: 1px solid #e9e9e9; font-size:16px; color:#333; text-transform:uppercase; font-family: 'robotobold'; padding:5px 0px}

.mainsec label{ font-weight:normal; font-size:13px}
.chkout .col-sm-4{ margin-bottom:10px}

.insubox{ min-height:420px;}
.refphy{ min-height:320px}

.sitcarplan{ background-color:#4b2372; padding:3px;}
.sitcarplan h2{ font-size:14px; color:#fff; border-bottom:1px solid rgba(255,255,255,0.20); padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; font-family: 'robotobold'; text-transform:uppercase}
.sitcarplan .form-control{ margin-bottom:10px;}
.sitcarplan label { color:#fff }


.carebut{ border-radius:0px; padding:8px 15px; color:#fff; border:1px solid #fff; background-color:transparent; font-family: 'robotobold'; text-transform:uppercase }


.sitcarbx{ min-height:170px!important;}
.labrslt .form-control{ width:14%!important; margin-bottom:10px}
.labrslt2 .form-control{ width:18%!important; margin-bottom:10px}

.sitecarft{ background-color:#1b9e95; padding:10px; -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0.3px	 rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0.3px rgba(0,0,0,0.1); padding:10px;/* margin:5px*/ margin-bottom:10px}

.cidrat{ display:inline-block; width:19%; color:#fff; vertical-align:top; }
.cidrat label{ font-weight:normal; }

.ageflt { display:inline-block; width:48%; color:#fff; vertical-align:top; }
.ageflt label{ font-weight:normal; }
.sitecarft label{ font-weight:normal;  color:#fff}

.newtemplate{ background-color:#3f51b5; padding:10px; margin-bottom:10px}
.newtemplate h2{ font-size:18px; color:#fff; text-transform:uppercase; font-family: 'robotobold'; margin:0px 0px 10px 0px ; padding:0px 0px 10px 0px ; border-bottom:1px solid rgba(255,255,255,0.20) }
.newtemplate label{ font-weight:normal; color:#fff}

.savedchatnt{ background-color:#727272; padding:10px; margin-bottom:10px;}
.savedchatnt h2{ font-size:18px; color:#fff; text-transform:uppercase; font-family: 'robotobold'; margin:0px 0px 10px 0px ; padding:0px 0px 10px 0px ; border-bottom:1px solid rgba(255,255,255,0.20) }
.savedchatnt table{ background-color:#fff; margin-bottom:8px; }
.compar{ background-color:#673782; padding:10px;}
.compar h2{ font-size:18px; color:#fff; text-transform:uppercase; font-family: 'robotobold'; margin:0px 0px 10px 0px ; padding:0px 0px 10px 0px ; border-bottom:1px solid rgba(255,255,255,0.20) }
.compar table{ background-color:#fff; margin-bottom:8px; }

.savebut{ background-color:#8bc34a; padding:4px 14px; color:#fff; font-family: 'robotobold'; border:0px; text-transform:uppercase}

.freetabtop{ background-color:#1b9e95; padding:5px; margin-bottom:5px}
.freetabtop label{ color:#fff}
.freetablecol select.form-control{ width:198px}
.incfees select.form-control{ width:150px }
.increslt select.form-control{ width:74px }
.freetabut{ background-color:#8bc34a; border:0px; border-radius:2px; padding:4px 8px; color:#fff; font-family: 'robotobold'; text-transform:uppercase}
.freetabtop .form-control{ height:28px;}

.frtabrht { width:100%; overflow:hidden; overflow-x:scroll}
.frtabrht table {
    table-layout: fixed;
    word-wrap: break-word;
}
.frtabrht table  td{ width:150px;}
.frtabara{ padding:0px 5px; border:1px solid #dddddd; border-top:0px}
.frtabara [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.frtabara td{ padding:6px!important; line-height:26px!important; height:40px!important}
.frtabara .form-control{ height:24px; padding:0px!important}
.frtabara select.form-control{ width:100px}

.tbclose{ color:#FF0004; font-size:14px!important}
.cptcatgr{ width:270px!important; display:inline-block!important;}
.cptcatgr{ border:0px!important;}
.cptcatgr .bootstrap-select{ display:inline-block!important; width:150px!important}
.cptcatgr .form-control { display:inline-block!important; width:150px!important}

.cptcatgr .dropdown-menu{ width:250px;}
.cptcatgr span.text{ color:#000!important}
.cptcatgr .text img{ display:none}
.docbox{ background-color:#fff; padding: 10px; border: 1px solid #eeeeee; margin-bottom: 10px }	
.dochead { border-bottom:1px solid #eeeeee; margin-bottom: 10px; padding-bottom: 10px; }
.chooseuplod{ border:dashed 2px #808080; padding: 15px; width: 100%; background-color: #f9f9f9; text-align: center}

.dochead h2{ padding:0px; margin: 0px; font-size: 18px; font-family: 'robotobold'; text-transform:uppercase }
.btn-upload{ border:1px solid #4b8f29; background-color:#76b559; padding: 5px 15px; color:#fff; font-size: 18px; border-radius: 3px; margin: 10px 0px }
.logovari label{ text-transform:uppercase; margin-top: 10px }
.logovari{ margin-bottom:10px}
.btn-save{ background-color:#75b457; color:#fff; text-transform: uppercase; font-family: 'robotobold'; }
.btn-cancel{ background-color:#673781; color:#fff; text-transform: uppercase; font-family: 'robotobold'; }
.savevarib{ border:1px solid #d7d7d7; text-align: center; font-size:13px;; margin-bottom: 10px}
.savevarib span{ padding:5px; font-size: 13px; color:#3F3F3F; display: block}



/*Admin New CSS03-07-17*/


/*Admin New CSS03-07-17*/

.lhtthead{ background-color:#f5f6f8; color:#5d5d5e}
.ocupatbox1{ background-color:#6d5faf!important; padding: 10px; color:#fff }
.ocupatbox2{ background-color:#3f51b5!important; padding: 10px; color:#fff }

.ocupatbox1 td, .ocupatbox1 th{ border-top:0px!important; border-bottom: 1px solid rgba(255,255,255,0.30); color:#fff!important }
.ocupatbox2 td, .ocupatbox2 th{ border-top:0px!important; border-bottom: 1px solid rgba(255,255,255,0.30); color:#fff!important }

#pracfields td, #pracfields th{ border-left:0px!important; border-right:0px!important; }
#pracfields th{ text-transform:uppercase; color: #5d5d5e}

/*Admin Schedular CSS26-07-17*/
.admpophead{ border-bottom:1px solid #bfbfbf; margin-bottom: 10px}
.admpophead h2{ font-size:18px; color:#585858; padding:2px 0px; margin: 2px 0px; font-family: 'robotobold'; text-transform: uppercase }
.procbox{ background-color:#5d2a79; padding: 15px 10px; color:#fff  }
.procbox label{ margin:5px 0px}
#proc_color{ background-color:#fff!important}
.adminclos span{ background-color:#ec407a; padding: 2px 8px; color: #fff; cursor:pointer }
.adminclos span:hover{ background-color:#8bc24a;  }
.admschtem{border:1px solid #cccccc; margin-bottom: 10px;}
.admschtem .time{ background-color:#8bc24a; font-family: 'robotobold'; color:#fff; text-transform: uppercase; padding: 5px}
.admschtem td, .admschtem th { border:0px!important; vertical-align: middle!important; padding: 2px 6px!important; font-weight: normal}
.admschtem .temtime{ background-color:#673781; font-family: 'robotobold'; color:#fff; text-transform: uppercase; text-align: center;  position: relative; }
/*.admschtem .temtime:after{position:absolute; top: 0px; right: 0px; content: url(../images/scharrow.png)}*/

.admschtem .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){ width:60px!important; }
.admschtem .btn{border-radius:0px;}
.temtim{ background-color:#eeeeee}
.time_pane{ background-color:#dbdbdb; text-align: center; padding: 8px 0px}
.title_pane{ background-color:#2f2f2f; text-align: center; color: #fff; padding: 7px 0px; font-weight: bold; position: relative}
.title_pane:after{position:absolute; bottom:-18px; left:40%; right:40%; content: url(../images/sche_point.png) }
#recs td{ padding:1px 0!important}
.time_group{ background-color:#f0f4f7; border-right:1px solid #cccccc; padding: 10px;}
#addProviderProcdiv .admpophead{ margin-bottom:0px;}
.addschtime{ background-color:#8bc24a; padding: 10px; margin-bottom: 10px; color:#fff}
.addschtime h2{ padding:0px 0px 5px 0px; margin:0px 0px 5px 0px; font-size: 16px; color: #fff; font-family: 'robotobold'; border-bottom: 1px solid #fff}
.addschtime .form-control{ background-color: transparent; border-radius: 0px; margin-bottom:5px!important}
.addschtime .btn{ border-radius:0px; }
.info_group{ background-color:#9662c4; padding: 10px; margin-bottom: 10px; color:#fff}
.info_group h2{ padding:0px 0px 5px 0px; margin:0px 0px 5px 0px; font-size: 16px; color: #fff; font-family: 'robotobold'; border-bottom: 1px solid #fff}
.info_group .btn .form-control{ background-color: transparent; border-radius: 0px; margin-bottom:5px!important}
.info_group .btn{ border-radius:0px; border:0px }
.label_color{ color:#fff!important}
.lstofsche{ border:1px solid #cccccc; padding: 5px; margin-bottom: 20px!important}
.lstofsche h2{border-bottom:2px solid #673781; padding: 0px 0px 5px 0px; margin:  0px 0px 5px 0px; font-family: 'robotobold'; font-size:16px; text-transform: uppercase; color: #000; text-align: left}
.lstofsche .form-control{ min-height:226px; border:0px; }
.alllist{ background-color:#5c2a79; border-radius: 4px; color: #fff; font-size: 16px; border:0px; font-family: 'robotobold'; margin-bottom: 5px; padding:9px 18px}
.snglist{ background-color:#329e9c; border-radius: 4px; color: #fff; font-size: 16px; border:0px; font-family: 'robotobold'; margin-bottom: 5px; padding:9px 18px}

.bfh-colorpicker-toggle > input[readonly] { background-color: #fff!important;}
.schebutpos{ margin:50px 0px 0px 0px}
.pdr5{ padding-right:5px;}
/*Admin Schedular CSS26-07-17*/

.dayara{ background-color:#673781; color:#fff; font-family: 'robotolight'!important;}
.calweeend{ background-color:#1b9e96!important; color:#fff!important;}
.scecladtab td{font-size:12px; }

.scecladtab td {
    vertical-align: top!important;
}

.scecladtab td{ padding:0px!important}

.schform{ padding:0px 10px;}
.schform label{ margin:0px; font-size:13px;}
.schform .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.schoptbut{ margin-top:12px;}
.schform .btn{ border-radius:0px;}
#monthtopimage{ background-color:#f5f5f5; border:1px solid #dfdfdf}
#monthtopimage .btn{ border-radius:0px;}

#monthtopimage .glyphicon{ top:-3px}
#monthtopimage td{ padding:4px!important;}

.proscrht { background-color:#f5f5f5; border:1px solid #dfdfdf; padding:0px 4px; line-height:30px;}

.calbox{ background-color:#f9f9f9; border:1px solid #dfdfdf; margin-bottom:3px; padding:2px; }
.calbox_gray{ border:1px solid #dfdfdf!important; margin-bottom:3px; padding:2px; width: 98%; background-color:#F2F2F2 !important; }
.calbox_transparent{ border:1px solid #dfdfdf!important; margin-bottom:3px; padding:2px; width: 98%;  }
#monthly_View .row{ padding:0px 5px; max-height:33px}
.slotbut{ background-color:#8cc34b; border-radius:3px; color:#fff; text-transform:uppercase; padding:4px; display:block; text-align:center; font-family: 'robotobold'!important;}
.calweeend .row{ padding:0px 5px; height:33px}

#monthly_View .row > span{ font-weight:normal; font-size:12px;} 
.provsectemp {
    background-color: #dadada;
    line-height: 27px!important; 
	border-bottom:1px solid #d0cccc!important;
	width: 97%;
	margin-top: 4px
}
.provsectemp a{ font-size:13px; color:#000; text-decoration:none; font-family: 'robotolight'!important; font-weight:normal!important; padding:4px 6px; text-transform:uppercase}
.provsectemp a:hover{ color:#673781; text-decoration: underline}
.timepick .btn-group{ width:13%!important; display:inline-block; margin-right:4px}
.schoptbut{ margin-top:20px;}
.proscrht label{font-family: 'robotobold'; text-transform:uppercase; color:#686868}
#monthtopimage label{font-family: 'robotobold'; text-transform:uppercase; color:#686868}
.boxsch{ background-color:#f5f5f5; padding:8px!important; margin-top:8px}

.bgcolor { background-color:#000000}
.timepick label{ margin:0px 15px}

.savedtem h2{ padding:5px; margin: 0px; font-size: 16px; color: #fff; background-color: #449d44; font-family: 'robotobold'!important; text-transform: uppercase}

@media (min-width:  768px) and (max-width: 991px) {

.boxheadertop .topbutton{ padding:6px 10px!important}
.boxheadertop h2 {font-size: 23px!important;}
.grpbox .control { margin-bottom: 19px;}

.sitcarplan{ min-height:216px }

.adminnw thead th{ font-size:12px}
.adminnw  table{ max-width:1900px; width:1900px;}

}




@media (min-width: 992px) and (max-width: 1199px) {

	
}
	
@media (min-width: 1200px) {

 
	
}
@media (min-width:  1250px) and (max-width: 1380px) {
	.timepick .btn-group{ width:12%!important; display:inline-block; margin-right:4px}	
}

.show_proc_options_parent
{
	height: 320px
}
/* style for provider scheduler*/
.cal_date
{
	font-size: 16px!important;
	font-weight: bold!important
}
.applied_templates
{
	font-size: 11px!important;
}

#emdeon_facs .bootstrap-select.btn-group .dropdown-toggle .filter-option {text-overflow: ellipsis!important;}
#emdeon_facs .bootstrap-select > .dropdown-toggle {
    width: 82px !important;
    padding-right: 3px;
}
@media (min-width:  1600px) and (max-width: 1900px) {
#emdeon_facs .bootstrap-select > .dropdown-toggle {
    width: 112px !important;
    padding-right: 3px;
}

}


/* Task Rules Css */
.task_rules{ background-color:#ffffff}
.task_rules .applyrules{ background-color:#f3f6fa}
.task_rules .applyrules h2{ font-size:16px; padding:15px; margin:0px; border-bottom:1px solid #cbced2; font-weight:bold}

.rulesleft .nav-tabs li {
    float:inherit!important; display:block; text-align:center; 
}

.rulesleft .nav-tabs > li.active > a, .rulesleft .nav-tabs > li.active > a:focus, .rulesleft .nav-tabs > li.active > a:hover{ background-color:#3f51b5; color:#fff}
.rulesleft .nav > li > a{ border-radius:0px; margin-right:0px; border:0px; color:#4f4f4f; padding:18px 0px!important } 
.rulesleft .nav > li > a .glyphicon{ display:block; font-size:50px; margin-bottom:8px;}

.taskrules{ background-color:#e8eef5; padding:10px; margin-top:60px; }

.taskrules h3{ font-size:16px;  margin:0px 0px 15px 0px; padding:0px 0px 10px 0px; border-bottom:1px solid #cbced2; font-weight:bold}
.advenfnd{ background-color:#673782; padding:8px; margin:8px 0px }

.taskusrsrch .input-group-addon{ background-color:#8bc34a; border-radius:0px; color:#fff}
.advenfnd a { color:#fff; text-decoration: underline}
.advenfnd a:hover { color:#fff; text-decoration: none}
.taskusrsrch .minimal{ width:100px!important;}

.tab-content ul{ padding:15px; margin:0px; list-style:none}
.tab-content ul li{ padding:0px; margin:0px; list-style:none; line-height:30px;}
.tab-content ul li .checkbox label::before{top: 7px;}
.rulesleft{ background-color:#eaeff5; height:385px;}

/*SCHEDULE TEMPLATE LABEL CSS*/
.title_lbl{ padding: 0px 5px; background: #FFF; color: #000}
.row_lbl{ padding: 0px 5px; background: #000; color: #FFF}

.addschtime .bootstrap-select > .dropdown-toggle{ padding-right:6px!important;}
.addschtime .btn{ padding: 2px 0px!important; width:36px!important;}
.addschtime .bs-caret{position:relative!important; right:-12px!important}

.tepmopt .bootstrap-select.btn-group .dropdown-menu{ max-height:300px!important}

/*Privileges --*/
#ele_priv_chk .recbox  .table > tbody > tr > td, #allprivdivs .adminPrivDiv  .table > tbody > tr > td{border:0px;}
#ele_priv_chk .checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; cursor: not-allowed; }
#ele_priv_chk .checkbox input[type="checkbox"]:disabled + label { opacity: 0.65; cursor: not-allowed; }
#ele_priv_chk .checkbox :checked[type="checkbox"]:disabled + label::before {  background-color: #5cb85c;  border-color: #5cb85c;  }
#ele_priv_chk .head .checkbox label::before, #ele_priv_chk .head .checkbox label::after {top:-2px;}
#ele_priv_chk .checkbox.checkboxcolor input[type="checkbox"]:checked + label::before {background-color:#f4b81f!important;border-color:#f4b81f!important;}
#ele_priv_chk .no_brdr{ border-bottom: 0px; margin:0px; }
