/*
 The MIT License (MIT)
 Distribute, Modify and Contribute under MIT License
 Use this software under MIT License
*/
@charset "utf-8";
/* CSS Document */


/* Schedule main Page CSS */

.usersection{ background-color:#1b9e95; min-height:48px;border-bottom:2px solid #77558b}
.finalized{ background-color:#158d83; border-right:1px solid #50aba4; padding:0px 0px 10px 0px; line-height:45px}
.finalized:hover{ cursor:pointer; background-color:#ed1c24}
.finalmenu figure{ position:absolute; top:0px; left:0px;}
.finalmenu { padding:0px 0px 0px 45px; position:relative; font-size:18px; color:#FFFFFF}
.finalmenu a { color:#fff; text-decoration:none} 
.finalmenu a:hover { color:#fff; text-decoration:none} 
.srchflt{ font-size:0px; margin-top:12px;}

select {

  /* styling */
  background-color: white;
  border: thin solid #c9c9c9;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 5px;

  /* reset */

  margin: 0px 4px 0px 0px ;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; 
}


/* arrows */


select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #a4a4a4 50%),
    linear-gradient(135deg, #a4a4a4 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, #6d5cae 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #6d5cae 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #6d5cae;
  outline: 0;
}






select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}






.srchflt .form-control {
    background-color: #4db3ac;
    background-image: none;
    border: 1px solid #66beb8;
    border-radius: 1px;
    box-shadow: none;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    margin-top: -9px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.srchflt  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.srchflt select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0px 4px 0px 0px ;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; width:152px!important
}


/* arrows */


.srchflt select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.srchflt select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


.srchflt select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}




.joindate{ position:relative; padding:0px 0px 0px 50px; color:#fff; font-size:16px; line-height:20px}
.joindate span{ font-size:13px; font-weight:bold}
.joindate figure{ position:absolute; left:0px; top:0px;}

.username{ background-color:#158d83; border-left:1px solid #50aba4; border-right:1px solid #50aba4; height:48px;}
.usrnam { position: relative; font-size:30px; color:#fff; padding-left:40px; line-height:50px}
.usrnam span{ font-size:16px;}
.usrnam figure{ position:absolute; left:0px; top:-3px;}

.visitsect .form-control {
    background-color: #4db3ac;
    background-image: none;
    border: 1px solid #66beb8;
    border-radius: 1px;
    box-shadow: none;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 36px;

    line-height: 1.42857;
    padding: 6px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
	margin-top:7px;
}

.visitsect  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.visitsect select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0px 4px 0px 0px ;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; width:112px!important
}


/* arrows */


.visitsect select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.visitsect select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


.visitsect select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.newform{ border:0px; border-radius:0px; background-color:#3f51b5; border-bottom:2px solid #2d3b89; text-transform:uppercase; color:#fff; padding:9px 12px; font-weight:bold; margin-top:3px; font-size:14px}
.patient{ border:0px; border-radius:0px; background-color:#8bc34a; border-bottom:2px solid #649d21; text-transform:uppercase; color:#fff; padding:9px 12px; font-weight:bold ;  margin-top:3px; font-size:14px}
.finalizebut{ border:0px; border-radius:0px; background-color:#ec407a; border-bottom:2px solid #bc0b47; text-transform:uppercase; color:#fff;  margin-top:3px;
    padding: 4px 14px 4px 7px; font-weight:bold; font-size:14px}
.finalizebut img{ margin-right:5px;}

.finalbut .hvr-rectangle-out:before {
  background: #bc0b47!important;}
  
 .patienthov .hvr-rectangle-out:before {
  background: #67a71d!important;}


.username{ padding:0px!important}
.username ul { padding:0px; margin:0px; list-style:none }
.username ul li { padding:0px; margin:0px; list-style:none; display:block; vertical-align:top }
.loguser > div{padding:0px 0px 0px 10px;}
.loguser > div span.glyphicon-remove{color:#f00; float:right !important;}
#div_pt_name figure img{max-height:45px; max-width:35px; margin:4px 4px 0px 0px;}
.loguser  h2{ font-size:16px; color:#fff; padding:0px; margin:4px 0px 0px 35px; line-height:20px; font-weight:bold}
.loguser  h2 span{ color:#fff; font-size:13px; display:block; font-weight:normal;}


.usersection .hvr-rectangle-out:before {
  background: #1b2b80;}
.usersection .hvr-rectangle-out:hover:before, .usersection .hvr-rectangle-out:focus:before, .usersection .hvr-rectangle-out:active:before {
border-radius:0px
}
.userdos{ background-color:rgba(255,255,255,0.10); width:150px; border-right:1px solid rgba(255,255,255,0.10); height:48px; padding:6px 0px 0px 0px}
.userdos span{ position:relative; padding:0px 0px 0px 50px; color:#fff; font-weight:bold; line-height:21px }
.userdos span span{ display:block; font-size:18px; font-weight:normal;}
.userdos figure{ position:absolute; top:3px; left:5px;}
.loguser{ position:relative}
.loguser figure{ position:absolute; top:0px; left:0px }



.schedfltara{ margin:5px 0px;}
.schedfltara label{ font-size:16px; font-weight: normal; }



.schedfltara .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #66beb8;
    border-radius: 1px;
    box-shadow: none;
    color: #696969;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    margin-top: -9px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 230px!important; margin:0px 15px;
}

.schedfltara  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.schedfltara select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0px 4px 0px 0px ;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; width:180px!important
}


/* arrows */


.schedfltara select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #a4a4a4 50%),
    linear-gradient(135deg, #a4a4a4 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;-webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);
box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08); border:1px solid #e9e9e9
}

.schedfltara select.minimal:focus {
  background-image:
    linear-gradient(45deg, #1b9d94 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #1b9d94 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #1b9d94;
  outline: 0;
}


.schedfltara select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


.srcsubmit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #3f51b5;
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    color: #fff;
    
    font-size: 14px !important;
    height: 37px;
    line-height: 21px;
    padding: 7px 20px; text-transform:uppercase; margin-top:-7px; font-weight:bold; border-bottom:2px solid #000000
}


.schedfltara .btn {padding: 2px 7px; }

.schedfltara .btn-group{-webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);
box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);}

.nextavailable{ background-color:#3f51b5; border:0px; border-radius:0px; color:#fff; padding:8px 20px; text-transform:uppercase; font-weight:bold; margin:0px 10px}

.stma img {-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s; webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08);
box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.08); }
.stma img:hover{ border-radius: 50%; /* Rounded border */
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
cursor:pointer;}


.scheduleara { background-color:#fff; border-top:1px solid #e3e3e3; padding-top:3px;}
.datesched { margin-top:10px;}
.datesched a{ color:#000000; text-decoration: none; border-radius:3px; background-color:#e5e5e5; padding:7px 13px; font-size:16px; text-decoration:none} 
.datesched a:hover{ color:#fff; text-decoration: none; background-color:#673782;} 

.calndmonth {text-align:center}
.calndmonth ul{ padding:0px; margin:0px; list-style:none}
.calndmonth ul li{ padding:0px; margin:0px; list-style:none; display:inline-block}
.calndmonth ul li a{ background-color:#e5e5e5; border-radius:3px; padding:7px 2px 9px 2px}
.calndmonth ul li a:hover{ background-color:#8bc34a; }

.calndmonth .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #66beb8;
    border-radius: 1px;
    box-shadow: none;
    color: #696969;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    margin-top: -9px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 230px!important; margin:0px 15px;
}

.calndmonth  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.calndmonth select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0px 4px 0px 0px ;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; width:180px!important
}


/* arrows */


.calndmonth select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #a4a4a4 50%),
    linear-gradient(135deg, #a4a4a4 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat; border:1px solid #e9e9e9
}

.calndmonth select.minimal:focus {
  background-image:
    linear-gradient(45deg, #1b9d94 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #1b9d94 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #1b9d94;
  outline: 0;
}


.calndmonth select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.topbut ul{ padding:0px; margin:0px; list-style:none}
.topbut ul li{ padding:0px; margin:0px; list-style:none; display:inline-block}

.usrrht{ margin-top:8px; text-align:right; color:#777}




input[type=radio].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:26px;
							height:20px; 
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:13px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -20px;
						}
						label.css-label {
				background-image:url(../images/radio1.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			


.tcharg{ min-height:413px;}

.toprejection .scroll-content{ height:100px;}

#search_patient{font-size:0px; margin-top:7px;}		
#search_patient .form-control{ border-radius:0px;}	
#search_patient .srch_pt_text{width:160px;}
#search_patient .active_dd{width:80px !important;}
#search_patient .pl15 li{padding-left:15px;}
#search_patient .dropup, .dropdown{ display:inline-block }
#search_patient .btn{ border-radius:0px; border-left:0px; background-color:#3f51b5; color:#FFFFFF}	
#search_patient .tsearch{ background-color:#8bc34a; color:#fff; border:0px; width:38px; height:34px; margin-left:2px; border-bottom:1px solid #649d21}
#search_patient .dropdown-menu{ left:inherit!important; right:0px!important; border-radius:0px; background-color:#3f51b5; margin:-2px 0 0}
#search_patient .dropdown-menu > li > a{ color:#fff}
#search_patient .dropdown-menu > li > a:hover, #search_patient .dropdown-menu > li > a:focus { background-color:rgba(45,59,137,0.60)}
#search_patient .dropdown-menu .divider{ background-color:rgba(45,59,137,0.60)}
#search_patient .dropdown-submenu {position: relative;}
#search_patient .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: -1px;
    -webkit-border-radius: 0 0px 0px 0px;
    -moz-border-radius: 0 0px 0px;
    border-radius: 0 0px 0px 0px; position:inherit!important; background-color:transparent; box-shadow:none
}

#search_patient .dropdown-submenu:hover>.dropdown-menu {
    display:none;
}

#search_patient .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

#search_patient .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

#search_patient .dropdown-submenu.pull-left {
    float: none;
}

#search_patient .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
	

.sitenav .navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5d2a7a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;}
  
.sitenav .navbar-default .navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.sitenav .navbar-default .navbar-nav > .open > a,
.sitenav .navbar-default .navbar-nav > .open > a:hover,
.sitenav .navbar-default .navbar-nav > .open > a:focus {
  color: #5d2a7a; background-color:transparent;  
   
}


.sitenav .navbar-default .navbar-nav > .open > a:before,
.sitenav .navbar-default .navbar-nav > .open > a:hover:before,
.sitenav .navbar-default .navbar-nav > .open > a:focus:before {
 visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
   
}



.sitenav .navbar-nav>li>.dropdown-menu {
    margin-top:-1px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.sitenav .navbar-default .navbar-nav>li { display:inline-block}
.sitenav .navbar-default .navbar-nav>li>a {
   font-weight: normal;
}
.sitenav .mega-dropdown {
    position: relative!important;
	  width:auto;
}
.sitenav .mega-dropdown-menu {
    padding: 0px 0px 20px 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.sitenav .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
	
}
.sitenav .mega-dropdown-menu > li > ul > li {
    list-style: none; padding:0px; margin:0px;
}
.sitenav .mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding:3px 20px 3px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #3c3c3c;
}
.sitenav.mega-dropdown-menu > li ul > li > a:hover, .sitenav .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.sitenav .mega-dropdown-menu .dropdown-header {
    color: #262626;
    font-size: 16px;
    font-weight:bold; text-transform:uppercase; margin-top:10px; border-bottom:2px solid #77558b; padding-bottom:5px
}
.sitenav .mega-dropdown-menu form {
    margin:3px 20px;
}
.sitenav .mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}	
	
	
.sitenav .glyphicon	{ top:5px; right:-4px; font-size:12px; }

.pd15{ padding:15px;}
.pd10{ padding:10px;}	
	

.fdcolblc .owl-theme .owl-controls .owl-nav [class*=owl-prev] {
	left: -6px;
}

.fdcolblc .owl-theme .owl-controls .owl-nav [class*=owl-next] {
	right: -6px;
}	
	

/*.techcol [class*="col-"] {
    padding-left: 5px !important;
    padding-right:5px !important;
}

.landphy [class*="col-"] {
    padding-left: 5px !important;
    padding-right:5px !important;
}

.landbilling [class*="col-"] {
    padding-left: 5px !important;
    padding-right:5px !important;
}
*/

[class*="col-"] {
    padding-left: 5px !important;
    padding-right:5px !important;}

#erxListing { height:262px;}

	
.sitenav .dropdown-menu{ width:-moz-max-content!important; width:-webkit-max-content!important;  width:-ms-max-content!important; }	

.subhedding{ font-size:15px; color:#474747; text-transform:uppercase; font-family: 'robotobold'; margin-bottom:10px;}

.optioninp .form-control{ width:92%; display:inline-block; margin-right:5px; border-radius:0px}
.optioninp select.form-control{ width:85%; display:inline-block; margin-right:5px}
.optioninp label{ display:block; font-size:16px; font-weight:normal}

.modal-dialog .bg-primary {
  color: #fff;
  background-color: #1b9e95;
  /*background-color: #337ab7;*/
}

.modal-dialog .modal-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-dialog .close{ color:#fff!important; opacity: 1!important; text-shadow: none; background-color:#ec407a; padding:0 8px 6px 8px; border:1px solid rgba(255,255,255,0.80)}
.modal-dialog .close:hover{ background-color:#158d83;}




.modal-dialog .btn-warning {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; background-color:#57317b; margin-left:5px; border:0px solid #4e1c6b; border-radius:0px;  
}
.modal-dialog .btn-warning:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; 
}
.modal-dialog .btn-warning:hover, .modal-dialog .btn-warning:focus, .modal-dialog .btn-warning:active {
  color: white;
}
.modal-dialog .btn-warning:hover:before, .modal-dialog .btn-warning:focus:before, .modal-dialog .btn-warning:active:before {
  -webkit-transform: scale(1);
  transform: scale(1); border-radius:0px;}



.modal-dialog .btn-success {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; background-color:#3f51b5; margin-left:5px; border:0px solid #4e1c6b; border-radius:0px;  
}
.modal-dialog .btn-success:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d3b89;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; 
}
.modal-dialog .btn-success:hover, .modal-dialog .btn-success:focus, .modal-dialog .btn-success:active {
  color: white;
}
.modal-dialog .btn-success:hover:before, .btn-success .btn-warning:focus:before, .modal-dialog .btn-success:active:before {
  -webkit-transform: scale(1);
  transform: scale(1); border-radius:0px;}




.modal-dialog .btn-close {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; background-color: #FF0004; margin-left:5px; border:0px solid #4e1c6b; color:#fff; border-radius:0px;  
}
.modal-dialog .btn-close:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d3b89;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; 
}
.modal-dialog .btn-close:hover, .modal-dialog .btn-close:focus, .modal-dialog .btn-close:active {
  color: white;
}
.modal-dialog .btn-close:hover:before, .btn-close .btn-warning:focus:before, .modal-dialog .btn-close:active:before {
  -webkit-transform: scale(1);
  transform: scale(1); border-radius:0px;}




.modal-dialog .btn-extra {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; background-color: #8bc34a; margin-left:5px; border:0px solid #4e1c6b; color:#fff; border-radius:0px;  
}
.modal-dialog .btn-extra:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d3b89;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; 
}
.modal-dialog .btn-extra:hover, .modal-dialog .btn-extra:focus, .modal-dialog .btn-extra:active {
  color: white;
}
.modal-dialog .btn-extra:hover:before, .btn-extra .btn-warning:focus:before, .modal-dialog .btn-extra:active:before {
  -webkit-transform: scale(1);
  transform: scale(1); border-radius:0px;}





.stflwicon ul{ padding:0px; margin:5px 0px 0px 0px; list-style:none;}
.stflwicon ul li{ padding:0px; margin:0px 5px ; list-style:none; display:inline-block; }
.imontico{ background-image:url(../images/moniter_icon.png); background-repeat:no-repeat; background-position:center top; height:35px; display:block; padding:35px 18px 0px 18px; }
.imontico:hover{ background-image:url(../images/moniter_icon.png); background-repeat:no-repeat; background-position:center -35px; height:35px; }

.scheduler_icon{ background-image:url(../images/scheduler_icon.png); background-repeat:no-repeat; background-position:center top; height:35px; display:block; padding:35px 15px 0px 15px; }
.scheduler_icon:hover{ background-image:url(../images/scheduler_icon.png); background-repeat:no-repeat; background-position:center -35px; height:35px; }


.ptcont{ position:relative}
.ptcont figure{ position:absolute; background-color:#FF0004; border-radius:35px; color:#fff; text-align:center; width:16px; height:16px; top:0px; right:-4px; font-size:11px; font-weight:700 }
.ptalerts_icon{ background-image:url(../images/ptalerts_icon.png); background-repeat:no-repeat; background-position:center top; height:35px; display:block; padding:35px 15px 0px 15px; }
.ptalerts_icon:hover, .ptalerts_icon.active{ background-image:url(../images/ptalerts_icon.png); background-repeat:no-repeat; background-position:center -35px; height:35px; }


.scanner_icon{ background-image:url(../images/scanner_icon.png); background-repeat:no-repeat; background-position:center top; height:35px; display:block; padding:35px 15px 0px 15px; }
.scanner_icon:hover{ background-image:url(../images/scanner_icon.png); background-repeat:no-repeat; background-position:center -35px; height:35px; }

.print_icon{ background-image:url(../images/print_con.png); background-repeat:no-repeat; background-position:center top; height:35px; display:block; padding:35px 20px 0px 20px; }
.print_icon:hover{ background-image:url(../images/print_con.png); background-repeat:no-repeat; background-position:center -35px; height:35px; }




.multi_download_icon{ background-image:url(../images/multi_download_icon.png); background-repeat:no-repeat; background-position:center top; height:35px; display:block; padding:35px 15px 0px 15px; }
.multi_download_icon:hover{ background-image:url(../images/multi_download_icon.png); background-repeat:no-repeat; background-position:center -35px; height:35px; }


.day_charges{ background-image:url(../images/day_charges.png); background-repeat:no-repeat; background-position:left top; height:35px; display:block; padding:35px 15px 0px 15px; }
.day_charges:hover{ background-image:url(../images/day_charges.png); background-repeat:no-repeat; background-position:left -35px; height:35px; }

#patinentInfomenu > ul{ background-color:#fff; border:1px solid #d3d3d3; border-radius:0px 0px 4px 4px; padding:10px;  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175); margin-top:0px; width: 100%; }




@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
 
/*.sitenav .dropdown-menu{ width:600px;}*/
}
/* Schedule main Page CSS */



.samplegreenbar{ background-color:#673782; min-height:88px; }
.maincontent iframe{ width:100%; border:0px;}
footer{ border-top:3px solid #8bc34a; padding-top:5px; height:50px;}
.ftvertxt{ text-align:right; color:#232323;}

.link_cursor{cursor:pointer !important}

.text_12b_purple{ font-size:12px;color:#9900CC;font-weight:bold; }
.del_val{
	color:#FF0000;
	text-align:left;
	font-size:12px;

}
.padding-top{padding-top:10px;}



.sitenav .dropdown-menu {
		min-width: 200px;
	}
.sitenav .dropdown-menu.columns-2 {
		min-width: 400px;
	}
.sitenav .dropdown-menu.columns-3 {
		min-width: 600px;
	}
	
.sitenav .dropdown-menu .dropdown-header{ font-size:14px; color:#000000; padding:0px 0px 5px 0px; margin:8px 15px 5px 6px; border-bottom:2px solid #673782; font-family: 'robotobold';}	
.sitenav .dropdown-menu ul{ padding:0px; margin:0px; list-style:none}	
.sitenav .dropdown-menu ul li{ padding:0px; margin:0px; list-style:none; line-height:25px;}	
.sitenav .dropdown-menu li a {
		padding: 5px 15px;
		font-weight: 300;
	}
.sitenav .multi-column-dropdown {
		list-style: none;
	}
.sitenav .multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #333;
		white-space: normal;
	}
.sitenav .multi-column-dropdown li a:hover {
		text-decoration: none;
		color: #262626;
		background-color: #f5f5f5;
	}
	
	@media (max-width: 767px) {
.sitenav .dropdown-menu.multi-column {
			min-width: 240px !important;
			overflow-x: hidden;
		}
	}
.hide{display:none}	
#div_alert_notifications {text-align:center; position:absolute; top:83px; z-index:1500; width:100%; color:#333; font-size:13px; display:none;}
#div_alert_notifications .notification_span {width:350px; height:30px; display:inline-block; background:white; padding-top:5px; color:#333;} 