@charset "utf-8";
/* CSS Document */
body { background-color:#FFF !important; }
.patientinfo{ background-color:#fff; border-top:1px solid #e3e3e3; margin-top:15px;  }


.pticon{ background-color:#ff6b6b; padding:3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
.pticon:hover{border-radius: 50%; background-color:#5c2a79}
.pticon2{ background-color:#63d6ff; padding:3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
	
.pticon2:hover{border-radius: 50%; background-color:#5c2a79}	
	
.pticon3{ background-color:#6e6eff; padding:3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
	
.pticon3:hover{border-radius: 50%; background-color:#5c2a79}
	
.pticon4{ background-color:#f76fff; padding:3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
	
.pticon4:hover{border-radius: 50%; background-color:#5c2a79}

.ptinfoheader{ background-color:#4b616c; margin-top:6px}
.ptinfoheader .ptlftdtl{ background-color:#5f727c; min-height:600px;}


.addnewbutton img{ margin-right:5px;}

.adminbox{ border:1px solid #e1e1e1; padding:0px; min-height:235px; margin-bottom:10px;}
.adminbox .headinghd{ padding:0px; margin:0px 0px 10px 0px; display:inline-block; float:left; width:100%  }
.adminbox .headinghd h4{ text-transform:uppercase; font-size:16px; font-family: 'robotobold'; }
.adminbox label{ margin:4px 0px 0px 0px!important; font-size:14px!important;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.adminbox h3{ font-size:14px; color:#6c6c6c; margin:0px 0px 10px 0px; padding:0px; text-transform:uppercase; font-weight:bold }
.adminbox .input-group-addon {padding: 0px 7px !important;}
.adminbox .tblBg { padding: 0 10px 10px 10px; }
.margin-top-5 { margin-top:5px !important}
.margin-top-10 { margin-top:10px !important}
.margin-top-20 { margin-top:20px !important}
.margin-bottom-20 { margin-bottom:20px !important}
.clickable{ background:transparent; color:rgba(139,195,74,1) !important; text-decoration:none; font-weight:bold; font-size:13px; }
.sub-heading { font-weight:600; font-family:robotobold; font-size:14px;}
.icon-add-more { background: url(../images/add_but.png) no-repeat left; background-size: contain;  margin-right:10px; cursor:pointer; width:20px; height:35px; display:inline-block; }
.add-more-icon-white { background:white url(../images/addinput.png) no-repeat left; background-size: contain; margin-right:10px; cursor:pointer; width:25px; height:25px; border-radius:50%;}
.icon-close { background:url(../images/close1.png) no-repeat left; background-size: contain; cursor:pointer; display:inline-block; width:20px;  margin-right:10px; }
.alternate { background:#EFEFEF !important;} 
#btPatScanDo { height:32px !important; vertical-align:middle; }
/* Main Demographics */
.wthbox{
	background-color:#ffffff; border-radius:2px;
	-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 1px 0.2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 1px 0.2px rgba(0,0,0,0.1); 
	margin:30px 0px; position:relative; padding:25px	}

.wthbox1{
	background-color:#ffffff; border-radius:2px;
	-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 1px 0.2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 1px 0.2px rgba(0,0,0,0.1); 
	margin:10px 0px 20px 0px; 
	position:relative; 
	padding:10px	}

.subtab .nav-tabs {
    border-bottom: 0px solid #ddd; margin-bottom:40px;
}

.subtab .nav-tabs > li.active > a,
.subtab .nav-tabs > li.active > a:hover,
.subtab .nav-tabs > li.active > a:focus {
  color: #585858;
  cursor: default;
  background-color: inherit;
  border-bottom: 2px solid #673782; border-top:0px; border-right:0px; border-left:0px; position:relative

}


.subtab .nav-tabs > li.active > a:after ,
.subtab .nav-tabs > li.active > a:hover:after,
.subtab .nav-tabs > li.active > a:focus:after { position:absolute; content:url(../images/downpoint.png); bottom:-13px; left:40%;}


.subtab .nav > li > a:hover, .subtab .nav > li > a:focus {
  background-color: inherit;
  border-bottom: 2px solid #673782; border-top:0px; border-right:0px; border-left:0px; position:relative

}

.subtab .nav > li > a:hover:after, .subtab .nav > li > a:focus:after { position:absolute; content:url(../images/downpoint.png); bottom:-13px; left:40%;}


.subtab .nav-tabs > li > a {
    border-top: 0px solid transparent!important;
	border-right: 0px solid transparent!important;
	border-left: 0px solid transparent!important;
    border-radius: 0!important;
    line-height: inherit!important;
    margin-right: 0px!important; color:#585858
}

.subtab .nav > li {
    display: block;
    padding: 0 40px 0 0px;
    position: relative;
}

.butngroup { position:relative; padding-right:50px}
.butngroup .btn {font-size: 16px; padding: 9px 17px;}

.butngroup .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #000; position:relative
}


.butngroup .btn-default:hover:after{ position:absolute; bottom:-6px; content:url(../images/checkmark1.png); right:0px; }
.butngroup .btn-default.active:after{ position:absolute; bottom:-6px; content:url(../images/checkmark1.png); right:0px; }
.inxbut{ background-color:#673782; display: inline-block; position:absolute; right:0px; top:0px; border-radius:4px; color:#fff; padding:5px 10px; font-weight:bold; line-height:16px}
.inxbut:hover{ background-color:#8bc34a; color:#fff; cursor:pointer}
.headinghd{ padding:0px 0px 15px 0px; margin-bottom:15px;}
.headinghd h2{ padding:0px 0px 10px 0px; margin:0px; font-weight:normal; font-size:36px; position: relative; display:inline}

.formlabel label{ padding:0px; margin:0px 0px 5px 0px; font-weight:normal; font-size:16px;}

.formlabel .input-group-addon {
    background-color: #f8f8f8;
    color: #818181;
    font-size: 21px;
    padding: 4px 7px;
}


.formlabel .form-control { border: 1px solid #d7d7d7;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555; height:40px
}

.formlabel .input-group-addon {
    border-radius: 0!important;
}

.grythead{ background-color: #727272!important; color:#FFFFFF; font-size:16px; font-weight:bold}

.darkpurlgbut{ background-color:#5c2a79; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #481666}
.darkpurlgbut:hover{ background-color:#481666; color:#fff; }

.lightgreenlgbut{ background-color:#8bc34a; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #689e2a}
.lightgreenlgbut:hover{ background-color:#689e2a; color:#fff; }


.dblugreenlgbut{ background-color:#329e9c; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #1b7b79}
.dblugreenlgbut:hover{ background-color:#1b7b79; color:#fff; }

.lightpurlgbut{ background-color:#6d5cae; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #481666}
.lightpurlgbut:hover{ background-color:#481666; color:#fff; }


.colorpicker{ background-image:url(../images/colorpicker.png); background-repeat:no-repeat; background-position:center; width:22px; height:30px; display:block}

.multiselect .btn{ border-radius:0px; height:38px}


a{ color:#333; text-decoration:none}
a:hover{ color:#673782; text-decoration: underline}

.adminbox{ border:1px solid #e1e1e1; padding:0px; min-height:280px; margin-bottom:10px;}
.adminbox .headinghd{ padding:0px; margin:0px 0px 10px 0px;  }
.adminbox .headinghd h4{ text-transform:uppercase; font-size:16px; font-family: 'robotobold'; }

.adminbox label{ margin:4px 0px 0px 0px!important; font-size:14px!important;  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.adminbox h3{ font-size:14px; color:#6c6c6c; margin:0px 0px 10px 0px; padding:0px; text-transform:uppercase; font-weight:bold }
.zcode .form-control { width:43%!important;}
.adctst .form-control { width:100%!important} 
.adminbox .input-group-addon {padding: 0px 7px!important;}
.admlog .radio-inline, .admlog .checkbox-inline{ padding-left:20px!important; }
.admlog ul{ padding:0px; margin:20px 0px 10px 0px ; list-style:none }
.admlog ul li{ padding:0px; margin:0px 12px; list-style:none; display:inline-block } 
.admlog .control { position:relative; padding:0px 0px 0px 30px; line-height:25px;}

#scanner { top:0px; position:absolute; z-index:-1; vertical-align:top; }
.pttopbut a { margin-right:5px;}
.mt3 { margin-top:3px; }
.bgColorBox{width:30px; height:10px; display:inline-block;}

@media (min-width: 1200px) {

	}

@media (min-width: 768px) and (max-width: 991px) {
	.subtab .nav > li { display: block; padding: 0 24px 0 0px; position: relative; }
}


@media (min-width: 992px) and (max-width: 1199px) {
	.subtab .nav-tabs { border-bottom: 0 solid #ddd; margin-bottom: 15px; text-align:center }
	.nav > li > a { font-size: 18px; }
	.subtab .nav > li {display: inline-block;}
	.nav-tabs > li { float: none; margin-bottom: -1px; }
}
/* use to represent physician, facility etc colors*/


.pagenation_alpha, .pagenation_num { text-align:center;	 }
.pagenation_alpha a
{
	padding:5px 8px;
	font-weight:bold;
	margin:3px;
	background:#CCC;
	border:#999 1px solid
}

.pagenation_num .num_cnt {
	padding:5px 8px;
	font-weight:bold;
	margin:3px;
	background:#CCC;
	border:#999 1px solid;
	cursor:pointer
}


/* Internal Demographics*/
.patientinfo{ background-color:#fff; border-top:1px solid #e3e3e3; margin-top:15px;  }
.pticon{ background-color:#ff6b6b; padding:0px 3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
.pticon:hover{border-radius: 50%; background-color:#5c2a79}
.pticon2{ background-color:#63d6ff; padding:0px 3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
	
.pticon2:hover{border-radius: 50%; background-color:#5c2a79}	
	
.pticon3{ background-color:#6e6eff; padding:0px 3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
	
.pticon3:hover{border-radius: 50%; background-color:#5c2a79}
	
.pticon4{ background-color:#f76fff; padding:0px 3px!important; text-align:center; transition-property: width, border-radius, background-color;
	transition-duration: 1s, 2s, 5s;
	transition-timing-function:  ease, ease-out, linear; }
	
.pticon4:hover{border-radius: 50%; background-color:#5c2a79}

.addnewbutton img{ margin-right:5px; position:absolute; top:4px; left:5px}


.grid-20 { width:20%; max-width:20%; min-width:20%; position:relative; padding-left:5px; padding-right:5px;}
.grid-80 { width:80%; max-width:80%; min-width:80%; position:relative; padding-left:5px; padding-right:5px;}
.grid-30 { width:30%; max-width:30%; min-width:30%; position:relative; padding-left:5px; padding-right:5px;}
.grid-70 { width:70%; max-width:70%; min-width:70%; position:relative; padding-left:5px; padding-right:5px;}
figure { display:inline-block;}
.form-inline .checkbox label { padding-left:10px; font-size:14px !important; }
.form-inline .checkbox { margin-left:5px;}

.section-header { font-family: 'robotolight'; padding: 0; margin: 10px 0px 15px 0px; text-transform:capitalize; font-size: 24px; font-weight: normal; color: #616161; border-bottom:1px solid #EEE; }
.section-header label { padding-left:5px;}

/* .form-control { height:30px !important; padding:3px 6px; border-color:#DDD; } */
/* .btn { border-radius:0px !important; height:30px !important; padding:3px 6px ; } */
.bootstrap-select.form-control{ padding:0px;}
.padding_0 { padding:0px !important; }
/*.paddingH_6 { padding-left:6px !important; padding-right:6px !important; }*/
.border-radius-0 { border-radius:0px !important; }
.font_20 { font-size:24px !important;}
.form-inline .form-control { max-width:100% !important;  }
.release-table td { padding:3px 6px !important; }
label { margin-bottom:0px; margin-top:5px; }
.ptinfoheader label { color:white; font-family:robotolight; font-weight:normal; font-size:12px !important }
.ptinfoheader label.input-group-addon { color:#333 !important; } 
.ptinfoheader .adminbox { min-height:240px; margin-bottom:0px;}
.ptinfoheader .adminbox .headinghd h4 { font-family: 'robotolight'; font-size: 14px;}

.light-bg { background-color: rgba(255,255,255,0.07);}
.notes { background-color:#5bc0de/*#38a3ed*/; margin-top:10px;  }
.notes h4{ color:#FFF; font-size:18px; font-family: 'robotobold'; padding:0px; margin:0px 0px 10px 0px; text-transform:uppercase}
.add-more-icon { background: url(../images/add_but.png) no-repeat left; background-size: contain;  margin-right:10px; margin-top: -4px; cursor:pointer; width:30px; height:35px; }
.add-more-icon-white { background:white url(../images/add_but.png) no-repeat left; background-size: contain; margin-top:3px;margin-right:10px; cursor:pointer; width:24px; height:25px; border-radius:50%;}
.close-icon { background:url(../images/closerd.png) no-repeat left; background-size: contain; cursor:pointer; display:inline-block; width:15px;  margin-right:10px; }
.notes .headinghd,
.light-bg .headinghd
{ 
	border-bottom-color:rgba(255,255,255,0.1);
	border-bottom-style:solid;
	border-bottom-width:thin; 
	margin:0px !important;
}
.light-bg .headinghd h4 { margin-top:4px;}

label.create-reg-by { font-weight:500; font-size:15px !important; white-space:nowrap;}

.last-eligibility { display: inline-block; border-right: 1px solid #88639d; padding: 6px 10px; margin: 0px; font-family: 'robotolight'; color:white; font-size:1.2em; background-color:#673782; font-weight:500; width:100%; white-space:nowrap}

.last-eligibility > a { position: relative; z-index: 1; text-decoration: none; padding:0 10px; color:white; font-size:1.7em }

.last-eligibility:hover { transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1); }
.last-elig-data { min-height:58px;}
.last-elig-data div { height:58px; border-right:1px solid rgba(0,0,0,0.1); white-space:nowrap}

.white-bg { background-color:#FFF !important;}
.white-bg > label { color:#333 !important; }
.white-text { color:white !important;} 
.no-border { border:0px; border-color:transparent; border-style:none;}
.activation-key{ background:transparent; color:rgba(139,195,74,1) !important; text-decoration:none; font-weight:bold; font-size:13px; }
.border-solid-white { border:solid 1px white; padding:2px 6px; cursor:pointer; width:100%; text-align:center  }
label.border-dashed-white{ font-size:12px !important}
.red-font { color:#ff6b6b !important;}
.red-txt {color:#ff6b6b; font-weight:bold; font-size:16px; } 
label.red-bg { font-size:12px !important; font-weight:400; background-color:#ff6b6b;  margin-top:3px; display:block; padding:3px;}
.margin-top-10 { margin-top:10px !important;}
		
.profile-img-grid { padding-top: 6px; padding-bottom:6px; text-align:center; position:relative;  }
.profile-img-grid img { width:100%; height: auto; max-height:100%; max-width:100%; }

.vcenter {  display:flex; align-items:center; }
.width-150 { width:150px !important;}

.abs-bottom-grid { position:absolute; background-color: rgba(139,195,74,0.4); bottom:6px; right:0; color:white; width:100%; height:28px;}
.purple-text { color:#9900CC !important;}
.green-text { color:green; font-weight:500;}
.red-text { color:red !important; font-weight:500;}

.emerg-choice
{
	color:white;
	text-align:center;
	font-family:robotolight;
	font-weight:500; font-size:13px !important;
	padding:10px;
	border-bottom: solid 1px rgba(255,255,255,0.1);
	border-right: solid 1px rgba(255,255,255,0.1);
}
.emerg-choice a { text-decoration:none; color:white !important; white-space:nowrap; }
.emerg-choice a span {color:white !important; height:30px; min-height:30px; margin-bottom:5px; display:block;}
.emerg-choice a span img { max-height:30px; height:30px;}

.capture-circle {
	/*width:99px; border-radius:50%;
	height:99px;*/
	padding:0px;
	/*background:rgba(255,255,255,0.2);*/
	position:absolute;
	text-align:center;
	bottom:-10px;left:5px;
	cursor:pointer;
}

.capture-circle .icon-circle {
	width:60px; background-color:transparent; position:relative;
	background-image:url(../images/upload.png);
	background-repeat:no-repeat;
	background-position:center;
	height: 60px;
  border-radius: 50%;
}

.license-grid { background:white; padding:3px; min-height:70px; margin:10px 0; cursor:pointer; }
.license-grid  span { position:relative; height:70px; display:block;  }
.license-grid span img { width:100%; height:70px; border:0; }
.license-grid .layer { position:absolute; top:0; left:0; width:100%;  text-align:center; height:100%; display:none; background:rgba(0,0,0,0.8) url(../images/search-hover.png) no-repeat center; }
.license-grid:hover .layer { display:block;}

.ptlab label{ font-weight:normal!important; font-size:14px!important; margin-top:0px;}

.ptoptions{ text-align:right; margin-top:10px!important;}
.margin-top-20 { margin-top:20px !important;}
.family-grid { background:#FFF; display:inline-block;}
.alternate { background:#EFEFEF !important;} 


/* id="emergencyContact" Modal -> demographics_modal.php */
#emergencyContact { top: 15%; right: 60%;}

#ageBox { white-space:nowrap; padding:3px;  }

.ptlab ul{ padding:0px; margin:0px; list-style:none}
.ptlab ul li{ padding:0px; margin:0px 20px 0px 0px; list-style:none; display:inline-block}
.ptlab ul li:first-child{ margin:-4px 30px 0px 0px;}

.ptlab .dropdown-menu li{ display:block; width:100%;}

.bootstrap-select.btn-group .dropdown-toggle .caret { right:7px;}
.ptinfoheader .control__indicator{ top:0px !important; height:20px!important; width:20px!important;}
.ptinfoheader .btn:not(.dropdown-toggle){ height:24px!important; border:0px;}
.ptinfoheader .control--checkbox .control__indicator::after {
    height: 12px;
    left: 6px;
}

.procont{ background-color:#1b9e95}
.pttopbut{ text-align:right; margin-top:5px;}
.elegbox{ margin:10px 5px}

.elegbox [class*="col-"] { padding:0px!important; margin:0px!important;}

.ptinfobx .headinghd{ border-bottom:2px solid #ff6b6b; padding:0px; margin:0px;}

.ptinfobx .headinghd h4{ color:#FFF; padding:0px 0px 4px 0px; margin:0px 0px 4px 0px; font-family: 'robotobold'; text-transform:uppercase}

.emerg-choice{ overflow:hidden; text-overflow:ellipsis; white-space: nowrap}

.gnrtacti label.control{ display:inline!important; margin-bottom:0px!important; }

.gnrtacti label{margin-bottom:0px!important; margin-left:10px;	 }
.gnrtacti .control__indicator{ top:-3px}
#refer_div label{ margin-top:0px;}

.allcomunica .headinghd{ padding:4px;}
.allcomunica .headinghd h4 label{ font-size:18px; color:#FFF; font-family: 'robotobold'; text-transform:uppercase;}
.allzip .form-control{ width:47.80%; display:inline-block}


.pttopbut .control.control--checkbox {
    overflow: visible;
}

.pttopbut .control__indicator {top: 2px !important;}
.plr5{ padding:0px 5px}

#div_all_addresses .addr_body .css-label{ margin:10px 0px!important}
.notes textarea.notetxtara{ height:65px!important}

#reminderChoice > .row { min-height:190px; }
#rel_select_picker {position:absolute;}
#rel_select_picker .dropdown-menu { right:0; left:auto;}
.input-group-btn { font-size:inherit; }
#rel_table_parent { max-height:255px;}
#div_all_addresses { max-height:288px; overflow:hidden; overflow-y:auto;}
#search_resp_party_result { right:-35%;}
#search_patient_result { right:20%;}
#search_resp_party_result .modal-body,
#search_physician_result .modal-body,#search_patient_result .modal-body 
{ min-height:380px; max-height:380px; overflow:hidden; overflow-y:auto;}
#search_resp_party_result .modal-body a,
#search_physician_result .modal-body a,#search_patient_result .modal-body a 
{cursor:pointer; text-decoration:none;}
#ptImageDiv { height:245px; }
#ptImageDiv img { height:245px;}
@media (min-width: 1320px) and (max-width: 1440px) {
	#ageBox { font-size:13px !important;}
}

#patient_family_table
{
	max-height:330px;
	overflow:hidden;
	overflow-y:auto;
}

.physician_del, .physician_add { cursor:pointer; }

.ptinfoheader .head { color:#FFFFFF;}