@charset "utf-8";
/* CSS Document */
.popcont { position:relative; padding:0px 10px 0px 50px; margin: 0px; font-family: 'robotolight';  }
.popcont figure {
    background-color: #FFFFFF; /*#ede7f0;*/
    font-size: 12px;
    left: 0;
    padding: 5px 2px;
    position: absolute;
    top: 0;
}
.popover {max-width:400px;}


#popover-content-logout > * {
  background-color:#ff0000 !important;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?d3mq1q');
  src:  url('../fonts/icomoon.eot?d3mq1q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?d3mq1q') format('truetype'),
    url('../fonts/icomoon.woff?d3mq1q') format('woff'),
    url('../fonts/icomoon.svg?d3mq1q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'popup';
  src:  url('../fonts/popup.eot?hn0l55');
  src:  url('../fonts/popup.eot?hn0l55#iefix') format('embedded-opentype'),
    url('../fonts/popup.ttf?hn0l55') format('truetype'),
    url('../fonts/popup.woff?hn0l55') format('woff'),
    url('../fonts/popup.svg?hn0l55#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-folder-filled:before {
  content: "\e901";
  color:#008000;
  font-size: 23px;
  font-weight: bold;
}
.icon-add:before {
  content: "\e900";
	color:#737373; font-size: 14px;  font-weight: bold
}
.icon-folder:before {
  content: "\e901";
  /*color:#673782;*/
  font-size: 23px;
  color:#92c755;
	
}
.icon-folderopen:before {
  content: "\e902";
  color:#673782;
	font-size: 23px;
}
.icon-substract:before {
  content: "\e903";
  color:#ff0000; font-size: 14px; font-weight: bold 
}
.icon-scanner:before {
  content: "\e904";
  color:#ffffff; font-size: 14px; font-weight: bold;
}

.icon-popup-item{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'popup' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-popup-item:before {
  content: "\e900";
	color:#673782; font-size: 14px;font-weight:599;
}

.tree_link{ font-size: 14px!important; font-family: 'robotolight'; font-weight: normal!important }
.tree_link strong{ font-weight:normal}
.tree_link .active{ color:#673782}
.tree_link .active strong{ font-weight:bold; color:#673782}
.active{ color:#673782;font-weight:bold;}
.active strong{ font-weight:bold; color:#673782}

.popbox{ text-align:right}
.popover.fade.bottom.in {
    left: inherit!important;
    right: 0!important;
}

/* Start css for popup infomation for Print saved Consent Forms and Packages */
#dhtmlgoodies_topNodes ul li ul li .popupdrop {    
	background-color: #fff;position:absolute;z-index:999999999!important;
	 -webkit-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27); padding: 0px; left: 5px
}
#dhtmlgoodies_topNodes li > .tree_link:first-child{ color:#673782}
#dhtmlgoodies_topNodes li > .tree_link strong:first-child{ font-weight:bold; color:#673782}
#dhtmlgoodies_topNodes li .active{ color:#673782;font-weight:bold!important;}
#dhtmlgoodies_topNodes ul li ul li { z-index: 999!important; }
/* End css for popup infomation for Print saved Consent Forms and Packages */

/* Start css for popup infomation for Print Packages without Save*/
#dhtmlgoodies_topNodes ul li .popupdrop {    
	background-color: #fff;position:absolute;z-index:999999999!important;
	-webkit-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27); padding: 0px; left: 5px
}
#dhtmlgoodies_topNodes ul li { z-index: 999!important; }
/* End css for Print Packages without Save*/



#dhtmlgoodies_topNodes1 ul li ul li .popupdrop {    
	background-color: #fff;position:absolute;z-index:999999999!important;
	 -webkit-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27); padding: 0px; left: 5px
}
#dhtmlgoodies_topNodes1 ul li ul li { z-index: 999!important; }
#dhtmlgoodies_topNodes1 ul li .popupdrop {    
	background-color: #fff;position:absolute;z-index:999999999!important;
	-webkit-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27); padding: 0px; left: 5px
}
#dhtmlgoodies_topNodes1 ul li { z-index: 999!important; }

#dhtmlgoodies_topNodes2 ul li ul li .popupdrop {    
	background-color: #fff;position:absolute;z-index:999999999!important;
	 -webkit-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27); padding: 0px; left: 5px
}
#dhtmlgoodies_topNodes2 ul li ul li { z-index: 999!important; }
#dhtmlgoodies_topNodes2 ul li .popupdrop {    
	background-color: #fff;position:absolute;z-index:999999999!important;
	-webkit-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27);
	box-shadow: 0px -1px 9px 1px rgba(0,0,0,0.27); padding: 0px; left: 5px
}
#dhtmlgoodies_topNodes2 ul li { z-index: 999!important; }


.consentObjectAfterSign{ border:solid 1px; border-color:#99CC33; }
.consentObjectBeforSign{ border:solid 1px; border-color:#FF9900}


/* #dhtmlgoodies_tree li > .popupdrop{ display: none} 
#dhtmlgoodies_tree li :hover > .popupdrop{ display: block; } 

#dhtmlgoodies_tree li > .popupdrop{ display: none} 
#dhtmlgoodies_tree li i:hover + .popupdrop{ display: block; } 
*/

