/*
// Under MIT License
// Distribute, Modify and Contribute under MIT License.
// Use of Software under MIT License.
*/
/*
File: epost.css
Coded in PHP7
Purpose: This file provides style for Epost.
Access Type : Include file
*/
/* epost.css */
.epost{z-index:1000;position:fixed; background-color:#FFFF99;text-align:left;}
.epost label{background-color:#BCD2B0; font-weight:bold;padding:5px 25px 5px 5px; }
.epost label.frcb{padding:1px;background-color:transparent;}
/*.epost span{position:absolute;right:4px; top:0px;}*/
.epost textarea{overflow:hidden; background-color:#FFFF99;width:100%;height:80px;min-width:200px;margin-left:5px;margin-right:5px;}
.epost br{clear:left;}


