.imedmont{ background-color:#ffffff; border-radius:2px;-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); padding:10px; margin:5px}

.monitorbox{ background-color:#ffffff; border-radius:2px;-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); padding:10px; margin:5px 0px}
.monitorbox table{ margin-bottom:0px;} 

.monitorbox td{ vertical-align:middle!important} 

.monittop{ border-bottom:1px solid #d8d8d8; margin-bottom:10px; padding-bottom:10px;}
.listhd{ border-bottom:1px solid #d8d8d8; margin-bottom:10px; padding-bottom:10px; position:relative}
.listhd h2{ font-size:18px; padding:0px; margin:0px; font-family: 'robotobold'; text-transform:uppercase}
.listhd figure{ position:absolute; top:-5px; right:0px;}
.monittop .form-control{ border-radius:0px; width:150px!important;}
.monittop label{ font-weight:normal; font-size:16px;}

.filtbut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #3f51b5;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; font-size:16px; padding:6px 15px; text-transform:uppercase
}
.filtbut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.filtbut:hover, .filtbut:focus, .filtbut:active {
  color: white;
}
.filtbut:hover:before, .filtbut:focus:before, .filtbut:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}



.addbut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #8bc34a;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; font-size:16px; padding:6px 15px; text-transform:uppercase
}
.addbut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3f51b5;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.addbut:hover, .addbut:focus, .addbut:active {
  color: white;
}
.addbut:hover:before, .addbut:focus:before, .addbut:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}



.closebut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #ff0000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; font-size:16px; padding:6px 15px; text-transform:uppercase
}
.closebut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.closebut:hover, .closebut:focus, .closebut:active {
  color: white;
}
.closebut:hover:before, .closebut:focus:before, .closebut:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


.montdate{ font-size:16px; padding:0px; text-align:center; line-height:35px;}
.latnws{ background-color:#673782; padding:5px;}
.latnws marquee{ color:#fff; font-size:16px;} 

.priobut { border-radius:2px; border:0px; background-color:#00cc00; color:#FFFFFF; padding:4px 8px; }
.montvewbut { border-radius:2px; border:0px; background-color:#673782; color:#FFFFFF; padding:4px 8px; }


@media (min-width: 768px) and (max-width: 991px) {

.monittop .form-control {width: 145px !important;}
.montdate{ text-align:right}
.flbutmt{ margin:10px 0px}


}
	
@media (min-width: 992px) and (max-width: 1199px) {
.monittop .form-control {width: 116px !important;}	
.montdate {font-size: 14px;}
.monittop label {font-size: 14px;}
.filtbut{ font-size:14px;}
.addbut{ font-size:14px;}
.closebut{ font-size:14px;}
	
}
	
@media (min-width: 1200px) {

  .ptcontmain > .row { display: table; width:100% }
  .ptcontmain > .row > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
	
}