@charset "utf-8";
/* CSS Document */
img{ max-width:100%; height:auto}

p{ padding:0px; margin:10px 0px; font-size:14px; color:#000000}
body{ margin:0px; padding:0px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px}
.wapper{ width:700px; margin:0px auto}
.clear{ clear:both}

h1{ padding:0px; margin:10px 0px; font-size:35px; color:#329e9c; text-align:center; font-weight:600}
h2{ padding:0px; margin:10px 0px; font-size:28px; color:#329e9c;  font-weight:600}
h3{ padding:0px; margin:10px 0px; font-size:22px; color:#713d81;  font-weight:600}
.breadcum{ padding:0px; margin:0px; font-size:16px; color:#713d81;  font-weight:600}

.txthigh{font-size:14px; color:#329e9c;  font-weight:600}

.application ul { padding:0px; margin:0px; list-style:none}
.application ul li { position:relative; padding:20px 0px 10px 90px; margin:15px 0px; line-height:50px}
.application ul li figure{ position:absolute; left:-40px; top:0px;}
.mt60{ margin-top:60px;}
.fl{ float:left}
.systhd{ width:500px; text-align:center}
.mtb30{ margin:30px 0px}

.bluhigh{ color:#329e9c; font-weight:bold}

.listicon ul{ padding:0px; margin:0px; list-style:none}
.listicon ul li{ padding:0px 0px 0px 20px; margin:0px; list-style:none; background-image:url(../../library/images/isticon.jpg); background-repeat:no-repeat; background-position:left; line-height:30px;}