@charset "utf-8";
/* CSS Document */

header {border-bottom: 2px solid #012778!important;}
.usersection {
    background-color: #012778!important;
    border-bottom: 2px solid #012778!important;
}

.elacc .actpagname {background-color: #3f51b5!important;}
.username {
    background-color: #ffbb28!important;
    border-left: 1px solid #ff9801!important;
    border-right: 1px solid #ff9801!important;
}

.btn-primary {
    background-color: #00c49e!important;
    border-color: #00c49e!important;
}
#search_patient .btn {background-color: #3b3b3b!important; border-color: #3b3b3b !important;}

#search_patient .tsearch {background-color: #ff9700!important; border-bottom: 1px solid #ff9700!important;}

.demotop {
    background-color:#ff9801!important;
    border-bottom: 1px solid #e48903!important;
}

.btn-success {
    background-color: #fe9903!important;
    border-color: #fe9903!important;
}

.btn-primary {background-color:#01c5a1!important; border-color: #01c5a1!important;}
.morinfo {background-color: #ffdc90!important;}

.pancolr > .panel-heading { background-color: #ffc658 !important;}

.pancolr {
    background-color: #ffe5b4 !important;
}

.head { color: #242621!important;}

.unfinhead {background-color: #3b3b3b !important;}

.loguser h2 {color: #000!important;}

.filterbatchfile {background-color: #fe9903;}

.filterbatchfile .searchbut{ background-color:#3b3b3b!important; color:#FFF!important}
.purple_bar{background-color:#012778!important;}
#uploadFile{ background-color:transparent!important; border:0px!important; box-shadow:none}

.filterbatchfile { background-color: #fe9903!important;}
.filterbatchfile > button .btn{ background-color:#3b3b3b!important; color:#fff!important}

.adminmenu .nav-tabs > li > a:hover {
    border-radius: 0px;
    background-color: #ff9801!important;
    color: #fff!important;
}

.adminmenu .nav-tabs > li.active > a, .adminmenu .nav-tabs > li.active > a:focus, .adminmenu .nav-tabs > li.active > a:hover{ border-radius:0px; border:0px; background-color:#ff9801!important; color:#fff }

.sitenav .navbar-default .navbar-nav > li > a::before {background-color: #ff9801!important;}

.adsubmenu ul li a:hover {
    color: #012778!important;
    text-decoration: none;
}

.modal-dialog .bg-primary {
    color: #fff;
    background-color: #fe9903!important;
}

.modal-dialog .close {background-color: #505050!important;}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {  background: #ff9801 !important; border:1px solid #ff9801 !important;}
.num_cnt.selected { background-color:transparent!important}

.green_bg {
    background-color:#012778!important;
    color: #FFF;
}

.physihd { background-color: #012778!important;}

.physform .btn-primary {
    background-color: #3b3b3b !important;
    border-color: #3b3b3b !important;
}

#homeDropDownSCH .tsearch { background-color: #ff9700!important; border-bottom: 1px solid #ce7b03!important;}
.elacc{ background-color:transparent!important}

.messi-titlebox{background-color: #fe9903!important;}
.messi-closebtn{background-color: #505050!important;}
.adminbox .headinghd { border-bottom: 2px solid #fe9903!important;}
.sitenav .dropdown-menu .dropdown-header { border-bottom: 2px solid #fe9903!important;}

.tsearch .glyphicon { top: 2px; right: 0px;}

.insurcase {
    background-color: #353535!important;
    padding: 5px;
}

.topheader .glyphicon { top: 2px; right: 3px;}


.adminnw tr:hover{ background-color:#fdf4c3!important; cursor:pointer}
.adminnw thead tr th:nth-child(1){ border-bottom:2px solid #154890!important;}
.adminnw thead tr th:nth-child(2){ border-bottom:2px solid #ff542e!important;}
.adminnw thead tr th:nth-child(3){ border-bottom:2px solid #e1d4c0!important;}
.adminnw thead tr th:nth-child(4){ border-bottom:2px solid #6699ff!important;}
.adminnw thead tr th:nth-child(5){ border-bottom:2px solid #ff6600!important;}
.adminnw thead tr th:nth-child(6){ border-bottom:2px solid #663300!important;}
.adminnw thead tr th:nth-child(7){ border-bottom:2px solid #ff6600!important;}
.adminnw thead tr th:nth-child(8){ border-bottom:2px solid #ffd800!important;}
.adminnw thead tr th:nth-child(9){ border-bottom:2px solid #34dddd!important;}
.adminnw thead tr th:nth-child(10){ border-bottom:2px solid #c1d208!important;}
.adminnw thead tr th:nth-child(11){ border-bottom:2px solid #d01a54!important;}
.adminnw thead tr th:nth-child(12){ border-bottom:2px solid #663399!important;}
.adminnw thead tr th:nth-child(12){ border-bottom:2px solid #3399ff!important;}
.adminnw thead tr th:nth-child(14){ border-bottom:2px solid #54d33e!important;}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 3px!important;
}

.btn-info {

    background-color: #154890!important;
    border-color: #154890!important;
}
.divider { margin:5px 0px!important}
.sitenav .mega-dropdown-menu > li > ul{ padding-bottom:4px!important}

.col-sm-6 ul li.dropdown-header { margin: 8px 15px 5px 0px!important;}
.navbar-nav {
    float: inherit!important;
    margin: 0 auto!important;
    width: 60%!important;
}

.loginpage{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002878+0,285fcc+100 */
background: #002878; /* Old browsers */
background: -moz-linear-gradient(-45deg, #011e57 0%, #002878 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #011e57 0%,#002878 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #011e57 0%,#002878 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011e57', endColorstr='#002878',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ padding:60px 20px 0px 20px;
}

.logindate{ color:#000}
.loginaccount h2{ color:#002878}
.signinbut { background-color: #dd8602;}
.loginlogo h1{ color:#002878}
.loginform input:focus ~ label, .loginform input:valid ~ label { color:#002878;}
.loginicon{ background-image:url(../images/imwloginicon.png); width:100px; height:100px; display:block; margin:0px auto 20px auto; background-repeat:no-repeat}