/*
 The MIT License (MIT)
 Distribute, Modify and Contribute under MIT License
 Use this software under MIT License
*/
@charset "utf-8";
/* CSS Document */
#div_loading_image{
	position:absolute;
	left:500px;
	top:75px;
	z-index:3000;
	min-width:300px;
	width:auto;
	color:#346585;
	height:200px;
	/*background:transparent url(../images/ajax-loader-new.gif) center no-repeat;*/
	display:none;
}

select::-ms-expand {
    display: none;
}

/*******************************************************************/
/* physician after login
/*******************************************************************/





.tablcont .phyrow { min-height:53px; padding:5px 10px; position:relative}

.tablcont .phyrow:nth-child(odd) {
    background: #fafafa;
}

.tablcont .phyrow:hover{ background-color:#def0ef; cursor:pointer}
.phyrow strong{ font-size:16px;}
.tablcont .phyrow .followbutton{ position:absolute; top:25px; right:15px;}
.folwbut{ background-color:#449d44; border-radius:3px; color:#fff; text-transform:uppercase; padding:5px 15px; text-decoration:none}
.folwbut:hover{ text-decoration:none}
.mesgopt{ position:absolute; top:0px; right:25px;}

.checkpatient .tophead{ background-color: #79568d!important; color:#FFFFFF; font-size:14px; font-weight:bold}
.scccbg{ background-color:#67467a; padding:5px 10px}
.checkpatient td{vertical-align: inherit!important; font-size:16px}
.checkpatient .od{ background-color:#151fff; border-radius:4px; margin-bottom:3px }
.checkpatient .od ul{ padding:0px; margin:0px; list-style:none}
.checkpatient .od ul li{ margin:0px; list-style:none; display:inline-block; color:#fff; padding:4px; font-size:14px; text-overflow: ellipsis;
overflow: hidden;}
.checkpatient .od ul li:first-child{ background-color:#0008c4; border-radius:5px 0px 0px 5px; font-weight:bold}
.checkpatient .od .sc{ width:60px; text-align:center}

.checkpatient .os{ background-color:#0abc30; border-radius:4px; margin-bottom:3px }
.checkpatient .os ul{ padding:0px; margin:0px; list-style:none}
.checkpatient .os ul li{ margin:0px; list-style:none; display:inline-block; color:#fff; padding:4px; font-size:14px; text-overflow: ellipsis;
overflow: hidden;}
.checkpatient .os ul li:first-child{ background-color:#089927; border-radius:5px 0px 0px 5px; font-weight:bold}
.checkpatient .os .sc{ width:60px; text-align:center}
.scccbg .sect{ width:48%; text-align:center; display:inline-block; color:#FFF!important}
.iop .sect{ width:48%; text-align:center; display:inline-block!important}

.todorow{ position:relative; padding-left:30px;}
.todorow figure{ position:absolute; left:0px; top:5px;} 
.todorow figure input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px; border: 1px solid #369;}

/*.whitebox .table {
    margin-bottom: 20px;
    max-width:2400px !important;
    width: 1800px;
}*/

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

/***************************** end of Physician landing page **************************************/

/*******************************************************************/
/* Technician after login
/*******************************************************************/

.erx h2{ font-size:25px; color:#000; padding:0px 0px 0px 40px; margin:0px 0px 3px 0px;}
.erx h2 span{ font-size:16px; color:#a0a0a0; display:block} 

.approvedbut{ background-color:#40a509; padding:5px 8px; margin:0px; color:#fff; font-size:14px; border-radius:3px; border:0px; }
.referalbut{background-color:#ff6b6b; padding:5px 8px; margin:0px; color:#fff; font-size:14px; border-radius:3px; border:0px;}
.appointsum h3{ padding:0px; margin:0px 0px 10px 0px; font-size:22px;} 

.avgwaitin h3 { font-size:22px; color:#000000; border-top:1px solid #e3e3e3; padding:10px 0px 0px 0px  ; margin:10px 0px 10px 0px;}
.procbar{ font-size:0px; text-align:center; margin-bottom:10px;}
.procbar span{ color:#fff; font-size:14px; display: block}
.procbar .timeproc{ background-color:#5290e9; padding:10px; color:#fff; font-size:20px; width:69.20%; display: inline-block }
.procbar .physproc{ background-color:#62ab6e; padding:10px; color:#fff; font-size:20px; width:30%; display: inline-block }

.procindica{ text-align:center; position:relative; font-size:14px} 
.procindica img{ margin-right:5px; margin-top:-5px} 

.appointsum .owl-theme .owl-controls { 
    bottom: -49px;
    left: 0;
    margin: auto 13px;
    position: absolute;
    right: 0;
    text-align: left;
    top: inherit;
}

.appointsum .owl-controls .owl-nav {
    position: relative;
    top: inherit;
}	

.appointsum { min-height:420px}



.unfinhead{ background-color:#79568d!important; font-size:16px; color:#fff}
.tablcont .control {
    cursor: pointer;
    display: inline;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 30px;
    position: relative;
}

.tablcont td{ font-size:13px}

/***************************** end of Technician landing page **************************************/

/*******************************************************************/
/* Billing after login
/*******************************************************************/

.patiname{ color:#ff6b6b}
.todchargbox{ background-color:#ffffff; border-radius:2px;-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); padding:0px; margin-bottom:30px; position:relative}
.todaycharges{ background-color:#40a509; display:block; text-align:center; padding:30px 0px}
.todaycharges h2{ font-size:30px; color:#fff; padding:0px; margin:10px 0px 0px 0px ; display:block}
.totalpayment { position:relative; padding-left:0px; margin-top:10px; margin-bottom:5px; padding-bottom:10px; text-align:center; border-bottom:1px solid #C7C7C7 }
.totalpayment:last-child {border-bottom:0px solid #C7C7C7 }
.totalpayment figure { position: inherit; margin-bottom:10px;}
.totalpayment figure img{ width:65px; height:auto}
.totalpayment h3{ font-size:36px; color:#000000; padding:0px; margin:0px;}
.totalpayment h3 span{ font-size:20px; color:#656565; display:block}
.eratr{ background-color:#f6f6f6; font-size:16px; text-transform:uppercase}
.reportsum{ font-size:16px; color: #ABABAB}
.colltable h3{ font-size:20px; color:#656565; padding:0px; margin:0px 0px 15px 0px ; text-transform:uppercase; font-weight:bold}
.colltable h3 span.facility {
    background-color: #79568d;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 3px 10px; font-weight:normal
}
.colltable h3 span.prepaymen {
    background-color: #40a509;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 3px 10px; font-weight:normal
}

.tabtotal{ background-color:#009688!important; color:#fff; text-transform:uppercase}
.operttotla{ background-color:#ff6b6b!important; color:#fff!important}
.operttotla2{ background-color:#fff!important; color:#000!important}

.tcharg{ min-height:413px;}

.toprejection .scroll-content{ height:100px;}

.fdcolblc .owl-theme .owl-controls .owl-nav [class*=owl-prev]{left: -6px;}
.fdcolblc .owl-theme .owl-controls .owl-nav [class*=owl-next]{right: -6px;}
#erxListing { height:264px;}
.unread{font-weight: bold}
.read{font-weight: 100}

/***************************** end of Billing landing page **************************************/