/*
 The MIT License (MIT)
 Distribute, Modify and Contribute under MIT License
 Use this software under MIT License
*/
@charset "utf-8";
/* CSS Document */
#div_loading_image{
	position:absolute;
	left:500px;
	top:75px;
	z-index:3000;
	min-width:300px;
	width:auto;
	color:#346585;
	height:200px;
	background:transparent url(../images/ajax-loader-new.gif) center no-repeat;
	display:none;
}

select::-ms-expand {
    display: none;
}
/*Login Page Css Start */

.loginpage{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b2c7a+0,329e9c+100 */
background: #5b2c7a; /* Old browsers */
background: -moz-linear-gradient(left,  #5b2c7a 0%, #329e9c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #5b2c7a 0%,#329e9c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #5b2c7a 0%,#329e9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2c7a', endColorstr='#329e9c',GradientType=1 ); /* IE6-9 */ padding:60px 20px 0px 20px;
}

.mainlogbx{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  width: 80%;}
.loginmid{ background-color:#FFFFFF;  }
.loginmid .row{display: table; width:100%}
.loginmid .row [class*="col-"]{float: none; display: table-cell;	vertical-align: top;					}

.loginwelcome{ background-image:url(../images/loginwelc.jpg); background-repeat:no-repeat; background-size:cover; height:670px; padding:30px; position:relative; background-position:center top}
.logindate{font-size:16px; color:#57317b; text-align:right}
.loginlogo{ position:absolute; width:100%; top: 68%;left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -80%); text-align:center} 
.loginlogo h1{ display:block; padding:0px; margin:30px 0px; font-size:40px; color:#57317b; font-weight:normal; font-family: 'robotothin';}

.loginlogo .loginlogo{text-align:center !important;}
.loginlogo img{max-height:300px; max-width:100%;}

.loginaccount{ padding:50px 0px 20px 0px}
.loginaccount h2{ font-weight:normal; font-size:50px; display:block; padding:0px; margin:10px 0px 10px 0px;font-family: 'robotothin'; color:#57317b}

.loginform{ margin:0px auto ; width:80%; }

/* form starting stylings ------------------------------- */
.loginform .group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.loginform input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:2px solid #e5e5e5;
}
.loginform input:focus 		{ outline:none; }

/* LABEL ======================================= */
.loginform label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all; text-transform:uppercase
}

/* active state */
.loginform input:focus ~ label, .loginform input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#57317b;
}

.loginicon{ background-image:url(../images/loginicon.png); width:100px; height:100px; display:block; margin:0px auto 20px auto; background-repeat:no-repeat}
/* BOTTOM BARS ================================= */
.loginform .bar 	{ position:relative; display:block; width:100%; }
.loginform .bar:before, .loginform .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#57317b; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.loginform .bar:before {
  left:50%;
}
.loginform .bar:after {
  right:50%; 
}

/* active state */
.loginform input:focus ~ .bar:before, .loginform input:focus ~ .bar:after {
 width:50%;
}

/* HIGHLIGHTER ================================== */
.loginform .highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.loginform input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#57317b; }
  to 	{ width:100%; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#57317b; }
  to 	{ width:100%; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#57317b; }
  to 	{ width:100%; background:transparent; }
}




.facility{ position:relative}
.facility span{ font-size:18px; text-transform:uppercase; color:#999; padding-bottom:3px; display:block; }
.facility span.plain-select{ padding-bottom:15px}
.facility select.form-control {
    background-color: #fff;
    background-image: none;
    border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	border-left: 0px solid #ccc;
	border-bottom: 2px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    color: #36363;
    display: block;
    font-size: 30px;
    height: 45px;
    line-height: 1.42857;
    padding: 3px 12px 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.plain-select  {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    width:100%;
}
.plain-select select {
    line-height:normal;
    height:50px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width:100%;
    border-radius:0px;
    display:block;
    width:100%;
    border-top:0px solid #c8c8c8;
	border-right:0px solid #c8c8c8;
	border-left:0px solid #c8c8c8;
	border-bottom:2px solid #c8c8c8;
    background:#fff url(../images/downarrow.png) no-repeat right  0 0;
    color:#9f9f9f;
    padding:8px 20px 7px 0px;
    margin:0;
    line-height:normal;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.ie8 .plain-select select{padding-right:3px}
.plain-select select:focus {
	background-color:transparent;
    outline:none;
   
    border-color:#00c0f3;
}
.plain-select ::-ms-expand {
 display:none;
}
.plain-select:after{
    content:"";
    position:absolute;
    z-index:2;
    right:8px;
    top:50%;
    margin-top:-3px;
    height:0;
    width:0;
    border-top:6px solid #f99300;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
}


.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; 
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #57317b;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1); border-radius:3px
}

.signinbut{ background-color:#59bdb8; border-radius:3px; border:0px; padding:12px 35px; color:#FFFFFF; font-size:16px; font-weight:bold; text-transform:uppercase}

.lognote{ font-size:16px; text-align:center; margin-top:50px;}
.lognote span{ color:#FF0004; font-weight:bold}

.copytxt{ font-size:16px; color:#fff; text-align:center; padding:20px 0px}
.copytxt a{ color:#fff; text-decoration:none}
.copytxt a:hover{ color:#fff; text-decoration: underline}

#bsCaptchaOut .bsDraggable { background-color:#57317b; border-radius:50px; width:64px; height:64px; display:inline-block; line-height:64px; color:#fff}
#bsTargetSpan .icon-arrow-down{ color:#57317b; font-size:16px;}
#bsTargetSpan #bsCaptchaError{ font-size:16px; text-transform:uppercase; padding:0px 15px;}

#captchaModal .modal-header{ background-color:#59bdb8}
.lead{ color:#fff; font-size:22px;}
#bsHeader kbd{ background-color:#30A800}
.alert-danger{ background-color:#f6f6f6}
.image_con img {
    max-width: 80%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0px auto;
}

/*Login Page Css End */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.mainlogbx{position:relative; left: 0%; top:0%; bottom:-20%;  transform: none;  width: 80%; margin:0 auto}
.loginmid .row [class*='col-']{ float:left!important}
/*.loginwelcome{ height:590px;}*/
.logindate{ font-size:14px}
.lognote{ margin-top:10px;}
.loginaccount h2{ font-size:40px;}
.loginpage{ padding: 3%  0px }
.copytxt{ padding:5px 0px }
}

@media (max-width: 767px) {
.loginmid .row{display: inherit; width:100%}
.loginmid .row [class*="col-"]{float: none; display: block;	vertical-align: top;}
.loginwelcome{ margin-left:10px;}
.loginaccount h2{ font-size:22px;}
.logindate{ font-size:14px; text-align:center}
.logoara{ text-align:center}
.mainlogbx{position: inherit; left: 0;  top: 0;  transform: translate(0%, 0%);  width: 100%;}
}



@media (min-width: 768px) and (max-width: 991px) {
	
.loginwelcome > .row{display: inherit; width:100%}
.loginwelcome > .row [class*="col-"]{float: none; display: block;	vertical-align: top;}	
.logoara{ text-align:center}
.loginaccount h2{ font-size:30px;}
}

/*********** One mve logo start **************/
.one_mve_logo {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: left;
    bottom: 0;
}
.one_mve_logo img {
    max-width: 80%;
}
@media(max-width:991px)
{
	.one_mve_logo img {
		width:230px;
	}
}
/********** One mve logo end **************/