@charset "utf-8";
/* CSS Document */

.btn { padding:2px 6px;} 
.btn.dropdown-toggle { padding-right:10px;}
.bootstrap-select.btn-group .dropdown-toggle .caret { right:6px;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {width:95%;}
/* Demographics CSS */
label{ font-weight:normal !important;  margin-bottom:0px; font-size:14px;}
.demotop{ background-color:#efefef; border-bottom:1px solid #d0d0d0;}
.demotop img { height:20px;}
.demotop .form-group{ margin-right:2px;}

.morinfo{ background-color:#f1f8e9; border-right:1px solid #e3e3e3; padding:10px; text-align:center } 
.morinfo img{ background-color:#fff; border:1px solid #BCBCBC; padding:5px;}
.previmg{ border:1px solid #ACACAC; padding:5px; text-align:center; color:#747474; margin-top:10px; line-height:50px; max-height:90px; height:75px; overflow:hidden; position:relative; }
.previmg img { width:auto; max-height:70px; }
.pdlr15{ padding:0px 15px}

.demobox{ background-color:#fff; border:1px solid #e9e9e9; min-height:479px}
.demobox .accordion .panel-heading { padding: 0; font-weight:normal}
.demobox .accordion .panel-title > a { display: block; padding: 0.4em 0.6em; outline: none; font-weight:normal; text-decoration: none; font-size:13px; }
.demobox .accordion .panel-title{ position:relative}
.demobox input[type="radio"]{ position:inherit}
.demobox .accordion .panel-title > a:hover{ background-color:#ccc; color:#333}
.demobox .accordion .panel-title > a.accordion-toggle::before,
.demobox .accordion a[data-toggle="collapse"]::before  {
    content:"\e113"; float: left; font-family: 'Glyphicons Halflings'; margin-right :1em; }
.demobox .accordion .panel-title > a.accordion-toggle.collapsed::before,
.demobox .accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114"; }
.demobox .panel-group .panel + .panel{ margin-top:0px}
.demobox figure{ position:absolute; top:4px; right:10px;}
.demobox .panel-body{ padding:0px;}
.pancolr{ background-color:#e6f2d7!important}
.pancolr > .panel-heading{ background-color:#e6f2d7!important}
.ptport{ position:absolute; top:0px; right:0px;}
#div_all_addresses { max-height:208px; overflow:hidden; overflow-y:auto;}
.input-group-btn.btn, input-group-btn.btn-xs{ 
border-top-left-radius:0px !important; border-bottom-left-radius:0px !important;}
.input-group-btn.btn-primary { color:white; margin-bottom:0;}
.text-right label {text-align:left;}
#patient_family_table{ max-height:281px; overflow:hidden; overflow-y:auto; }
.family-grid { background:#FFF; display:inline-block;}
.alternate { background:#EFEFEF !important;}
#search_resp_party_result .modal-body,
#search_physician_result .modal-body,
#search_patient_result .modal-body 
{ min-height:380px; max-height:380px; overflow:hidden; overflow-y:auto;}

#search_resp_party_result .modal-body a,
#search_physician_result .modal-body a,
#search_patient_result .modal-body a 
{cursor:pointer; text-decoration:none;}
.previmg .layer { position:absolute; top:0; left:0; width:100%;  text-align:center; height:100%; display:none; background:rgba(0,0,0,0.8) url(../images/search-hover.png) no-repeat center; cursor:pointer; }
.previmg:hover .layer { display:block;} 
#ptImageDiv img { max-height:105px;}
/* Demographice Page Css End 31-7-2017 */



/* Patient Info Insurance Page Css Start */

.insurcase{ background-color:#2e4b76; padding:5px;}
.inshead{ border-bottom:1px solid rgba(255,255,255,0.20); padding-bottom:10px ; margin-bottom:10px;}
.inshead h2{ padding:8px 0px 8px 44px; margin:0px; font-size:22px; color:#fff; position:relative}
.inshead h2 figure{ position:absolute; left:0px; top:0px; }

.insurcase label{ font-size:14px; color:#fff; text-transform:uppercase; font-weight:normal; font-family:robotobold} 
.insurcase .form-control{ border:1px solid #0f2c57; border-radius:0px;}
.insurcase .input-group-addon {
    background-color: #ffa000;
    border: 1px solid #0f2c57; border-left:0px;
    border-radius: 0;
    color: #000;
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
    padding: 1px 5px;
    text-align: center;
}

.insurcase .form-group{ margin-bottom:5px;} 
.insurcase .status select.form-control{ width:150px;}
.accordion-content .actnbar{ background-color:#f9f9f9; border-bottom:1px solid #d4d4d4; padding:10px; margin-bottom:5px;}

.accordion-content .actnbar ul{ padding:0px; margin:0px; list-style:none; text-align:right}
.accordion-content .actnbar ul li{ padding:0px; margin:0px; list-style:none; display:inline-block; vertical-align:middle}





.newbut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #12c7b7;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; padding:5px 20px 5px 20px; font-size:16px; border-radius:25px; 
}
.newbut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; border-radius:25px;   
}
.newbut:hover, .newbut:focus, .newbut:active {
  color: white;
}
.newbut:hover:before, .newbut:focus:before, .newbut:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}



.deletebut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #6d5cae;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; padding:5px 20px 5px 20px; font-size:16px; border-radius:25px; 
}
.deletebut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; border-radius:25px;   
}
.deletebut:hover, .deletebut:focus, .deletebut:active {
  color: white;
}
.deletebut:hover:before, .deletebut:focus:before, .deletebut:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}




.closebut {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #f55753;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; border:0px; color:#fff; padding:5px 20px 5px 20px; font-size:16px; border-radius:25px; 
}
.closebut:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8bc34a;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; border-radius:25px;   
}
.closebut:hover, .closebut:focus, .closebut:active {
  color: white;
}
.closebut:hover:before, .closebut:focus:before, .closebut:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


.accordion dt { border:1px solid #d4d4d4; border-bottom:0px}

.accordion dd {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em; margin-bottom:15px; border:1px solid #d4d4d4; border-top:0px;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;

}

.accordion-box {
 
}

.accordionTitle {
  background-color: #fff;
  text-align: left;
  padding: 9px 12px 9px 65px;
  display: block;
  text-decoration: none;
  color: #737373;
  -webkit-transition: background-color 0.5s ease-in-out;
          transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #d4d4d4; position:relative; font-size:18px; font-weight:normal 
}

.accordionTitle:before{ position:absolute; content:url(../images/acrd_lft.png); top:0px; left:0px; width:60px; height:49px;}


.accordionTitle:after {
  content: "+";
  font-size: 1.5em;
  line-height: 22px;
  float: right;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}


.accordionTitle:hover {
  background-color: #d3d3d3; color:#000000; text-decoration:none
}
.accordionTitle:hover:before{ position:absolute; content:url(../images/acrd_lfth.png); top:0px; left:0px; width:60px; height:49px;}

.accordionTitleActive,
.accordionTitle.is-expanded {
  color:#000000
}

.accordionTitle.is-expanded:before {
  position:absolute; content:url(../images/acrd_lfth.png); top:0px; left:0px; width:60px; height:49px;
}

.accordionTitleActive:after,
.accordionTitle.is-expanded:after {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  /*max-height: 50em;*/
  -webkit-transition: max-height 1s;
          transition: max-height 1s;
}
/*@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -webkit-transition: max-height 0.5s;
            transition: max-height 0.5s;
  }
}*/

.accordionItemCollapsed,
.accordionItem.is-collapsed {
  max-height: 0;
}


.realtime_icon{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:0 0; display:block; height:41px; padding:0px 21px;  }
.realtime_icon:hover{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:0 -41px;}

.preautho{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-42px 0; display:block;  height:40px; padding:0px 20px;  }
.preautho:hover{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-42px -41px;}

.opencase{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-84px 0; display:block; height:40px; padding:0px 20px;  }
.opencase:hover{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-84px -41px;}

.pcopy{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-126px 0; display:block; height:40px; padding:0px 20px;  }
.pcopy:hover{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-126px -41px;}

.irearrenge{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-168px 0; display:block;  height:40px; padding:0px 20px;  }
.irearrenge:hover{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-168px -41px;}

.iscani{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-210px 0; display:block;  height:40px; padding:0px 20px;  }
.iscani:hover{ background-image:url(../images/insuriconflt.png); background-repeat:no-repeat; background-position:-210px -41px;}

.insuvalid .form-control{ border-radius:0px; width:180px; margin:0px 4px; }

.inscasesect{ padding:10px 20px }

.inscasesect > div > .col-sm-4 > div{ border:1px solid #d4d4d4; min-height:372px;}

.insurancehd{ border-bottom:2px solid #2e4b76; padding:9px 15px 0px 8px; margin-bottom:5px; min-height:50px}
.insurancehd2{ border-bottom:2px solid #ff6b6b; padding:13px 15px 17px 8px; margin-bottom:5px;}
.insurancehd3{ border-bottom:2px solid #6e6eff; padding:14px 15px 16px 8px;  margin-bottom:5px;}
.inscasesect h2{ font-size:16px; padding:0px; margin:0px; font-family:robotobold; text-transform:uppercase}
.insurancehd span{ position:absolute; right:14px; top:14px;}

.insurancehd h2{ line-height:31px}

.inscasesect .form-control{ border-radius:0px; margin:0px; padding:6px 4px;}
.inscasesect  label{ font-weight:normal}
.inscasesect .form-group{ margin-bottom:4px;}

.inscasesect [class*="col-"] {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.inscasesect .row {
    padding-left: -4px !important;
    padding-right: -4px !important;
}

.plr5{ padding:0px 5px}

.policholdchk .control { display:inline-block; font-size:14px; margin-bottom:10px;}

.inscasesect textarea.form-control{ height:60px;}

/* Patient Info Insurance Page Css End */
.checkbox input[type="checkbox"][name="pt_disable"] + label::before{top:-2px!important}
.bg-light{background-color: #e6f2d7;}

.ptport{margin-right:5px;}
.ptport .radio label{display: revert!important; width:63px!important}

.allcomunication .head label{display:list-item!important}

#div_address1 .head label{display:list-item!important}
.popover-content {padding:5px 0px!important; float:left; }
.popover { min-width:350px!important;max-width:350px!important;}
.popover-title{ color: #fff; background-color: #1b9e95; border-bottom: 1px solid #3e647e; }