@charset "utf-8";
/* CSS Document */


.editrec h2{ padding:5px 0px 0px 45px!important; position:relative}
.editrec h2 figure{ position:absolute; top:0px; left:0px;}
.recbox{ border:1px solid #e1e1e1; margin-bottom:10px; }
.recbox .head{ border-bottom:2px solid #ff6b6b; padding:10px; margin-bottom:10px; }
.recbox .head h2{ padding:0px; margin:0px; color:#616161; text-transform:uppercase; font-size:20px; font-weight:normal; font-family: 'robotobold'; }


.ptrecord ul{ padding:0px; margin:0px 0px 15px 0px; list-style:none}
.ptrecord ul li{ padding:0px; margin:0px 0px 10px 0px; list-style:none; line-height:20px; font-size:14px; color: #999}
.ptrecord ul li label{ font-size:14px; font-weight:normal}

.ptrecord .control__indicator {
    height: 18px;
    width: 18px;
}

.ptrecord .control--checkbox .control__indicator::after {
    height: 11px;
    left: 4px;
    width: 7px;
}

.ptrecord .control {padding-left: 25px; margin-bottom:0px}

.conltr select.form-control{ width:120px;}