/*CALENDAR*/
div#month_1{ 
	position:relative; 
	overflow:hidden;	
	width:100%; 
	height:8px; 
	z-index:100	
}
div#month_2{ 
	position:absolute; 
	left:0px; top:0px; 
	width:100%; height:8px; 	
	overflow:hidden;
	border:0px solid #000000;
	z-index:1; 
}
div#month_3{ 
	position:absolute; 	
	left:0px; top:0px; 
	z-index:1; 
}

div#month_11{ 
	position:relative; overflow:hidden;
	
	width:100%; height:8px; z-index:100	
}
div#month_12{ 
	position:absolute; 
	left:0px; top:0px; 
	width:100%; height:200px; 	
	overflow:hidden;
	border:0px solid #000000;
	z-index:1; 
}
div#month_13{ 
	position:absolute; 	
	left:0px; top:0px; 
	z-index:1; 
}	 

div#month_1_physician{ 
	position:relative; overflow:hidden;
	left:0px; top:0px; 
	width:100%;  height:11px; z-index:100;	
}
div#month_2_physician{ 
	position:relative; 
	left:0px; top:0px; 
	width:100%;  height:11px; 	
	overflow:hidden;
	z-index:100; 
}
div#month_3_physician{ 
	position:relative; 	
	left:0px; top:0px; 
	z-index:100; 
}			
 
div#month_11_physician{ 
	position:relative;
	overflow:hidden;
	width:100%;
	 height:10px; 
	 left:0px; top:0px; 
	 z-index:500	
}
div#month_12_physician{ 
	position:absolute; 
	left:0px; top:0px; 
	width:100%; height:10px; 	
	overflow:hidden;
	left:0px; top:0px; 
	border:0px solid #000000;
	z-index:1; 
}
div#month_13_physician{ 
	position:absolute; 	
	left:0px; top:0px; 
	
	z-index:1; 
}

/*MAIN*/
.a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#9900CC;
	font-style:normal;
}
.a:hover{
	font-weight:bold;
	font-size:12px;
	color:#0000FF;
}