@charset "utf-8";

/* CSS Document */

.ptglance{ border-bottom:1px solid #e5e5e5; margin-bottom:10px}
.ptglance h2{ position:relative; font-size:34px; padding:5px 0px 15px 45px;; margin:0px;}
.ptglance h2 figure{ position:absolute; left:0px; top:0px;}

.ptlsthd h2{ position:relative; font-size:24px; padding:5px 0px 15px 45px;; margin:0px; color:#3d3d3d}
.ptlsthd h2 figure{ position:absolute; left:0px; top:3px;}

.medhscont{ background-color:#f6faf1; padding:10px;}
.vispaging label{ font-weight:normal}
.vispaging select.form-control{ width:150px;}

.pagin ul{ padding:0px; margin:0px; list-style:none; text-align:right}	
.pagin ul li{ display:inline-block; padding:0px; margin:0px 5px;}
.pagin .nxtprev{ border:0px; background-color:transparent}
.pagin .nxtprev .fa{ font-size:20px; color:#6F6F6F}
.pagin ul li a { color:#333; font-size:14px;}