/* CSS Document for checkbox removal from tests */
.noshow_checkbox label{
	cursor:pointer;
	text-align:left;
	border:1.5px solid transparent;
}

.noshow_checkbox input[type=checkbox],.noshow_checkbox input[type=radio]{
	display:none;
}

.noshow_checkbox input[type=checkbox]:checked + label, .noshow_checkbox input[type=radio]:checked + label{
	cursor:pointer;
	/*font-size:110%;*/
	font-weight:bold;
	padding:0px 1px;
	border:1.5px solid #6081aa; border-radius:3px;
	background-image: -ms-linear-gradient(top, #fff 0%, #efefef 100%);	/* IE10+ */ 
	background-image: -moz-linear-gradient(top, #fff 0%, #efefef 100%);	/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #fff 0%, #efefef 100%);	/* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100, #efefef));/*Webkit (Safari/Chrome 10)*/
	background-image: -webkit-linear-gradient(top, #fff 0%, #efefef 100%);/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #fff 0%, #efefef 100%); /* W3C Markup */
}

/*--id LESS SOLUTION---<label><input type="checkbox" name="one123" value="+1" /><span class="label_txt"> +1</span></label>-----*/
.noshow_checkbox label .label_txt{
	padding: 0px 5px 0px 0px;
}
.noshow_checkbox label input[type=checkbox]:checked  + .label_txt, .noshow_checkbox label input[type=radio]:checked  + .label_txt{
	cursor:pointer;
	/*font-size:110%;*/
	font-weight:bold;
	padding:0px 1px;
	border:1.5px solid #6081aa; border-radius:3px;
	background-image: -ms-linear-gradient(top, #fff 0%, #efefef 100%);	/* IE10+ */ 
	background-image: -moz-linear-gradient(top, #fff 0%, #efefef 100%);	/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #fff 0%, #efefef 100%);	/* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100, #efefef));/*Webkit (Safari/Chrome 10)*/
	background-image: -webkit-linear-gradient(top, #fff 0%, #efefef 100%);/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #fff 0%, #efefef 100%); /* W3C Markup */
}