@charset "utf-8";
/* CSS Document */

.wthbox{
	background-color:#ffffff; border-radius:2px;-webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 1px 0.2px rgba(0,0,0,0.1);
box-shadow: 0px 2px 1px 0.2px rgba(0,0,0,0.1); margin:30px 0px; position:relative; padding:25px	}


.subtab .nav-tabs {
    border-bottom: 0px solid #ddd; margin-bottom:40px;
}

.subtab .nav-tabs > li.active > a,
.subtab .nav-tabs > li.active > a:hover,
.subtab .nav-tabs > li.active > a:focus {
  color: #585858;
  cursor: default;
  background-color: inherit;
  border-bottom: 2px solid #673782; border-top:0px; border-right:0px; border-left:0px; position:relative

}


.subtab .nav-tabs > li.active > a:after ,
.subtab .nav-tabs > li.active > a:hover:after,
.subtab .nav-tabs > li.active > a:focus:after { position:absolute; content:url(../img/downpoint.png); bottom:-17px; left:40%;}


.subtab .nav > li > a:hover, .subtab .nav > li > a:focus {
  background-color: inherit;
  border-bottom: 2px solid #673782; border-top:0px; border-right:0px; border-left:0px; position:relative

}

.subtab .nav > li > a:hover:after, .subtab .nav > li > a:focus:after { position:absolute; content:url(../img/downpoint.png); bottom:-17px; left:40%;}


.subtab .nav-tabs > li > a {
    border-top: 0px solid transparent!important;
	border-right: 0px solid transparent!important;
	border-left: 0px solid transparent!important;
    border-radius: 0!important;
    line-height: inherit!important;
    margin-right: 0px!important; color:#585858
}

.subtab .nav > li {
    display: block;
    padding: 0 40px 0 0px;
    position: relative;
}

.butngroup { position:relative; padding-right:50px}
.butngroup .btn {font-size: 16px; padding: 9px 17px;}

.butngroup .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #000; position:relative
}


.butngroup .btn-default:hover:after{ position:absolute; bottom:-6px; content:url(../img/checkmark1.png); right:0px; }
.butngroup .btn-default.active:after{ position:absolute; bottom:-6px; content:url(../img/checkmark1.png); right:0px; }
.inxbut{ background-color:#673782; display: inline-block; position:absolute; right:0px; top:0px; border-radius:4px; color:#fff; padding:5px 10px; font-weight:bold; line-height:16px}
.inxbut:hover{ background-color:#8bc34a; color:#fff; cursor:pointer}
.headinghd{ border-bottom:1px solid #c7c7c7; padding:0px 0px 15px 0px; margin-bottom:15px;}
.headinghd h2{ padding:0px 0px 10px 0px; margin:0px; font-weight:normal; font-size:36px; position: relative; border-bottom:1px solid #bb252b; display:inline}

.formlabel label{ padding:0px; margin:0px 0px 5px 0px; font-weight:normal; font-size:16px;}

.formlabel .input-group-addon {
    background-color: #eee;
    color: #818181;
    font-size: 21px;
    padding: 4px 7px;
}


.formlabel .form-control { border: 1px solid #d7d7d7;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555; height:40px
}

.formlabel .input-group-addon {
    border-radius: 0!important;
}

.grythead{ background-color: #727272!important; color:#FFFFFF; font-size:16px; font-weight:bold}

.darkpurlgbut{ background-color:#5c2a79; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #481666}
.darkpurlgbut:hover{ background-color:#481666; color:#fff; }

.lightgreenlgbut{ background-color:#8bc34a; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #689e2a}
.lightgreenlgbut:hover{ background-color:#689e2a; color:#fff; }


.dblugreenlgbut{ background-color:#329e9c; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #1b7b79}
.dblugreenlgbut:hover{ background-color:#1b7b79; color:#fff; }

.lightpurlgbut{ background-color:#6d5cae; color:#fff; font-size:18px; padding:8px 20px; border-bottom:1px solid #481666}
.lightpurlgbut:hover{ background-color:#481666; color:#fff; }

.colorpicker{ background-image:url(../img/colorpicker.png); background-repeat:no-repeat; background-position:center; width:22px; height:30px; display:block}

.multiselect .btn{ border-radius:0px; height:38px}


a{ color:#333; text-decoration:none}
a:hover{ color:#673782; text-decoration: underline}


@media (min-width: 1200px) {
	
table.scroll {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}



tbody td, thead th {
    width:8%!important; /* Optional */
    
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
	}

@media (min-width: 768px) and (max-width: 991px) {

.subtab .nav > li {
    display: block;
    padding: 0 24px 0 0px;
    position: relative;
}

}