/*
// Under MIT License
// Distribute, Modify and Contribute under MIT License.
// Use of Software under MIT License.
*/
/*
File: simpletree.css
Coded in PHP7
Purpose: This file provides style for navigational tree in scans
Access Type : Include file
*/
.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0px;
padding: 0px;
margin-left:0px;
padding-left: 10px;

}

.treeview li {
    list-style-type: none;
    padding-left: 35px;
    padding-bottom: 2px;
    margin-bottom: 6px;
    margin-top: 6px;
}
.treeview li.sub_li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
list-style-type: none;
padding-left: 5px;}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */ /* close_fold_empty.png */
background: white url(../images/close_fold_new.png) no-repeat left 1px; 	
cursor: hand !important;
cursor: pointer !important;
}

.treeview li.submenu2{ /* Style for LI that contains sub lists (other ULs). */
background: white url(../images/close_fold_filled.png) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}

.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}
.black{
text-decoration:none;
color:#000000;
}
.black:hover{
text-decoration:underline;
color:#000000;
}

.pdf-icon { margin-right: 5px;}
