@charset "utf-8";
/* CSS Document */
.blue_color{color:#0000FF; font-weight:bold;}
.green_color{color:#008000; font-weight:bold;}
.backgroundLightGray{background-color:#ddd;}
#main_tests_list{margin:50px 0px 0px 100px;}
#main_tests_list .list_item{border-bottom:2px solid #F00; background-color:#fff; margin:5px 10px 5px 10px; padding:5px 0px 5px 20px !important; border-radius:10px 30px 0px; color:#333; font-weight:bold;}
.topbar{ background-color:#ffffff; -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); padding:10px; margin-bottom:12px}
.topbar label{ font-weight:normal}
.topbar .form-control{ border-radius:0px;  width:60%;}
.topbar .input-group-addon{ border-radius:0px;}
.topbar select.minimal {
  background-image: url(../images/selectarrow.png); background-repeat:no-repeat; background-position:90% 14px;
  background-size:inherit;}

.topbar select.minimal:focus {
  background-image:url(../images/selectup.png); background-repeat:no-repeat;
  border-color:#6d5cae;
  outline: 0;
}

.topbar button{ border-radius:100px; height:35px; width:35px; padding:0px; background-color:#fbfbfb}
.topbar button:hover{ background-color:#12c7b7; color:#FFF; border:1px solid #12c7b7}
.topbar select{ width:105px!important;}
.topbar h2{ padding:0px; margin:0px;}
.topbar .input-group {width: 70%;}
.mrlft{ background-color:#3f51b5; margin-bottom:10px; text-align:center; color:#FFF; padding-right:5px;}
.mrrht{ background-color:#8bc34a; margin-bottom:10px; text-align:center; color:#FFF; padding-right:5px;}
.mrlft span{ background-color:rgba(255,255,255,0.20); padding:5px; display:block; color:#FFF; text-align:center; height:76px; line-height:66px; font-weight:bold}
.mrlft .form-control{ border-radius:0px; height:28px; border:0px; box-shadow:none}

.mrrht span{ background-color:rgba(255,255,255,0.20); padding:5px; display:block; color:#FFF; text-align:center; height:76px; line-height:66px; font-weight:bold}
.mrrht .form-control{ border-radius:0px; height:28px; border:0px; box-shadow:none}


.testsctbx{ background-color:#ffffff; -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); margin-bottom:12px; padding-bottom:0px;}

.tstthead { border-bottom:1px solid #d8d8d8; min-height:42px; margin-bottom:10px;}
.tstflt{ position:relative; }
.tstflt .odbox{ background-color:#3f51b5; position:absolute; left:5px; top:0px; padding:9px 7px; color:#fff; font-size:16px; font-weight:bold }
.tstflt .odbox:after{ position:absolute; right: -13px; top: 16%; content:url(../images/bluepoint.png); }
.tstflt .osbox{ background-color:#8bc34a; position:absolute; left:5px; top:0px; padding:9px 7px; color:#fff; font-size:16px; font-weight:bold }
.tstflt .osbox:after{ position:absolute; right: -13px; top: 16%; content:url(../images/greenpnt.png); }
.testsctbx .form-control{ border-radius:0px; margin-bottom:5px; padding:6px 2px }
.tstflt .form-group{ margin-top:4px; margin-right:5px}
.tstflt select.form-control{ width:140px;}
.testsctbx label{ line-height:30px; text-align:right}
.input-group .form-control{ margin-bottom:0px;}
.testsctbxpd{ padding:0px 4px;} 
.kloption .form-control{ border-radius:0px; width:41%!important }
.tsttbl{ margin:10px 0px 0px 0px}
.tsttbl .toptr{ background-color:#696969!important; color:#fff}

.performedBy .col-sm-2{ width:20%!important}
.iolbox{ background-color:#3f51b5; padding:10px; color:#fff; font-size:16px; text-transform:uppercase; font-weight:bold; margin-top:5px; line-height: 30px}
.osiolbox{ background-color:#8bc34a; padding:10px; color:#fff; font-size:16px; text-transform:uppercase; font-weight:bold; margin-top:5px; line-height: 30px}
.tstschlft{ background-color:#3f51b5; color:#fff; font-size:16px;}
.tstschrht{ background-color:#8bc34a; color:#fff; font-size:16px;}

.plntabl .btn-default{ border-radius:0px; border:1px solid #673782; margin:5px 0px}

.odphyname{ background-color:#3f51b5; padding:5px; font-size:18px; color:#fff; text-align:center; font-weight:bold}
.osphyname{ background-color:#8bc34a; padding:5px; font-size:18px; color:#fff; text-align:center; font-weight:bold}
.mt5{ margin-top:5px;}

.vesopt .form-group{ margin-bottom:4px;}
.plntabl .btn{ padding:0px 5px}

.supperbill{ background-color:#ffffff; -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); margin-bottom:12px; padding:0px; margin:10px 0px; }
.supblhd{ background-color:#5e4ea0; padding:10px; margin-bottom:10px;} 
.supperbill h2{ padding:0px; margin:6px 0px 0px 0px; color:#fff; text-transform:uppercase; font-size:18px; font-weight:bold}
/*.supperbill label{ color:#fff; text-transform:uppercase; font-size:18px; }*/
.supblhd .vipbut{ background-color:transparent; border-radius:0px; border:0px; font-weight:bold}
.dxcods{ margin-bottom:10px;}
.dxcods h3{ font-size:18px; color:#5b5b5b; padding:0px; margin:10px 0px; font-weight:bold}
.dxcods .form-control{ border-radius:0px; }
.dxcods .input-group{ margin-bottom:5px}
.dxtabl .form-control{ border-radius:0px; }
.tstpanl {
    background-color: #673782;
    min-height: 1360px!important;
}


.uplddoc h2{ font-size:18px; color:#fff; border-bottom:1px solid rgba(255,255,255,0.30); padding:10px 0px; margin:0px; font-weight:bold; text-transform:uppercase }
.upldimg{ background-color:#fff; padding:0px; margin:10px 0px; text-align:center; position:relative }
.upldvw{ position:absolute; right:0px; bottom:0px; }
.siteName{position:absolute; right:0px; top:0px; background-color:#1b9e95; color:#FFF; font-weight:bold; padding:1px 3px; border-radius:2px; font-size:80%;}
.fileName{position:relative; right:0px; top:0px; background-color:#666; color:#FFF; font-weight:bold; padding:1px 3px; border-radius:2px; font-size:80%;max-width:100%; overflow: hidden;white-space: nowrap; text-align: left;}
.uplddoc{ color:#fff; font-size:16px;}
.tstlft h2 { font-size:18px; color:#fff; border-bottom:1px solid rgba(255,255,255,0.30); padding:10px 0px; margin:0px; font-weight:bold; text-transform:uppercase }
.tstlft h3 { font-size:14px; color:#fff; padding:10px 0px 0px 0px; margin:0px; font-weight:bold; text-transform:uppercase }
.tstlst_tab{background-color: rgba(255,255,255,0.30); margin:5px 0px 10px 0px; }
.tstlst_tab h2{ font-size:14px; padding:5px;}
.tstlst_tab ul{ padding:0px; margin:0px; list-style:none}
.tstlst_tab ul li{ padding:5px; margin:0px; list-style:none; border-bottom:1px solid rgba(255,255,255,0.30); color:#fff; position: relative}
.tstlst_tab ul li:last-child{ border-bottom:0px;} 
.tstlst_tab ul li figure{float:right !important; margin-right:5px;}
.tstlst_tab ul li a{ color:#fff; font-size:14px; text-decoration:none}
.tstlst_tab ul li a:hover{ color:#fff; text-decoration: underline  }

.green-flag{color:#00ff00 !important;}
.red-flag{color:#ff0000 !important;}
.yellow-flag{color:#FF0 !important;}
#saved_tests_container{overflow:auto; overflow-x:hidden;}
.purged_css{text-decoration:line-through !important}

/*Cell Count Css*/
.cellconthd{ border-bottom:1px solid #d9d9d9; position:relative; padding-left:142px}
.cellconthd figure{ position:absolute; top:0px; left:0px; background-color:#12c7b7; color:#fff; padding:15px; font-size:21px;}

.cellconthd ul{ padding:0px; margin:0px; list-style:none}
.cellconthd ul li{ padding:0px; margin:10px 5px 0px 0px; list-style:none; display:inline-block}

.cellconthd .ouc input[type=checkbox] {
display:none;
}
 
.cellconthd .ouc input[type=checkbox] + label
{ background-image:url(../images/tstou.png); background-repeat:no-repeat; 
height:40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.cellconthd .ouc input[type=checkbox]:checked + label
{
background-image:url(../images/tstouactive.png); background-repeat:no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}


.cellconthd .odc input[type=checkbox] {
display:none;
}
 
.cellconthd .odc input[type=checkbox] + label
{ background-image:url(../images/tstod.png); background-repeat:no-repeat; 
height:40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.cellconthd .odc input[type=checkbox]:checked + label
{
background-image:url(../images/tstodactive.png); background-repeat:no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}





.cellconthd .osc input[type=checkbox] {
display:none;
}
 
.cellconthd .osc input[type=checkbox] + label
{ background-image:url(../images/tstos.png); background-repeat:no-repeat; 
height:40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.cellconthd .osc input[type=checkbox]:checked + label
{
background-image:url(../images/tstosactive.png); background-repeat:no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}


.phyintershp{ background-color:#f9f9f9; padding:0px; margin-bottom:10px;}
.phyintershp h2{ padding:0px; margin:0px; font-size:22px; color:#fff; text-align:center}
.phybg{ background-color:#1b9e95; display:block; padding:10px;}
.intrela { position:relative; padding:13px 0px 0px 45px}
.intrela figure{ position:absolute; top:4px; left:0px;}
.intrela figure.od{ background-color:#0000ff; color:#fff; font-size:16px; display:block; border-radius:50px; width:35px; height:35px; text-align:center; line-height:34px}
.intrela figure.os{ background-color:#2b8000; color:#fff; font-size:16px; display:block; border-radius:50px; width:35px; height:35px; text-align:center; line-height:34px}
.celltstrslt { border-bottom:1px solid #d9d9d9; padding:0px 0px 10px 0px; margin:0px 0px 10px 0px; position:relative}
.celltstrslt  h2{ font-size:24px; color:#323232; padding:0px; margin:0px ;}
.celltstrslt figure{ position:absolute; top:3px; right:0px;}
.celltstrslt .prevvalue{ background-color:#8bc34a; border-radius:0px; border-bottom:1px solid #649d21; padding:5px 10px; color:#FFFFFF; text-decoration:none }
.testsctbx .form-group{ margin-bottom:0px;}
.performedBy label{ line-height:inherit} 

.rsltbl{ background-color:#673782; color:#fff; border-radius:50px; width:55px; height:55px; text-align:center; display: inline-block; border:4px solid rgba(0,0,0,0.30); font-size:16px; font-weight:bold; line-height:48px; margin-top:50px  }

.testsctbx label{ font-weight:normal}

/*Cell Count Css*/


.testtopbar{ background-color:#ffffff; -webkit-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 0.5px rgba(0,0,0,0.1); padding:10px; /*margin-bottom:12px*/}
.testtopbar label{ font-weight:normal}
.testtopbar h2{ padding:0px; margin:8px 0px; color:#000000; font-size:22px; font-family: 'robotolight'; line-height:34px;}
.testtopbar h2 span{font-size:16px; color:#F00; font-weight:bold; padding-left:10px;}
.testsub{background-color:#f9f9f9; padding:5px 15px 0px 15px!important ; margin:10px 0px; border:1px solid #f4f4f4}

.testsub ul{ padding:0px; margin:0px; list-style:none}
.testsub ul li{ padding:0px; margin:0px 4px 0px 0px; list-style:none; display:inline-block}
.testsub label{ font-weight:normal}

.testopt ul li {margin:0px 10px !important;}
.testopt .ouc input[type=checkbox] {
display:none;
}
 
.testopt .ouc input[type=checkbox] + label
{ background-image:url(../images/tstou.png); background-repeat:no-repeat; 
height:40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.testopt .ouc input[type=checkbox]:checked + label
{
background-image:url(../images/tstouactive.png); background-repeat:no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}


.testopt .odc input[type=checkbox] {
display:none;
}
 
.testopt .odc input[type=checkbox] + label
{ background-image:url(../images/tstod.png); background-repeat:no-repeat; 
height:40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.testopt .odc input[type=checkbox]:checked + label
{
background-image:url(../images/tstodactive.png); background-repeat:no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}





.testopt .osc input[type=checkbox] {
display:none;
}
 
.testopt .osc input[type=checkbox] + label
{ background-image:url(../images/tstos.png); background-repeat:no-repeat; 
height:40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.testopt .osc input[type=checkbox]:checked + label
{
background-image:url(../images/tstosactive.png); background-repeat:no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px; cursor:pointer
}
.testsub .form-inline .form-control { width: 143px;}
.testsub .form-group{ margin-top:5px;}

.photuplod ul { padding:0px; margin:0px; list-style:none}
.photuplod ul li { padding:0px; margin:0px; list-style:none; display:inline-block}
.photuplod ul li{ margin:10px 10px 0px 0px;}
.photuplod a{ text-transform:uppercase; color:#727272; text-decoration:none; }
.photuplod a:hover{ color:#673782; text-decoration:none}
.tstresultbx{ border:1px solid #e1e1e1; margin-bottom:10px;}
.tstresultbx .head{ border-bottom:2px solid #ff6b6b; padding:8px 20px; margin-bottom:10px; position:relative }
.tstresultbx .head h2{ padding:0px; margin:0px; color:#616161; text-transform:uppercase; font-size:16px; font-weight:normal; font-family: 'robotobold'; line-height:28px }
.tstresultbx .head .exambut{ border-radius:3px; background-color:#5c2a79; border:0px; color:#fff; padding:3px 8px}

.tstresultbx .head .form-control{ width:100px;}
.tstresultbx .form-control {
    border-radius: 0 !important;
    padding: 2px 5px !important;
    text-align: left; height:28px; margin-bottom:5px
}

.tstresultbx select option{ margin:0px}
.bilat {
    background-color: #5b2679;
    color: #fff;
}

.treatment ul { padding:0px; margin:0px; list-style:none}

.treatment ul li{ margin:10px 10px 0px 0px; padding:0px; list-style:none; display:inline-block}
.treatment ul li a{ text-transform:uppercase; color:#727272; text-decoration:none; }
.treatment ul li a:hover{ color:#673782; text-decoration:none}

.treatmbx textarea.form-control{ height:130px;}
.futappo{ background-color:#F3F3F3; padding:10px; text-align:center; font-size:12px; margin:0px 0px}
.supperbill .row{ margin:0px;}

.testopt .ouc label input[type="checkbox"]:checked + .label_txt, .testopt .ouc label input[type="radio"]:checked + .label_txt {
    background-image: none;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 8px; width:35px; height:35px; margin-left:-1px; background-color:#51418d; color:#fff;
}


.testopt .ouc label  {
    border: 2px solid #eaeaea;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    padding: 7px 0px; width:38px; height:38px; text-align:center; background-color:#fff;
}

.testopt .ouc label .label_txt {
    padding: 0;
}



.testopt .odc label input[type="checkbox"]:checked + .label_txt, .testopt .odc label input[type="radio"]:checked + .label_txt {
   background-image: none;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 8px; width:35px; height:35px; margin-left:-2px; background-color:#0000ff; color:#fff;
}


.testopt .odc label  {
    border: 2px solid #bdbdbd;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    padding: 7px 0px; width:38px; height:38px; text-align:center; background-color:#fff;
}

.testopt .odc label .label_txt {
    padding: 0;
}

.testopt .osc label input[type="checkbox"]:checked + .label_txt, .testopt .osc label input[type="radio"]:checked + .label_txt {
    background-image: none;
    border: 2px solid #bdbdbd;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 8px; width:35px; height:35px; margin-left:-2px; background-color:#268a26; color:#fff;
}


.testopt .osc label  {
    border: 2px solid #bdbdbd;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    padding: 7px 0px; width:38px; height:38px; text-align:center; background-color:#fff;
}

.testopt .osc label .label_txt {
    padding: 0;
}

.testopt input[type="checkbox"], .testopt input[type="radio"] {display: none;}


.tstrstopt label{    
    cursor: pointer;
    text-align: left;  color: #000; text-transform: uppercase; font-weight: normal!important; padding:1px 3px; font-size: 14px; background-color: #fff; 
}

.tstrstopt lable input[type="checkbox"], .tstrstopt label input[type="radio"] {
    display: none;
}

.tstrstopt input[type="checkbox"], input[type="radio"]{ display:none!important}

.tstrstopt label input[type="checkbox"]:checked + .label_txt, .tstrstopt label input[type="radio"]:checked + .label_txt {
	
    border: 2px solid #ff0000;
    border-radius: 0px;
    cursor: pointer;
    font-weight: bold;
    padding: 0px; color: #ff0000; margin: 2px -3px; display: ruby-base;
}


.tstbx .row{ padding: 0px 12px;}
.macutabl > .row{ padding: 0px 17px!important;}
.tstrstopt .row{ padding: 0px 12px;}


.testtopbar .form-control{ height:28px; padding:0px 4px !important;}
.testtopbar .input-group-addon{ padding:5px 12px}

.diagnosis_slct select{ border-radius:0px!important; padding:2px!important}
.tstprof select{ border-radius:0px!important; padding:2px!important; height:28px; width:100%!important}
.ptunder{ padding:4px; }
.ptunder h2{ padding:0px; margin:0px;}
.ptunder h2 label{ color:#000000; text-transform:uppercase; border-bottom:2px solid #ff6b6b!important; margin:0px 0px 5px 0px; padding:0px 0px 5px 0px; font-size:16px; width:100%; background-color:inherit; border-radius:0px; height:auto; }

.ptunder label input[type="checkbox"]:checked + .label_txt, .ptunder label input[type="radio"]:checked + .label_txt{ border:1px solid #000000!important; padding:3px 6px!important; background-image:none!important; background-color:#5c2a79!important; color:#fff }

.dltvw{ position:absolute; left:0px; bottom:0px; }

/* Fundus Css Start*/
.mainarea{ background-color: #fff }


.testtbar{ margin:0px; padding:4px 8px; background-color:#fff; -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.39);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.39); z-index: 999; position: relative }
.testtbar label { font-weight: normal; margin:0px 3px }
.testtbar .form-control{ width:110px!important; height:30px!important}
.tstopt{ padding:0px /*0px 14px*/; margin: 0 3px}
.tstopt [class*="col-"] {padding:0px!important}

.siteopt{ background-color:#f0f0f0; height: 40px}
.sitetab{ background-color:#e3e3e3; height: 40px}
.sitehd{ background-color:#3f51b5; color: #fff; font-size: 12px; padding:12px 15px!important; text-transform: uppercase; font-weight: bold; height: 40px; line-height: 40px; text-align: center }

.siteopt ul{ padding:0px; margin: 0px; list-style: none}
.siteopt ul li{ padding:0px; margin: 0px; list-style: none; display: inline-block}

.sitetab ul{ padding:0px; margin: 9px 0px 0px 10px; list-style: none; text-align: left}
.sitetab ul li{ padding:0px; margin: 0px; list-style: none; display: inline-block; font-weight: bold; vertical-align:middle}
.sitetab ul li a{ color:#3d3d3d; font-size: 14px; text-transform: uppercase; font-family: 'robotoregular'; border:2px solid #e3e3e3; padding: 3px 6px}
.sitetab ul li a:hover{ border:2px solid #3f51b5; color:#ff0000; text-decoration: none}

.technibox{ padding: 5px  /*5px 10px 10px 18px*/}
.technibox .form-group{ margin-bottom:5px}
.technibox label{ font-weight:normal}
.technibox input.form-control{ height:30px}
.technibox select.form-control{ height:30px}
.pdlft10{ padding-left:10px !important;}
.pdlft15{ padding-left:15px !important;}
.pdlft20{ padding-left:20px !important;}
.corporat{ background-color:#f0f0f0; margin-bottom: 10px}
.corporat ul{ padding:0px; margin: 0px; list-style: none}
.corporat ul li{ padding:0px; margin: 0px; list-style: none; display: inline-block}
.corporat .head{ background-color:#696969; font-size:18px; color:#fff; padding: 6px 10px; margin-right: 10px }
.btn-coopbut { color:#3d3d3d; font-size: 14px; text-transform: uppercase; font-family: 'robotobold'; border:2px solid #f0f0f0; padding: 3px 6px; }
.btn-coopbut:hover { border:2px solid #3f51b5; color:#ff0000; text-decoration: none}

.btn-value{border-radius:3px; color: #fff; background-color: #3f51b5; padding: 4px 10px; border:0px; margin: 5px 16px 3px 3px; text-transform: uppercase; font-family: 'robotobold';}
.btn-value:hover{background-color: #8bc34a; }
.odstrip{background-color:#3f51b5; font-size: 18px; color:#fff; font-family: 'robotobold'; text-align: center; width:42%;}
.osstrip{background-color:#8bc34a; font-size: 18px; color:#fff; font-family: 'robotobold'; text-align: center; width:42%;}

.tstbx{ background-color:#f0f0f0}
.tstbx .table{ background-color:transparent!important; margin-bottom: 0px}
.tstbx .table td{border:none}
.macutabl{ background-color:#f8f8f8}
.tdlft{ background-color:#dddddd;}

.tabmb0{ margin-bottom:0px!important}
.tdbordnon td{border:none!important}
.tdlftpan{background-color:#f5f5f5; width:14%;}

.tstfot{ background-color:#f5f5f5; padding: 10px 20px; -webkit-box-shadow: 0px -2px 5px -4px rgba(0,0,0,0.68);
-moz-box-shadow: 0px -2px 5px -4px rgba(0,0,0,0.68);
box-shadow: 0px -2px 5px -4px rgba(0,0,0,0.68);}
.tstfot h2{ text-transform:uppercase; padding: 0px 0px 10px 0px; margin: 10px 0px 10px 0px; border-bottom:1px solid #d7d7d7; font-family: 'robotobold'; font-size:16px}
.nofut{ background-color:#f5f5f5; text-align: center; padding: 5px 0px }

.techara{ margin:10px 0px}
.techara label{ font-weight:normal}
.supbill{ background-color:#5e4ea0; padding: 5px; margin-bottom: 10px}
.supbillbut{ background-color:rgba(255,255,255,0.10); border-radius:2px; padding: 2px 4px; color: #fff; font-family: 'robotobold'; text-transform: uppercase }
.supbillbut:hover, .supbillbut:focus{ color: #fff; text-decoration: none }
.btn-vip{ background-color:#329e9c; border:0px; border-radius:3px; color:#fff; padding: 4px 6px; text-transform: uppercase }
.btn-printmeds{ background-color:#8bc34a; border:0px; border-radius:3px; color:#fff; padding: 4px 6px; text-transform: uppercase }
.dxcode h3{ font-size:18px; color:#6c6c6c; text-transform: uppercase; font-family: 'robotobold'; }
.dxvalue{ padding:0px 10px}
.dxvalue .form-control{ height:28px; }
.dxvalue .input-group{ margin-bottom:5px}
.dxvalue .input-group-addon{ padding:6px}
.cptcode{ margin-top:10px;}
.cptcode .tophead{ background-color:#f0f0f0; color: #000; font-family: 'robotobold'; font-size: 13px!important; text-transform: uppercase; text-align: center}
.cptcode .form-control{ height:28px; font-size:12px; padding: 0px; width: 60px}
.cptcode .form-inline .form-control{ height:28px; font-size:12px; padding: 0px; width: 50px}
.cptcont{ background-color:#12c7b7; padding: 2px 4px; color:#fff; line-height: 27px!important; width:25px; text-align: center }
.cptcode td{ padding:4px!important}




.tstlst ul{ padding:0px; margin:0px; list-style:none}
.tstlst ul li{ padding:0px; margin:0px; list-style:none; position: relative; color:#fff; line-height: 30px }
.tstlst ul li figure{ position:absolute; top: 0px; right:0px;}
.tstlst ul li a{ color:#fff; font-size:14px; text-decoration:none}
.tstlst ul li a:hover{ color:#fff; text-decoration: underline  }

.tstlftpan{ background-color:#f5f5f5}
.bltra{ background-color:#f0f0f0; color: #673782; font-size:18px; font-family: 'robotobold'; width:2%;}
td{vertical-align:middle!important}

.phyintrhead{ background-color:#696969; color: #fff; font-size: 20px; text-align: center; font-family: 'robotobold'; text-transform: uppercase  }

/* Super Bill Block */
#tblSuperbill .cptcode{margin-top:0px;}
input.frcb[type=checkbox] {
    display: none;
}
label.frcb {
    cursor: pointer;
    text-align: left;
    border: 1px solid transparent!important;
}
input.frcb[type=checkbox]:checked + label.frcb {
    background-color: white;
    font-size: auto;
    font-weight: bold;
    color: Red;
    border: 1px solid #1569C7!important;
}

.tstrstopt .form-group {  width: 28%;}
.tstrstopt .form-group input{ width:80%;}
.mrtxt{ margin:4px 10px;
}

/* Fundus Css End*/


.icg .odc label {
    border-radius: 6px;
    padding: 3px 5px;
    text-align: center;
    width: inherit!important; height:30px
}

.icg .odc label input[type="checkbox"]:checked + .label_txt, .icg .odc label input[type="radio"]:checked + .label_txt {
    height:30px;
    margin-left: -6px!important;
    margin-right: -6px!important;
    padding: 3px 5px!important;
     width: inherit!important;
	 border-radius: 6px;
}

.icg .osc label {
    border-radius: 6px;
    padding: 3px 5px;
    text-align: center;
    width: inherit!important; height:30px
}

.icg .osc label input[type="checkbox"]:checked + .label_txt, .icg .osc label input[type="radio"]:checked + .label_txt {
    height:30px;
    margin-left: -6px!important;
    margin-right: -6px!important;
    padding: 3px 5px!important;
     width: inherit!important;
	 border-radius: 6px;
}






@media (min-width: 768px) and (max-width: 991px) {
.tstflt .odbox{left:5px; }
.tstflt .osbox{ left:5px; }	
.topbar .form-group { width:48%;}	
.topbar .form-control {
    border-radius: 0;
    width: 100%;
}
.topbar .input-group {
    width: 100%;
}

.tpscanc label{ display:block; text-align:center!important }
.kloption .form-control { width: 42.5% !important;}	


	}
	
@media (min-width: 992px) and (max-width: 1199px) {
.topbar .form-group { width:48%;}	
.topbar .form-control {
    border-radius: 0;
    width: 100%;
}
.topbar .input-group {
    width: 100%;
}

.tpscanc label{ display:block; text-align:center!important }	
.tstflt .odbox{left:5px; }
.tstflt .osbox{ left:5px; }		
.phyintershp h2 {font-size: 14px;}	
	
	
	}
	
@media (min-width: 992px) and (max-width: 2400px) {
    .testmain > .row {
        display: table; width:100%
    }
    .testmain > .row > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
	
	 .testmain > .row > .col-sm-2{ width:12%; }
	 .testmain > .row > .col-sm-8 {width: 76.667%;}
	 
	 .newtest > .container-fluid{ padding:0px; }
	 .newtest > .container-fluid > .row {
        display: table; width:100%; padding:0px; margin:0px ;
    }
    .newtest > .container-fluid > .row > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
	 
	 .topbar .form-group {width: 49%;}
}

